<div class="featured" class="mainElement">
    <div class="slide article">
       <div>
            <div class="caption">
                <% if (item.title) { %><h3><%= item.title %></h3><% } %>
            </div>
            <img src="<%- item.src %>">
            <p class="introText"><%- item.introText %></p>
            <div class="contentText"><%- item.content %></div>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
