<div class="featured" class="mainElement">
    <div class="slide article">
       <div>
            <div class="caption">
                <% if (item.title) { %><h3><%- item.title %></h3><% } %>
            </div>
           <% if (item.src) { %><img src="<%- item.src %>"><% } %>
           <% if (item.introText) { %><p class="introText"><%- item.introText %></p><% } %>
           <% if (item.content) { %><div class="contentText"><%- typeof item.content == "function" ? item.content(locals) : item.content %></div><% } %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
