<div id="install" class="installation">
    <h3>After Download</h3>

    <p>Just unzip the file you downloaded, in the directory (e.g. <code class="dirName">neo4j-community-1.8</code>) you'll find:</p>
    <ul>
        <li>configuration files under <code>conf/</code></li>
        <li>database files under <code>data/graph.db</code></li>
        <li>log files under <code>data/log</code> and <code>data/graph.db/messages.log</code></li>
        <li>start- and other scripts under <code>bin/</code></li>
    </ul>
    <p>Just start Neo4j Server with <code>bin/neo4j start</code> in a command line console or terminal of your choice, <br/>
        then open <a href="http://localhost:7474" target="_blank"><code>http://localhost:7474</code></a> for the web interface.</p>

    <a data-toggle="lightbox" href="#installvideo" class="thumbnail"><img src="/assets/img/still/install.gif"
                                                                          alt="Click to View"/></a>

    <p class="caption"><i class="icon icon-facetime-video"></i> Peter Neubauer guides through the first steps of downloading and running Neo4j.</p>

    <div class="lightbox fade" id="installvideo" tabindex="-1" style="display: none;" src="http://player.vimeo.com/video/53838744">
            <div class='lightbox-content'>
                <iframe src="" width="1000" height="432" frameborder="0"
                    webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen"
                    allowfullscreen="allowFullScreen"></iframe>
        </div>
    </div>
</div>
