<% include ../head %>

<div class="container">

    <div id="release_notes" class="hero-unit path">

        <h1>Neo4j Release Notes</h1>

        <p class="lead">Enjoy your database and explore more options of managing your connected data.</p>
    </div>

    <h3 class="target" id="neo4j-1.8.1">Neo4j 1.8.1 (Community, Advanced and Enterprise Editions)</h3>

    <p>The 1.8.1 release of Neo4j (Community, Advanced and Enterprise editions) is a service release and includes the following corrections and improvements:</p>

    <ul>
        <li>Correction of several errors in the parsing and evaluation of Cypher statements.</li>
        <li>Improvements in the memory footprint of most Cypher statements.</li>
        <li>Correction of an error in calculating shortest paths that could occur for some graph structures.</li>
        <li>Improvements in the diagnostic logging required for support provided by Neo Technology.</li>
    </ul>

    <p><strong>It is recommended to upgrade all Neo4j 1.8 (and earlier) installations to this release, which is fully
        backward compatible</strong>. Please see the <a href="http://docs.neo4j.org/chunked/1.8.1/deployment.html">deployment
        section of the neo4j manual</a> for more detail.</p>

    <p>For a full summary of changes in this release, please review the CHANGES.TXT file contained within the distribution.</p>

    <hr/>

    <h3 class="target" id="neo4j-1.8">Neo4j 1.8 (Community, Advanced and Enterprise Editions)</h3>

    <p>The 1.8 release of Neo4j (Community, Advanced and Enterprise editions) provides extensive improvements in
        stability and performance. As an incremental service release, Neo4j 1.8 builds upon the previous 1.6 and 1.7
        releases and provides full backward compatibility.</p>

    <p>This release includes the following corrections and improvements:</p>
    <ul>
        <li>Correction of several concurrency issues affecting performance in multi-threaded configurations.</li>
        <li>Correction of several concurrency issues that infrequently affect consistency of persisted data.</li>
        <li>Optimization of high-availability (HA) protocols to increase write performance.</li>
        <li>Support for zero-downtime rolling upgrades in HA clusters.</li>
        <li>Improvements to transaction distribution in HA clusters, providing greater resistance to branching.</li>
        <li>Configurable rotation of logical logs.</li>
        <li>Support for streamed responses to REST API requests.</li>
        <li>Support for bi-directional traversals, branch state and path expanders in the traversal framework.</li>
        <li>Performance improvements to several graph algorithms.</li>
        <li>Support in the Cypher language for writing graph data and updating auto-indexes (manual indexes are not
            supported).
        </li>
        <li>Extensions to the Cypher language to allow the use of patterns as expressions and predicates.</li>
        <li>Correction of several issues in the Cypher parser when using collections and when aggregating.</li>
        <li>Improved error reporting in Cypher and more reliable statement parsing.</li>
        <li>Support for explicit transactions in neo4j-shell.</li>
    </ul>

    <p><strong>It is recommended to upgrade all previous Neo4j installations to this release.</strong> Neo4j 1.8 does not require
        any explicit upgrade to persistent stores created using Neo4j 1.6 and 1.7 installations. Please see the
        <a href="http://docs.neo4j.org/chunked/1.8/deployment.html">deployment section of the neo4j manual</a> for more detail.</p>

    <p>For a full summary of changes in this release, please review the CHANGES.TXT file contained within the distribution.</p>
</div>

<% include ../foot %>
