<% include ../head %>



      <!-- Main Content Row -->
      <div class="main row">
        <div class="span8">
          <h1>DIY on Amazon EC2</h1>
          <p class="lead">Neo4j is a graph database. A graph database stores data. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec venenatis turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam arcu elit, rutrum sit amet gravida vulputate, rhoncus a ipsum. Cras gravida odio et sapien tincidunt at porta lectus volutpat. Praesent eu malesuada dolor. Vestibulum quis nisl ut dui molestie luctus. Maecenas in interdum urna. Vestibulum purus urna, eleifend non pellentesque nec, aliquet quis est. Phasellus non est non nulla scelerisque posuere. Ut tempus dapibus dui, at pulvinar odio consequat eu. Sed vitae lorem nisl, dapibus interdum libero. Pellentesque tincidunt libero sit amet ante ultricies eleifend. Duis semper malesuada nisl, quis feugiat neque sollicitudin ac. Vestibulum facilisis porttitor nulla, vitae ultricies nisl varius non. Nam leo est, mollis ac aliquam quis, molestie quis mauris.</p>

          <p>Nunc lacinia velit et odio auctor a rhoncus ligula viverra. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus eleifend nisi id nisl congue eu sagittis neque dapibus. Donec suscipit, mauris vel mollis varius, mauris lacus consectetur purus, in rhoncus tellus odio vitae magna. In ultricies ante eget dolor lacinia commodo. Pellentesque eros lectus, commodo nec congue sit amet, feugiat sit amet sem. Nam tempus neque ac tortor pretium vestibulum sodales ipsum dictum. Aliquam faucibus iaculis velit, sit amet scelerisque nisl aliquet quis. Mauris et est nulla. Vestibulum rhoncus suscipit elit, eget luctus diam vestibulum quis. Integer a diam orci, quis consectetur lacus. Nunc vel libero at justo eleifend volutpat at non mi. In gravida tincidunt lacus, placerat luctus nisl ultrices vitae. Aenean sagittis dapibus faucibus. Suspendisse est augue, porta eget rhoncus sit amet, lobortis eu dui. Etiam in bibendum erat.</p>
          
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#community" data-toggle="tab">Community</a></li>
              <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
              <li><a href="#enterprise" data-toggle="tab">Enterprise</a></li>
            </ul>
            <div class="tab-content">            
              <div class="tab-pane active" id="community">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>scalable - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="advanced">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>scalable - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="enterprise">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>huge - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                    <tr class="enterprise"><td>robust - High Availability for read scaling and failover</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          <div class="related row">
            <div class="span2">
              <h3>Heading</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="span2">
              <h3>Heading</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="span2">
              <h3>Heading</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="span2">
              <h3>Heading</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
          </div>

        </div>
        
        <aside class="span4 sidebar">
          <div class="summary">
            <h2>Briefly</h2>
            <div class="well">
              <p>Neo4j is a <strong>graph</strong> database</p>
              <ul class="circle">
                      <li>the data model is a Property Graph</li>
                      <li>Nodes + Relationships, with Properties</li>
                      <li>Query with a traversal</li>
                      <li>Indexes for simple lookups</li>
              </ul>
              <p>Neo4j is a graph <strong>database</strong></p>
              <ul class="circle">
                      <li>reliable ACID transactions</li>
                      <li>scalable to billions of records</li>
                      <li>easily grokked REST API</li>
                      <li>high-performance HA clustering</li>
              </ul>
  
            </div>
          </div>
          
          <div class="next-steps">
            <h2>Next Steps</h2>
            <div class="next thumbnail">
              <div class="caption">
                <h5><i class="icon-download"></i> Download Neo4j <%= neo4j.version %></h5> 
                <p><%= neo4j.summary %></p>
                <a href="/download" class="btn btn-primary" type="button">Neo4j <%= neo4j.version %></a>
                <a href="<%= neo4j.readme %>" class="btn" type="button">Read More</a>
              </div>            
            </div>
          </div>

        </aside>
      </div>


<% include ../foot %>

