<% include ../head %>


<!-- Main Content Row -->
<div class="main row">
    <div class="container">
        <h1>Sample Datasets to get you going</h1>
        <ul>
            <li><a href="http://example-data.neo4j.org/files/drwho.zip">DrWho (0.05MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/fec_data_presidential_2012.zip">fec_data_presidential_2012.zip
                (63.91MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/twitter.s12gx.zip">twitter.s12gx.zip (0.19MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/cineasts_39_movies_446_actors.zip">cineasts_39_movies_446_actors.zip
                (0.14MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/cineasts_12k_movies_50k_actors.zip">cineasts_12k_movies_50k_actors.zip
                (12.32MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/hubway_data_challenge_boston.zip">hubway_data_challenge_boston.zip
                (50.01MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/neo4j-jdbc-driver-demo-people-dataset.zip">neo4j-jdbc-driver-demo-people-dataset.zip
                (0.00MB)</a></li>
            <li><a href="http://example-data.neo4j.org/files/nosqlnow.zip">NoSQL Now (0.01MB)</a></li>
        </ul>
    </div>

    <!--<aside class="span4 sidebar">
      <div class="summary">
        <h2>Next steps</h2>
        <div class="well">
          <p>Start your Heroku Neo4j project</p>
          <ul class="circle">
                  <li><a href="https://github.com/neo4j/neo4j-heroku-example">Clone an example Github Herkou template</a></li>
              <li><a href="https://devcenter.heroku.com/articles/neo4j">Heroku addon see the Heorku docs for information</a></li>
          </ul>
        </div>
      </div>



    </aside>-->
</div>


<% include ../foot %>

