<% include ../head %>



      <!-- Main Content Row -->
      <div class="main row">
        <div class="span8">
          <h1>Installing the Neo4j server on Linux/Max</h1>
            <iframe title="Neo4j Videography Video Player" width="640" height="360" src="http://video.neo4j.org/player/U4Yq" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


        </div>
        
        <!--<aside class="span4 sidebar">
          <div class="summary">
            <h2>Next steps</h2>
            <div class="well">
              <p>Start your Heroku Neo4j project</p>
              <ul class="circle">
                      <li><a href="https://github.com/neo4j/neo4j-heroku-example">Clone an example Github Herkou template</a></li>
                  <li><a href="https://devcenter.heroku.com/articles/neo4j">Heroku addon see the Heorku docs for information</a></li>
              </ul>
            </div>
          </div>
          


        </aside>-->
      </div>


<% include ../foot %>

