<% include ../head %>
<div class="container">
  
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="spring" class="hero-unit">
        <div id="sdn_banner" class="pagination-centered">
          <img src="/assets/img/spring/springdataNeo4j-logo-cmyk-11.png" alt="" title="Spring Data Neo4j" width="635" height="155" />
        </div>
      </div>

        <div>
            <img src="http://neo4j.org/wp-content/uploads/2012/02/sdn-cover.png" alt="Good Relationships - The Spring Data Neo4j Guide Book" width="100px" height="132px" align="left" hspace="5" />
            <h3><em>Good Relationships - The Spring Data Neo4j Guide Book</em> by Michael Hunger</h3>

        <p>This guide introduces you to Spring Data Neo4j, using the fast, powerful and scalable graph database Neo4j to enjoy the
          benefits of having good relationships in your data.
          <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.infoq.com/minibooks/good-relationships-spring-data');"
            href="http://www.infoq.com/minibooks/good-relationships-spring-data">Download Your Free ebook at InfoQ</a>.
        </p>
        </div>

      <!-- Main Content Row -->
      <div class="main row">
        <div class="span12">
                  
          <h3>Spring Data Neo4j POJO Based Development</h3>
          <p><b>Spring Data Neo4j enables POJO based development for graph databases like Neo4j. It extends annotated entity classes with transparent mapping functionality. Spring Data Neo4j is part of the bigger Spring Data project which aims to provide convenient support for NOSQL databases. </b><br />
          </p>
          <p>&#8220;I’m excited about Spring Data Neo4j &#8230; Spring Data Neo4j makes working with Neo4j amazingly easy, and therefore has the potential to make you more successful as a developer. &#8230; I encourage you to explore Spring Data, and &mdash; better still &mdash; become involved in the community and contribute.&#8221;<br />
          <b>Rod Johnson, Founder, Spring and SVP, Application Platform, VMware</b> </p>
    
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#start" data-toggle="tab">Getting Started</a></li>
              <li><a href="#download" data-toggle="tab">Download</a></li>
              <li><a href="#features" data-toggle="tab">Features</a></li>
              <li><a href="#action" data-toggle="tab">Spring Data Neo4j in Action</a></li>
              <li><a href="#resources" data-toggle="tab">Resources</a></li>
              <li><a href="#presentations" data-toggle="tab">Presentations</a></li>
            </ul> 
                 
            <div class="tab-content">
            
              <div class="tab-pane active" id="start">            
                <h3>Getting Started with Spring Data Neo4j</h3>
                <div class="hr"></div>
                <p>1. Download <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/download');" 
                  onclick="javascript:pageTracker._trackPageview('http://spring.neo4j.org/download');"   href="http://spring.neo4j.org/download">Spring Data Neo4j</a></p>
                <p>2. Check out our <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/source');" 
                  onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/source&#039;);"  
                  href="http://spring.neo4j.org/source" class="broken_link">Github Quick Start </a></p>
                <p>3. Look at examples <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/examples');" 
                  onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/examples&#039;);"  
                  href="http://spring.neo4j.org/examples" class="broken_link"> for a better understanding</a></p>
                <p>4. Refer to the <a onclick="javascript:pageTracker._trackPageview('/outgoing/info.neotechnology.com/sdn-good-relationships.html');"
                  onclick="javascript:pageTracker._trackPageview('http://info.neotechnology.com/sdn-good-relationships.html');"   
                  href="http://info.neotechnology.com/sdn-good-relationships.html">Spring Data Neo4j Guide</a></p>
                <p>5. Watch our Webinar: <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/sdnwebinar');" 
                  onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/intro&#039;);"  
                  href="http://youtu.be/heC-8Pq2exQ" class="broken_link">Introduction to Spring Data Neo4j</a></p>
                <div class="hr"></div>
                </p>
  
              </div> <!-- tab-pane start -->
              
              <div class="tab-pane" id="download">
                <h3>Download <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/download');" 
                  onclick="javascript:pageTracker._trackPageview('http://spring.neo4j.org/download');"   href="http://spring.neo4j.org/download">Spring Data Neo4j 2.0.0</a></h3>
                <div class="hr"></div>
                <table class="bindings styled">
                <thead>
                <tr>
                <th width="350px">&nbsp;</th>
                <th width="150px">Edition</th>
                <th width="200px">Stable</th>
                <th width="200px">Snapshot</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td></td>
                <td></td>
                <td>2.0.0.RELEASE</td>
                <td>2.1.0.SNAPSHOT</td>
                </tr>
                <tr class="alt">
                <td>Spring Data Neo4j</td>
                <td>Library</td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/download');"  href="http://spring.neo4j.org/download">jar</a></td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/download');"  href="http://spring.neo4j.org/download">jar</a></td>
                </tr>
                <tr>
                <td>Spring Data Neo4j with Neo4j Server</td>
                <td>Community</td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/download');"  href="http://spring.neo4j.org/download"></a></td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-community-2.0-SNAPSHOT-windows.zip');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-community-2.0-SNAPSHOT-windows.zip" class="broken_link">Windows</a> | <a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-community-2.0-SNAPSHOT-unix.tar.gz');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-community-2.0-SNAPSHOT-unix.tar.gz" class="broken_link">Unix</a>
                                                        </td>
                </tr>
                <tr class="alt">
                <td>Spring Data Neo4j with Neo4j Server</td>
                <td>Advanced</td>
                <td></td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-advanced-2.0-SNAPSHOT-windows.zip');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-advanced-2.0-SNAPSHOT-windows.zip" class="broken_link">Windows</a> | <a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-advanced-2.0-SNAPSHOT-unix.tar.gz');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-advanced-2.0-SNAPSHOT-unix.tar.gz" class="broken_link">Unix</a>
                                                        </td>
                </tr>
                <tr>
                <td>Spring Data Neo4j with Neo4j Server</td>
                <td>Enterprise</td>
                <td></td>
                <td><a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-enterprise-2.0-SNAPSHOT-windows.zip');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-enterprise-2.0-SNAPSHOT-windows.zip" class="broken_link">Windows</a> | <a onclick="javascript:pageTracker._trackPageview('/outgoing/dist.neo4j.org.s3.amazonaws.com/neo4j-spring-enterprise-2.0-SNAPSHOT-unix.tar.gz');"  href="http://dist.neo4j.org.s3.amazonaws.com/neo4j-spring-enterprise-2.0-SNAPSHOT-unix.tar.gz" class="broken_link">Unix</a>
                                                        </td>
                </tr>
                </tbody>
                </table>
                <p>       
                <div class="hr"></div>
                </p>

              </div> <!-- tab-pane download -->
              
              
              <div class="tab-pane" id="features">
                <h3>Spring Data Neo4j Features</h3>
                <div class="hr"></div>
                <ul>
                <li class="first">Support for property graphs (nodes connected via relationships, each with arbitrary properties)</li>
                <div class="hr"></div>
                <li>Transparent mapping of annotated POJO entities (via <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.eclipse.org/aspectj/');"  href="http://www.eclipse.org/aspectj/">AspectJ</a></li>
                <div class="hr"></div>
                <li>Neo4jTemplate with convenient API, exception translation and optional transaction management</li>
                <div class="hr"></div>
                <li>Supports the Cypher and Gremlin query languages</li>
                <div class="hr"></div>
                <li>Dynamic type projections (duck typing)</li>
                <div class="hr"></div>
                <li>Spring Data Commons Repositories Support</li>
                <div class="hr"></div>
                <li>Cross-store support for partial JPA &#8211; Graph Entities</li>
                <div class="hr"></div>
                </ul>
              </div> <!-- tab-pane features -->
              
              <div class="tab-pane" id="action">
                <h3>Production Deployment</h3>
                <div class="hr"></div>
                <p><a href="http://cineasts.net/"><img src="http://neo4j.org/wp-content/uploads/2011/09/cineasts-300x125.png" alt="" title="cineasts" width="300" height="125" align="left" class="size-medium wp-image-454" /> &nbsp;<br />
                <br />
                Cineasts</a> is a movie recommendation website using the Spring Framework, Spring Data Neo4j, and the Neo4j database based on data from <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.themoviedb.org');"  href="http://www.themoviedb.org">themoviedb.org</a>. Features include: finding actors in a certain movie or searching for your favorite director to get your next Sunday night flick.</p>
                <div class="hr"></div>
                </p>
              </div> <!-- tab-pane action -->
              
              <div class="tab-pane" id="resources">
                <h3>Developer Resources</h3>
                <div class="hr"></div>
                <ul>
                <li>Refer to concise <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/notes');"  href="http://spring.neo4j.org/notes" class="broken_link">Developer Notes</a></li>
                <li>Read the details in <a onclick="javascript:pageTracker._trackPageview('/outgoing/info.neotechnology.com/sdn-good-relationships.html');"  href="http://info.neotechnology.com/sdn-good-relationships.html">Good Relationships: The Spring Data Neo4j Guide Book</a></li>
                <li>Borrow code from the <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/examples');"  href="http://spring.neo4j.org/examples" class="broken_link">Examples repository</a></li>
                <li>Fork us on <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/source');"  href="http://spring.neo4j.org/source" class="broken_link">GitHub</a></li>
                <li>Discuss with us in our <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/discussions');"  href="http://spring.neo4j.org/discussions" class="broken_link">Forum</a></li>
                <li>Learn more at the <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.springsource.org/spring-data/neo4j');"  href="http://www.springsource.org/spring-data/neo4j">SpringSource Project Page</a></li>
                </ul>
                <p>Plus, check out:</p>
                <ul>
                <li><a onclick="javascript:pageTracker._trackPageview('/outgoing/www.grails.org/plugin/neo4j');"  href="http://www.grails.org/plugin/neo4j">Neo4j Gorm Plugin</a></li>
                <li><a onclick="javascript:pageTracker._trackPageview('/outgoing/griffon.codehaus.org/Neo4j+Plugin');"  href="http://griffon.codehaus.org/Neo4j+Plugin">Neo4j Griffon Plugin</a></li>
                </ul>
                <div class="hr"></div>
              </div> <!-- tab-pane resources -->


              <div class="tab-pane" id="presentations">
                <h3>Past Presentations</h3>
                <div class="hr"></div>
                <p> <a onclick="javascript:pageTracker._trackPageview('/outgoing/www.infoq.com/presentations/Introduction-to-Spring-Data-Neo4j');" onclick="javascript:pageTracker._trackPageview('http://www.infoq.com/presentations/Introduction-to-Spring-Data-Neo4j');"   href="http://www.infoq.com/presentations/Introduction-to-Spring-Data-Neo4j">Presentation: Introduction to Spring Data Neo4j</a></p>
                <p> <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/sdnwebinar');" onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/sdnwebinar&#039;);"  href="http://spring.neo4j.org/sdnwebinar" class="broken_link">Webinar: Introduction to Spring Data Neo4j</a></p>
                <p> <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/intro');" onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/intro&#039;);"  href="http://spring.neo4j.org/intro" class="broken_link">Webinar: Getting Started with Spring Data Neo4j</a></p>
                <p> <a onclick="javascript:pageTracker._trackPageview('/outgoing/spring.neo4j.org/power');" onclick="javascript:pageTracker._trackPageview(&#039;http://spring.neo4j.org/power&#039;);"  href="http://spring.neo4j.org/power" class="broken_link">Using A Graph Database To Power The “Web of Things”</a></p>
                <div class="hr"></div>
                </p>
              </div> <!-- tab-pane presentations -->

              
            </div>
          </div>
        </div>
      </div>
      
</div>
<% include ../foot %>