<div class="row-fluid related" id="where">
    <div class="span6">
        <div class="related row">
            <div class="item book ">

                <h3>Neosocial</h3>
                <img class="preview" src="http://assets.neo4j.org/img/apps/neosocial.png">

                <div>
                    <p class="introText">Neosocial: Connecting to Facebook with Neo4j</p>
                </div>
            </div>
            <div class="item book">

                <h3><a class="" href="http://structr.org/home" target="_blank"
                       onclick="javascript:_gaq.push(['_trackEvent','outbound-neo4j','http://structr.org/home']);">Structr</a>
                </h3>

                <a class="" href="http://structr.org/home" target="_blank"
                   onclick="javascript:_gaq.push(['_trackEvent','outbound-neo4j','http://structr.org/home']);"><img
                        class="preview" src="http://assets.neo4j.org/img/apps/structr.gif"></a>

                <div>
                    <p class="introText">A Content Management System, build on Neo4j.</p>
                </div>
                <a class="link action" href="http://structr.org/home" target="_blank">Learn more »</a>
            </div>
        </div>
        <div class="related row">
            <div class="item default">

                <h3 id=""><a class="" href="http://blog.neo4j.org/2012/07/cypher-jdbc-tools-testing-results.html"
                             target="_blank"
                             onclick="javascript:_gaq.push(['_trackEvent','outbound-neo4j','http://blog.neo4j.org/2012/07/cypher-jdbc-tools-testing-results.html']);">Neo4j
                    JDBC tools integration</a></h3>

                <a class="" href="http://blog.neo4j.org/2012/07/cypher-jdbc-tools-testing-results.html" target="_blank"
                   onclick="javascript:_gaq.push(['_trackEvent','outbound-neo4j','http://blog.neo4j.org/2012/07/cypher-jdbc-tools-testing-results.html']);"><img
                        class="preview"
                        src="https://s3-eu-west-1.amazonaws.com/tiq-solutions/tumblr/pics/QVScriptNeo4j_Search_All_Roles_Spock.png"></a>

                <div>
                    <p class="introText">With the Cypher JDBC driver, a lot of tools can be easily integrated with
                        Neo4j.</p>
                </div>
                <a class="link action" href="http://blog.neo4j.org/2012/07/cypher-jdbc-tools-testing-results.html"
                   target="_blank">Learn more »</a>
            </div>
        </div>
    </div>
</div>