<div id="what">
    <div class="row-fluid">
        <div class="span6">
            Neo4j is a graph database
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    hej
                </div>
            </div>
        </div>
    </div>
</div>