<div class="row-fluid" id="where">
    <div class="span4">
        <a href="/learn"><i class="icon icon-book"></i> LEARN</a>
    </div>
    <div class="span4">
        <a href="/develop"><i class="icon icon-cogs"></i> DEVELOP</a>
    </div>
    <div class="span4">
        <a href="/participate"><i class="icon icon-refresh"></i> PARTICIPATE</a>
    </div>
</div>