<% include ../head %>
<div class="container">

    <!-- Example row of columns -->
    <div role="main" class="main row">

        <div class="span12">

            <div class="inner">
                <div id="apps" class="hero-unit path">
                    <h2><a><i class="icon icon-book"></i> Apps Gallery</a></h2>

                    <p class="lead">Built with Neo4j, tripping the graph fantastic. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnails apps row-fluid">

        <% ["flavorwocky","neosocial","typology","transportdublin"].forEach(function(app) { %>
            <% include _app %>
        <% }); %>

    </div>
    <div class="thumbnails apps row-fluid">

        <% ["structr","polymap"].forEach(function(app) { %>
            <% include _app %>
        <% }); %>

    </div>
</div>

</div>
    <% include ../foot %>

