<% include ../head %>

<!-- Example row of columns -->
<div role="main" class="row">

  
  <div class="span12">
    <div class="inner">
      <h1>Apps</h1><p class="lead">Built with Neo4j, tripping the graph fantastic. </p>
      <ul class="thumbnails integrate" id="isotope">

        <li class="span3">
          <div class="thumbnail corner">
              <a href="http://www.adobe.com/products/creativecloud.html">
                <span class="thumbTop"></span>
                <img src="/assets/img/apps/adobe.png" title="Adobe Creative Cloud" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Adobe Creative Cloud</h5> 
              <p>.</p>
            </div>            
          </div>
        </li>

    

      </ul>
    </div>
  </div>

</div>


<% include ../foot %>

