<% include ../head %>
<div class="container">

<!-- Example row of columns -->
<div role="main" class="main row">
  
  <div class="span12">

     <div class="inner">
         <div id="apps" class="hero-unit path">
           <h2><a><i class="icon icon-book"></i> Apps Gallery</a></h2>
           <p class="lead">Built with Neo4j, tripping the graph fantastic. </p>
         </div>

      <ul class="thumbnails apps" id="isotope">

        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://www.flavorwocky.com">
              <img src="/assets/img/apps/flavorwocky.png" title="Flavorwocky" alt="image" />
            </a>    
            <div class="caption">
              <h5>Flavorwocky</h5> 
              <p>A whimsical look at food pairing, graph-style.</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>

        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://maxdemarzi.com/2012/08/17/neosocial-connecting-to-facebook-with-neo4j/">
              <img src="/assets/img/apps/neosocial.png" title="Neosocial" alt="image" />
            </a>    
            <div class="caption">
              <h5>Neosocial</h5> 
              <p>Neosocial: Connecting to Facebook with Neo4j</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>

        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://typology.de/">
              <img src="/assets/img/apps/typology.png" title="Neosocial" alt="image" />
            </a>    
            <div class="caption">
              <h5>Typology</h5> 
              <p>Word typing predictions, based on Neo4j and Google N-Gram data.</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>


        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="https://github.com/WhichWay/TransportDublin">
              <img src="/assets/img/apps/TransportDublin.png" title="TransportDublin" alt="image" />
            </a>    
            <div class="caption">
              <h5>Transport Dublin</h5> 
              <p>A Neo4j & Google Maps based Public Transport Route Planner</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>


        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://structr.org/home">
              <img src="/assets/img/apps/structr.gif" title="Structr" alt="image" />
            </a>    
            <div class="caption">
              <h5>Structr</h5> 
              <p>A Content Management System, build on Neo4j.</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>

        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://polymap.org/polymap3/wiki/Screenshots">
              <img src="/assets/img/apps/polymap.png" title="Polymap" alt="image" />
            </a>    
            <div class="caption">
              <h5>Polymap</h5> 
              <p>A web based GIS system running on top of OpenStreetMap and other datasources, integrating with Neo4j Spatial.</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>


      </ul>
    </div>
  </div>

</div>

<div>
<% include ../foot %>

