<% include ../head %>

<!-- Example row of columns -->
<div role="main" class="row">

  
  <div class="span12">
    <div class="inner">
      <h1>Apps</h1><p class="lead">Built with Neo4j, tripping the graph fantastic. </p>
      <ul class="thumbnails integrate" id="isotope">

        <li class="span3">
          <div class="thumbnail corner">
            <span class="thumbTop"></span>
            <a href="http://www.flavorwocky.com">
              <img src="/assets/img/apps/flavorwocky.png" title="Flavorwocky" alt="image" />
            </a>    
            <div class="caption">
              <h5>Flavorwocky</h5> 
              <p>A whimsical look at food pairing, graph-style.</p>
            </div>  
            <span class="thumbBottom"></span>
          </div>              
        </li>


      </ul>
    </div>
  </div>

</div>


<% include ../foot %>

