<% include ../head %>
<div class="container">

    <div role="main" class="main row span12">
            <div class="inner">
                <div id="apps" class="hero-unit path">
                    <h2><a><i class="icon icon-book"></i> <%= title %></a></h2>

                    <p class="lead">There are Neo4j related everywhere at every time. Pick one.</p>
                </div>
        </div>
    </div>

    <div role="main" class="main row span12">
    <p>Join the Neo4j community at one of our events! Learn about Neo4j at a conference, meet other Neo4j users at a meet up, or quickly get up to speed at a Neo4j tutorial near you.</p>
    
    <p>If you want to learn more about Neo4j nothing beats a hands on experience. Listen to our community members and driver authors,
    talk to our engineers or discuss with our customers. There are many Neo4j Meetups, Trainings and Conferences happening everywhere and
    at any time.</p>
    </div>
    
    <h3>Events for your region: 
		<select id="region" style="width:10em;height:1.8em;vertical-align:baseline;">
		   <option value="WORLD">All</option>
		   <option value="US">North America</option>
		   <option value="EU">Europe</option>
		   <option value="DE">German</option>
		</select>
    </h3>
        
        <%  
			var groupedEvents = {Conference:[],Meetup:[],Webinar:[],Training:[]};
			for (var i=0;i<events.length;i++) {
			    var event=events[i];
			    if (!event) continue;
			    var type=event.Type;
			    if (!groupedEvents[type]) { type="Conference"; event.Type=type;}
				groupedEvents[type].push(event);
			}
	        %>
            <div class="thumbnails events row">
			<% 	for (type in groupedEvents) { %>
				<div class="span3">
			    <h3 class="center"><%= type %></h3>
		        <% groupedEvents[type].forEach(function(event) { %>
	               <% include ../partials/_event %>
			    <% }); %>
			  </div>
			<% } %>
			  </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var region="<%= region %>";
	$("#region").val(region).change(function() {
	    region=$(this).val();
		$(".event").each(function() {
			var area = $(this).attr("area");
			if (!area || area=='WORLD' || region=='WORLD' || area==region) $(this).show();
			else $(this).hide();
		})
	})
	
/*
    $('div.meetup').each(function() {
        var e=$(this);
        $.get("/meetup?group="+e.attr("group")+"&event="+e.attr("event"), function(data,err) {
            e.html(data);
        })
    })
*/
})
</script>
</div>
    <% include ../foot %>

