<% include ../head %>

<div class="container">

<!-- Main Content Row -->
<div class="main row">
  <div class="span8">
      <div id="neo4j" class="hero-unit path">
        <h2><a><i class="icon icon-book"></i> Pragmatic licensing guide</a></h2>
        <p class="lead">Understand which license you need and how Neo Technology can help you.</p>
      </div>

      <div>
          <p>Neo4j is commercial software. Proven in production since 2003, powering applications from global
              collaborative websites to in-house experiments, Neo4j is used in diverse environments.
          </p>
          <p>
              <a
              onclick="javascript:pageTracker._trackPageview('/outgoing/neotechnology.com/');"
              href="http://neotechnology.com/">Neo Technology</a>
              makes Neo4j available under a dual-license arrangement that is business friendly and open-source
              transparent: the Neo Technology Commercial License (NTCL), or the
              <a
                  href="http://en.wikipedia.org/wiki/Affero_General_Public_License" target="_blank">(A)GPLv3</a>.

              Neo Technology also takes care of Neo4j customer support, (OEM) license agreements, the <a href="http://www.neotechnology.com/partners/" target="_blank">Partner Network</a>, and more.
          </p>

          <p>There are 3 editions of Neo4j:</p>
          <ul>
            <li><strong>Neo4j Community</strong>, a High Performance, fully <a href="http://en.wikipedia.org/wiki/ACID" target="_blank">ACID</a> transactional graph database</li>
            <li><strong>Neo4j Advanced</strong> includes Advanced Monitoring</li>
            <li><strong>Neo4j Enterprise</strong> includes Online Backup, High Availability Clustering, and Advanced
                  Monitoring</li>

          </ul>

          <p>Commercial Licenses include the permission to integrate the enterprise editions in closed-source software products, service and support by Neo Technology.</p>

          <h3>Which license is right for you?</h3>
          <p>That depends on how you&#39;re using Neo4j.</p>

          <h5>You build Closed Source, Business-Essential Online Applications</h5>

          <p>If you&#39;re using Neo4j to build closed-source online applications that are central to your business, then you&#39;ll want to talk to us about commercial licensing of <strong>Neo4j Advanced or Enterprise editions</strong>. These offer the monitoring, backup and high-availability features you&#39;ll need to be successful  &#8211; not to mention access to support from our top engineering team.</p>

          <p>If you don&#39;t need any of the reliability features in the Advanced or Enterprise editions, then you&#39;re free to use the Community edition of Neo4j Server under a GPL license &#8211; which means you can use it anywhere i.e. similarly to MySQL. Used in this way, only changes you make to the Neo4j software itself should be open-sourced and shared with the community.</p>

          <h5>You want to embed Neo4j as an OEM component in your Closed Source software</h5>

          <p>Neo4j is a great choice when you need to include a graph database service in your packaged software product. We can make Neo4j available to use in these situations under our commercial OEM licensing &#8211; <a href="http://neotechnology.com/contactus/">contact us</a> for details.</p>

          <h5>You are Testing or Evaluating Neo4j</h5>

          <p>All editions of Neo4j are available for <a href="/download">download</a> and can be used under open source licenses &#8211; perfect for testing and evaluating Neo4j before you&#39;ve released your code or made your new online service available to your customers.</p>

          <h5>You are developing Open Source Software</h5>

          <p>We love open source development, so you are free to use all Neo4j components for your open source, public domain project under either the GPL (for Community edition) or the AGPL (for Advanced and Enterprise editions).</p>

      </div>
  </div>
  <aside class="span4 sidebar">
  <div class="summary">
    <h2>Briefly</h2>
    <div class="well">
        <h5>Commercial Support with Neo Technology </h5>
        <ul class="circle">
          <li><a href="http://www.neotechnology.com/price-list/" target="_blank">Commercial Licenses</a></li>
          <li><a href="http://www.neotechnology.com/services/" target="_blank">Service &amp; Support</a></li>
          <li><a href="http://www.neotechnology.com/partners/" target="_blank">Partner Network</a></li>
        </ul>
      <h5>Neo4j editions</h5>
      <ul class="circle">
        <li><strong>Community</strong> is a full-featured graph database</li>
        <li><strong>Advanced</strong> adds monitoring</li>
        <li><strong>Enterprise</strong> adds clustering</li>
      </ul>
    </div>
  </div>
  <div class="next-steps">
    <h2>Next Steps</h2>
    <div class="well">
      <h5>Contact Neo Technology</h5>
      <p>For more information, case-studies, or sales representative.</p>
      <a href="http://neotechnology.com/contactus/" class="btn" type="button">Contact Us</a>
    </div>
  </div>
  <div class="">
    <h2>Fair Trade Licensing Whitepaper</h2>
      <a href="http://info.neotechnology.com/commercial-license.html" target="_blank"><img width="75%" src="/assets/img/still/cover-commercial-license.png"></a>
   </div>

  </aside>
</div>
</div>


<% include ../foot %>

