<% include ../head %>

    <div class="container">
    	
    	<div class="main row">
        <div class="span8">
      		<h2 class="entry-title">Pragmatic licensing guide</h2>
    			<p>Neo4j is commercial software. Proven in production since 2003, powering applications from global 
    			collaborative websites to in-house experiments, Neo4j is used in diverse environments. Neo Technology 
    			makes Neo4j available under a dual-license arrangement that is business friendly and open-source 
    			transparent: the Neo Technology Commercial License (NTCL), or the (A)GPL.</p>
    			<p>There are 3 editions of Neo4j:</p>
    			<ul>
      			<li>Neo4j Enterprise, which includes Online Backup, High Availability Clustering, and Advanced Monitoring</li>
      			<li>Neo4j Advanced, with Advanced Monitoring</li>
      			<li>Neo4j Community, a High Performance, fully ACID Transactional Graph Database</li>
    			</ul>
    			<p><strong>Which license is right for you?</strong> That depends on how you&#8217;re using Neo4j.</p>
    			<h3 dir="ltr">You build Closed Source, Business-Essential Online Applications</h3>
    			<p>If you&#8217;re using Neo4j to build closed-source online applications that are central to your business, 
    			then you&#8217;ll want to talk to us about commercial licensing of Neo4j Advanced or Enterprise editions. 
    			These offer the monitoring, backup and high-availability features you&#8217;ll need to be successful &#8211; 
    			not to mention access to support from our top engineering team.</p>
    			<p>If you don&#8217;t need any of the reliability features in the Advanced or Enterprise editions, then 
    			you&#8217;re free to use the Community edition of Neo4j Server under a GPL license &#8211; which means you 
    			can use it anywhere you would use something like MySQL. Used in this way, only changes you make to the Neo4j 
    			software itself should be open-sourced and shared with the community.</p>
          <h3 dir="ltr">You want to embed Neo4j as an OEM component in your Closed Source software</h3>
          <p>Neo4j is a great choice when you need to include a graph database service in your packaged 
          software product.  We can make Neo4j available to use in these situations under our commercial OEM licensing &#8211; 
          contact us for details.</p>
          <h3 dir="ltr">You are Testing or Evaluating Neo4j</h3>
          <p>All editions of Neo4j are available for <a href="http://www.neo4j.org/download">download</a> and can be used 
          under open source licenses &#8211; perfect for testing and evaluating Neo4j before you&#8217;ve released your 
          code or made your new online service available to your customers.</p>
          <h3 dir="ltr">You are developing Open Source Software</h3>
          <p>We love open source development: so you are free to use all Neo4j components for your open source, public 
          domain project under either the GPL (for Community editions) or the AGPL (for Advanced and Enterprise editions).</p>
    
    			<p class="lastupdated">Updated: May 14, 2012</p>	
        </div>
    			
        <aside class="span4 sidebar">
          <div class="summary">
            <h2>Briefly</h2>
            <div class="well">
              <p>Neo4j is dual-licensed, available in 3 editions:</p>
              <ul class="circle">
                <li>Community - GPLv3 or NTCL</li>
                <li>Advanced - AGPL or NTCL</li>
                <li>Enterprise - AGPL or NTCL</li>
              </ul>
            </div>
          </div>
          
          <div class="next-steps">
            <h2>Next Steps</h2>
            <div class="next thumbnail">
              <div class="caption">
                <h5><i class="icon-download"></i> Download Neo4j <%= neo4j.version %></h5> 
                <p><%= neo4j.summary %></p>
                <a href="/download" class="btn btn-primary" type="button">Neo4j <%= neo4j.version %></a>
                <a href="<%= neo4j.readme %>" class="btn" type="button">Read More</a>
              </div>            
            </div>
          </div>

        </aside>
        
    	</div><!-- main row -->
    </div><!-- container -->
    

<% include ../foot %>