<% include ../head %>

<div class="container">

<!-- Main Content Row -->
<div class="main row">
  <div class="span8">
    <h2>What is Neo4j?</h2>
    <p>Neo4j is an open-source <a href="/intro">graph database</a> supported by <a onclick="javascript:pageTracker._trackPageview('/outgoing/neotechnology.com/');"
                         href="http://neotechnology.com/">Neo Technology</a>.</p>
    <p>Neo4j stores data in nodes connected by directed, typed relationships with properties on both, also known as a <a href="/intro">Property Graph</a>.</p>

    <p>Neo4j is:</p>
     <ul>
        <li>intuitive, using a graph model for data representation</li>
        <li>reliable, with full ACID transactions</li>
        <li>durable and fast, using a custom disk-based, native storage engine</li>
        <li>massively scalable, up to several billion nodes/relationships/properties</li>
        <li>highly-available, when distributed across multiple machines</li>
        <li>expressive, with a powerful, human readable <a href="/learn/cypher">graph query language</a></li>
        <li>fast, with a powerful traversal framework for high-speed graph queries</li>
        <li>embeddable, with a few small jars</li>
        <li>simple, accessible by a convenient <a
                onclick="javascript:pageTracker._trackPageview('/outgoing/docs.neo4j.org/chunked/stable/rest-api.html');"
                href="http://docs.neo4j.org/chunked/<%= neo4jGA.version %>/rest-api.html">REST interface</a> or
            an object-oriented Java <a onclick="javascript:pageTracker._trackPageview('/outgoing/api.neo4j.org/');"
                               href="http://api.neo4j.org/<%= neo4jGA.version %>">API</a></li>
        </ul>


      <h3>Watch Graph DB 101</h3>

      <iframe src="http://player.vimeo.com/video/46886385?badge=0&start=1200&byline=0&portrait=0&title=0" width="500" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <p class="caption">A pleasant stroll through general concepts, and Neo4j particulars.</p>
  </div>
  <aside class="span4 sidebar">
  <div class="summary">
    <h2>Briefly</h2>
    <div class="well">
      <p>Neo4j is a <strong>graph</strong> database</p>
      <ul class="circle">
        <li>the data model is a Property Graph</li>
        <li>Nodes + Relationships, with Properties</li>
        <li>Query with a traversal</li>
        <li>Indexes for simple lookups</li>
      </ul>
      <p>Neo4j is a graph <strong>database</strong></p>
      <ul class="circle">
        <li>reliable ACID transactions</li>
        <li>scalable to billions of records</li>
        <li>comprehensive <a
                        onclick="javascript:pageTracker._trackPageview('/outgoing/docs.neo4j.org/chunked/stable/rest-api.html');"
                        href="http://docs.neo4j.org/chunked/<%= neo4jGA.version %>/rest-api.html">REST interface</a></li>
        <li>object-oriented <a onclick="javascript:pageTracker._trackPageview('/outgoing/api.neo4j.org/');" href="http://api.neo4j.org/<%= neo4jGA.version %>">API</a></li>
        <li>high-performance HA clustering</li>
      </ul>
    </div>
  </div>
  <div class="next-steps">
    <h2>Next Steps</h2>
    <div class="next thumbnail">
      <div class="caption">
          <ul>
              <li><a href="/download">Download Neo4j</a></li>
              <li><a href="/learn/cypher">Introduction to Cypher</a></li>
              <li><a href="/create">Create an App</a></li>
          </ul>
    </div>
  </div>

  <div class="reference-card">
    <h2>Neo4j Reference Card</h2>
    <div class='visually_embed' data-category='Technology' rel='infographic'> <img class='visually_embed_infographic'
                     src='http://thumbnails.visually.netdna-cdn.com/whats-a-graph-database_502918e97645c_w587.png'
                     rel='http://thumbnails.visually.netdna-cdn.com/whats-a-graph-database_502918e97645c.png' alt="What's a Graph Database" /> <a id='visually_embed_view_more' target='_blank' href='http://visual.ly/whats-graph-database'></a>
      <link rel='stylesheet' type='text/css' href='http://visual.ly/embeder/style.css'/>
      <script type='text/javascript' src='http://visual.ly/embeder/embed.js'></script>
    </div>
   </div>
   </aside>
  </div>
</div>


<% include ../foot %>

