<% include ../head %>

    <div class="container">
    
      <!-- Main Content Row -->
      <div class="main row">
        <div class="span8">
          <h1>Neo4j</h1>
          <p class="lead">Neo4j is the world's leading graph database.</p>
          <p>A graph database stores data in nodes and relationships with properties on both, something we call a <a href="/learn/propertygraph">Property Graph</a>. 
          Nodes are simply data records. Relationships are the connections between records.</p>
          <p>Neo4j is both an open source project, and a commercial product.  in a GPLv3 Community edition, with Advanced and Enterprise editions available under both the AGPLv3 and commercial licenses, supported by Neo Technology.</p>

 
          
          <div class="tabbable tabs-left">
            <h2>Neo4j Editions</h2>
            <ul class="nav nav-tabs">
              <li class="active"><a href="#community" data-toggle="tab">Community</a></li>
              <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
              <li><a href="#enterprise" data-toggle="tab">Enterprise</a></li>
            </ul>
            <div class="tab-content">            
              <div class="tab-pane active" id="community">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>scalable - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="advanced">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>scalable - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                    <tr class="advanced"><td>monitorable - advanced insight into database status</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="enterprise">
                <table class="table table-striped">
                  <thead>
                    <tr><td>Features</td></tr>
                  </thead>
                  <tbody>
                    <tr><td>huge - 32 Billion Nodes, 32 Billion Relationships, 64 Billion Properties</td></tr>
                    <tr><td>accessible - REST API with the usual language drivers</td></tr>
                    <tr><td>embeddable - use directly from any JVM-friendly language</td></tr>
                    <tr class="advanced"><td>monitorable - advanced insight into database status</td></tr>
                    <tr class="enterprise"><td>robust - High Availability for read scaling and failover</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        </div>
        
        <aside class="span4 sidebar">
          <div class="summary">
            <h2>Briefly</h2>
            <div class="well">
              <p>Neo4j is a <strong>graph</strong> database</p>
              <ul class="circle">
                      <li>the data model is a Property Graph</li>
                      <li>Nodes + Relationships, with Properties</li>
                      <li>Query with a traversal</li>
                      <li>Indexes for simple lookups</li>
              </ul>
              <p>Neo4j is a graph <strong>database</strong></p>
              <ul class="circle">
                      <li>reliable ACID transactions</li>
                      <li>scalable to billions of records</li>
                      <li>easily grokked REST API</li>
                      <li>high-performance HA clustering</li>
              </ul>
  
            </div>
          </div>
          
          <div class="next-steps">
            <h2>Next Steps</h2>
            <div class="next thumbnail">
              <div class="caption">
                <h5><i class="icon-download"></i> Download Neo4j <%= neo4j.version %></h5> 
                <p><%= neo4j.summary %></p>
                <a href="/download" class="btn btn-primary" type="button">Neo4j <%= neo4j.version %></a>
                <a href="<%= neo4j.readme %>" class="btn" type="button">Read More</a>
              </div>            
            </div>
          </div>

        </aside>
      </div>
    </div>


<% include ../foot %>

