<% include ../head %>

<!--suppress HtmlFormInputWithoutLabel -->
<div class="mainpage" id="online_course">
    <div class="course_box">
    <h1>The Neo4j Online Course</h1>
    <div class="clear"></div>
    <div class="introText">
        You're beginning with Neo4j? Invest 4 hours of interactive, engaging learning to get familiar with Neo4j.
        With this online course you can make progress at your own leisure and pause and resume at any time.
    </div>
        <div class="featured mainElement course" style="min-height:20em;height:20em">
            <div class="slide article">
        <h4>Login</h4>
        <blockquote>
            <form class="course_form" id="course_login" method="post">
                <p>I am already registered as <input size="35" name="email" type="email" required="required" placeholder="email address">
            and want <button name="login" class="btn-action">to continue</button> the course.</p>
            <div class="endquote"></div>
            </form>
        </blockquote>
        <h4>Sign-Up</h4>
        <blockquote>
            <form class="course_form" id="course_signup" method="post">
                <p>I, <input name="name" type="text" placeholder="full name" size="20">
                    want to sign up for the Neo4j online course with my <input name="email" type="email" required="required" placeholder="email address" size="35">.</p>
                <p>I work at <input name="company" type="text" placeholder="company" size="10"> in
                    <select name="country"><option value="">Country</option>
                        <optgroup label="North America">
                            <option value="US">United States</option>
                            <option value="CA">Canada</option>
                            <option value="MX">Mexico</option>
                            <option value="_NA">a better place</option>
                        </optgroup>
                        <optgroup label="EMEA">
                            <option value="DE">Germany</option>
                            <option value="UK">United Kingdom</option>
                            <option value="FR">France</option>
                            <option value="CH">Switzerland</option>
                            <option value="AT">Austria</option>
                            <option value="IE">Ireland</option>
                            <option value="SE">Sweden</option>
                            <option value="NO">Norway</option>
                            <option value="DK">Denmark</option>
                            <option value="BE">Belgium</option>
                            <option value="NL">Netherlands</option>
                            <option value="ES">Spain</option>
                            <option value="PT">Portugal</option>
                            <option value="IT">Italy</option>
                            <option value="GR">Greece</option>
                            <option value="IL">Israel</option>
                            <option value="RU">Russia</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="PL">Poland</option>
                            <option value="TR">Turkey</option>
                            <option value="_EMEA">a better place</option>
                        </optgroup>
                        <optgroup label="South America">
                            <option value="US">Brazil</option>
                            <option value="CA">Argentina</option>
                            <option value="_SA">a better place</option>
                        </optgroup>
                        <optgroup label="APAC">
                            <option value="AU">Australia</option>
                            <option value="IN">India</option>
                            <option value="CN">China</option>
                            <option value="JP">Japan</option>
                            <option value="NZ">New Zealand</option>
                            <option value="HK">Hong Kong</option>
                            <option value="KR">Korean Republic</option>
                            <option value="TH">Thailand</option>
                            <option value="PH">Philippines</option>
                            <option value="SG">Singapore</option>
                            <option value="_APAC">a better place</option>
                        </optgroup>
                        <optgroup label="Africa">
                            <option value="ZA">South Africa</option>
                            <option value="KE">Kenya</option>
                            <option value="AE">United Arab Emirates</option>
                            <option value="_AFRICA">a better place</option>
                        </optgroup>
                    </select> in a place with this
                    <input type="text" placeholder="ZIP-Code" name="zip" size="10">.</p>
                <p>I want <select name="usage"><option value="evaluate">to evaluate</option><option value="develop">develop a project on with</option><option value="production">go into production with</option><option value="play">just play around with</option></select> Neo4j
                    and <input type="checkbox" name="newsletter"> am also interested to sign up for the monthly newsletter in
                    <select name="newsletter_lang"><option selected="selected">English</option><option>German</option></select>.</p>
                <button name="register" class="btn-action">Let's go for it.</button>
                <div class="endquote"></div>
            </form>
        </blockquote>
        </div>
        </div>
        <div class="featured mainElement course" b>
            <div class="slide article">
        <h2>Course Description: Getting Started with Neo4j</h2>

        <p class="content"><em>You're beginning with Neo4j? Invest 4 hours of interactive, engaging learning to get familiar with Neo4j.
            With this online course you can control your progress at your own leisure and pause and resume at any time.</em>
        </p>

        <h3>Audience </h3>
        <ul><li>Developers, System Administrators, DevOps engineers, DBAs, Business Analysts, CTOs, CIOs, and students.</li>
            <li>Also, we invite anyone who is interested in getting an overview of graph databases and Neo4j.</li></ul>

        <h3>Skills taught</h3>
        <ul><li>An understanding of graph databases</li>
            <li>How to use graph databases</li>
            <li>Introduction to data modeling with Graph databases</li>
            <li>How to get started working with Neo4j</li>
        </ul>

        <h3>Prerequisites</h3>
        <p>You don’t need any previous experience with Neo4j, NoSQL databases or specific development languages</p>

        <h3>Course Description</h3>
        <p>This online course helps you build a good starting knowledge of graph databases.
            It also teaches the core functionality of the Neo4j graph database.
            You will learn practically how to read and write Cypher queries to work with Neo4j.
        </p>

        <h3>Course Outline</h3>
        <ul><li>Introduction to Graphs </li>
            <li>Introduction to Graph based Modeling</li>
            <li>Neo4j and Cypher</li>
            <li>Advanced Queries with Cypher</li>
            <li>Real-world implementation use cases with Neo4j</li>
        </ul>

        <h3>Technical requirements:</h3>
        <h4>Supported browsers</h4>
        <ul>
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Safari</li>
            <li>Opera</li>
            <li>Internet Explorer 9,10</li>
        </ul>
    </div>
        </div>
    </div>

    <div id='online_course_player' style='width:100%;height:100%;'>
        <div class="featured mainElement course" b>
            <div class="slide article">
            <h2>Welcome to the Neo4j Course</h2>
            <p>Welcome to the Neo4j online course. You can always pause the course and continue by just using your email address.<br/>
            The course is loading now and you can continue as soon as it finishes.</p>
            </div>
        </div>
        <br/>
    </div>
</div>
<% include ../foot %>
<div style="height:50%"></div>
