<h3>We cover these topics:</h3>
<ul>
    <li>Introduction to Graph, Graph modeling and application</li>
    <li>Introduction to Neo4j</li>
    <li>Introduction to our Cypher graph query language</li>
    <li>Several real-world use-cases</li>
    <li>Hands-on sessions with Cypher</li>
    <li>Opportunity to consult on current projects, possible implementations and PoC's</li>
</ul>
<p>You won't need any previous experience with Neo4j, NOSQL databases or specific development languages, but you will
    need your own laptop with the stable version of <a href="/download">Neo4j installed</a>.</p>

<p>We hosted the trainings in many cities around the world. So far, it has been wildly successful. Attendees’ feedback
    included:</p>

<blockquote>“Excellent high-level overview that also provided insight into technical details”<br/>
    “Great jump-start to the subject matter”<br/>
    “Real queries, real results shown”
</blockquote>
