<p>Together with <a href="http://twitter.com/peterbell" target="_blank">Peter Bell</a> we developed a hands-on, fully
    day training course to learn the basics of using a graph database like Neo4j. After the training you should feel
    familiar enough to get started with your own development project using it.</p>

<p><strong>We cover these topics:</strong>
<ul>
    <li>Introduction to Neo4j</li>
    <li>Overview of our Cypher graph query language</li>
    <li>Several real-world use-cases</li>
    <li>Social use cases including recommendations</li>
    <li>Permissions modeling</li>
    <li>Other case studies in real world domains</li>
    <li>Hands-on session with Cypher</li>
    <li>Opportunity to consult on current projects, possible implementations and proof of concepts</li>
</ul>
</p>
<p>You won't need any previous experience with Neo4j, NOSQL databases or specific development languages, but you will
    need your own laptop with <a href="/install" target="_blank">Neo4j installed</a>.</p>

<p>We hosted a the first training in New York City with Peter Bell. It was wildly successful. Attendees’ feedback
    included:</p>

<blockquote>“Excellent high-level overview that also provided insight into technical details”<br/>
    “Great jump-start to the subject matter”<br/>
    “Real queries, real results shown”
</blockquote>
