<div class="featured" class="mainElement">

    <script type="text/javascript">
        $(document).ready(function(){
            renderConsole("/console");
        });
    </script>

    <div class="slide console">

        <div class="caption">
            <h3>Live Datasets</h3>
            <p>Click to load and play</p>
                <button class="btn" onclick="renderConsole('/console?id=GoT')">Game of Thrones</button>
                <button class="btn" onclick="renderConsole('/console')">The Matrix</button>
                <button class="btn" onclick="renderConsole('/console?id=complete_graph')"> Complete Graph </button>
                <button class="btn" onclick="renderConsole('/console?id=find_friends_based_on_similar_tagging')"> Friend of Friends</button>
                <button class="btn" onclick="renderConsole('/console?id=jmxo8m')">Money Laundering</button>
                <button class="btn" onclick="renderConsole('/console?id=beer')">Beer Graph</button>
                <button class="btn" onclick="renderConsole('/console?id=belgium_beer')">Belgian Beer</button>
        </div>
        <div class="clear"></div>
        <div id="console"></div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
