<% include ../head %>

<div class="container">

<!-- Main Content Row -->
<div class="main row">
  <div class="span8">
    <h2>Graph Visualization</h2>
    <p>Graph visualisations are a powerful tool to convey the content of a graph. They can highlight patterns, show clusters and connections.
    </p>

    <p>There are different tools that you can use to visualize the content of a Neo4j Graph Database.</p>
    <h3>Neo4j Server Web Interface</h3>

      <p>The Data Browser Tab offers a handy visualization of your graph, you can select the nodes to be shown by id, index lookup or cypher query.
      A style editor allows to adapt the visualization to your needs. It was written using arbor.js and canvas.</p>

      <img width="500" align="Neo4j Server Visualization" src="/assets/img/still/server_visualization.jpg"/>

    <h3>Neoclipse</h3>
      <p>Neoclipse is a <a href="https://github.com/neo4j/neoclipse/downloads" target="_blank">standalone desktop app</a> (written in eclipse RCP) which allows to connect to a Neo4j Database directory or a running Neo4j Server
      to visualize the content of the graph. It allows filtering of relationships and properties, has different layout modes and supports Cypher and Index
      queries.</p>
      
      <iframe src="http://player.vimeo.com/video/12014944?badge=0&byline=0&portrait=0&title=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <h3>JavaScript D3.js</h3>

      <p>D3 is the most powerful javascrip visualization library which supports a large number of visualizations, many of them are usable for graphs as well, Max De Marzi covered
      several of the visualizations on his blog</p>

      <img width="500" align="D3 visualization example" src="/assets/img/still/d3_network.png"/>
      
      <h3>Gephi</h3>

        <p>The well known Graph visualization tool Gephi has a <a href="http://gephi.org/tag/neo4j/" target="_blank">plugin for importing Neo4j</a> Databases which can then be visualized and rendered with the full power of Gephi's engines.</p>

      <iframe src="http://player.vimeo.com/video/31823202?badge=0&byline=0&portrait=0&title=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <h3>GraphViz</h3>

      <p>Using the GraphViz Exporter it is possible to generate <code>.dot</code> files which can then be rendered as images using graphviz' dot toolchain.

      See this <a href="http://blog.neo4j.org/2012/05/graph-this-rendering-your-graph-with.html" target="_blank">blog post</a> for details.</p>

      <h3>Watch Visualizations with Graph</h3>

      <iframe src="http://player.vimeo.com/video/53205761?badge=0&byline=0&portrait=0&title=0" width="500" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <p class="caption">Max De Marzi presents different ways of visualizing graphs.</p>
  </div>
  <aside class="span4 sidebar">
  <div class="summary">
    <h2>Briefly</h2>
    <div class="well">
      <p>Graph Visualizations rock</p>
      <ul class="circle">
        <li>give a quick understanding</li>
        <li>can highlight important patterns</li>
        <li>careful with hairballs</li>
        <li>represent the whiteboard model</li>
      </ul>
    </div>
  </div>
  <div class="next-steps">
    <h2>Next Steps</h2>
    <div class="next thumbnail">
      <div class="caption">
          <ul>
              <li><a href="http://maxdemarzi.com/tag/visualization-2/" target="_blank">Max De Marzi's Graph Visualization Blog Posts</a></li>
              <li><a href="https://github.com/mbostock/d3/wiki/Gallery" target="_blank">D3.js visualization</a></li>
              <li><a href="http://gephi.org">Gephi</a></li>
              <li><a href="https://github.com/neo4j/neoclipse/downloads">Neoclipse on GitHub</a></li>
              <li><a href="http://clipboard.com/mesirii/boards/viz" target="_blank">A collection of graph visualization options</a></li>
          </ul>
    </div>
    </div>
  </div>

   </aside>
  </div>
</div>


<% include ../foot %>

