<html>
<head>
<title>404</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



<body>


    <div class="container">

      <div class="starter-template text-center">
        <h1>404 <%= title %></h1>
        <p>Sorry that we've both ended up here.</p>
        <p>You might get better results if you navigate to <a href="http://neo4j.com">neo4j.com</a>.</p>

        <address>
        <a href="mailto:webinfo@neo4j.com">webinfo@neo4j.com</a>
        </address>

      </div>

    </div><!-- /.container -->



</body>
</html>
