        If your download did not start automatically, <a class="downloadLink" href="">click here <i class="icon icon-download-alt"></i></a> to manually download.
        <h2>While you're waiting for your download:</h2>
        <p>Stay informed about Neo4j events, releases and technical articles on graphs and development with Neo4j. </p>
        <iframe style="visibility:visible;" src="http://www.neotechnology.com/wp-content/themes/Neo_Technology/signup.html" style="border:0;padding: 5;" width="300px" height="75px" frameborder="0" scrolling="no"></iframe>
        
             
              
       
<script type='text/javascript'>//<![CDATA[
$(document).ready(function() {
    var testing = getUrlVars()["test"] || null;
    var edition = getUrlVars()["edition"] || "community";
    var release = getUrlVars()["release"] || "<%= neo4jGA.version %>";
    var platform = getUrlVars()["platform"] || "unix";
    var packaging = 'zip';
    var suffix = "zip";
    
    if (platform == 'unix' || platform == 'mac_linux') {
        suffix = 'tar.gz';
        packaging = 'tarball';
    }
        
    
    
    $(".dirName").text("neo4j-"+edition+"-"+release);
    
    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
    
    function updateDownloadLink(marketo_id) {
        var marketo_idnum = marketo_id || 'notread';
        var downloadLink = "http://dist.neo4j.org/neo4j-" + edition + "-" + release + "-" + platform +"." + suffix;
        if (!release.match("SNAPSHOT")) {
            downloadLink = "http://download.neo4j.org/artifact?edition=" + edition + "&version=" + release + "&distribution=" + packaging + "&dlid=" + marketo_idnum;
        }

		_gaq.push(['_trackEvent','neo4j-download',downloadLink]);
		
        $(".downloadLink").attr("href",downloadLink);
        if (testing==null) {
            window.location = downloadLink;
        }
    }
    $.ajax("/api/marketo", {
        success: function(id) {
           // console.log("marketo-success",id)
            updateDownloadLink(id)
        },
        error:function(err) {
           // console.log("marketo-error",err)
            updateDownloadLink()
    }})
});
</script>