<p class="flash">If your download did not start automatically or was blocked, click the link below to download manually:
<br/>
    <a class="downloadLink" href="http://download.neo4j.org/artifact?edition=community&version=<%= neo4jGA.version %>&distribution=zip">
        <i class="icon icon-download-alt"></i> http://download.neo4j.org/artifact?edition=community&version=<%= neo4jGA.version %>&distribution=zip</a>
</p>

<h2>While you're waiting for your download:</h2>
   <p>For the best developer experience, subscribe and stay informed about events,<br/>
      releases and technical articles on graphs and development with Neo4j.</p>
        <iframe style="visibility:visible;" src="http://www.neotechnology.com/wp-content/themes/Neo_Technology/signup.html" style="border:0;padding: 5;" width="300px" height="75px" frameborder="0" scrolling="no"></iframe>

             
              
       
<script type='text/javascript'>//<![CDATA[
$(document).ready(function() {
    var testing = getUrlVars()["test"] || null;
    var edition = getUrlVars()["edition"] || "community";
    var release = getUrlVars()["release"] || "<%= neo4jGA.version %>";
    var platform = getUrlVars()["platform"] || "unix";
    var architecture = getUrlVars()["architecture"] || "x64";
    var packaging = getUrlVars()["packaging"] || "zip";
    var suffix = "zip";
    var abTestToRedfox = Math.random() < 0.5;

    if (platform === 'unix' || platform === 'mac_linux') {
        suffix = 'tar.gz';
        packaging = 'tarball';
    }

    if (platform=="windows" && $('.bxslider').length) {
        $('.bxslider').bxSlider().goToNextSlide();
    }
    $(".dirName").text("neo4j-"+edition+"-"+release);

    updateDownloadLink(null,true);

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }

    function updateDownloadLink(marketo_id,testing) {
        var marketo_idnum = marketo_id || 'notread';
        var method = "s3";
        var url_params = "?edition=" + edition + "&version=" + release + "&distribution=" + packaging + "&dlid=" + marketo_idnum;

        var displayLink = "http://dist.neo4j.org/neo4j-" + edition + "-" + release + "-" + platform +"." + suffix;
        var downloadLink = displayLink + url_params;
        // temporarily until redfox is fixed,
        /*
        if (!release.match("SNAPSHOT") && abTestToRedfox) {
            downloadLink = "http://download.neo4j.org/artifact" + url_params;
            displayLink = downloadLink.replace(/&dlid.+/,"");
            method = "redfox";
        }
        */
        if(platform=='windows') {
            if(packaging=='exe'){
                if(architecture=='x64') {
                    displayLink = "http://dist.neo4j.org/neo4j-"+edition+"_"+platform+"-"+architecture+"_"+release.replace(/\./g,"_")+"."+packaging;
                }   else {
                    displayLink = "http://dist.neo4j.org/neo4j-"+edition+"_"+platform+"_"+release.replace(/\./g,"_")+"."+packaging;
                }
                downloadLink = displayLink + url_params;
            }
        }
        var logdata={release:release, platform: platform,edition:edition,link:downloadLink,architecture:architecture,packaging:packaging,marketo:marketo_id,method:method,action:"auto"};
        if (console && console.log) console.log("Using downloadlink",downloadLink,logdata);
        log("download-prepare",logdata);

        var link = $(".downloadLink");
        link.attr("href",downloadLink).html("<i class='icon icon-download-alt'></i> "+displayLink).click(function() {
            logdata.action = "click";
            _gaq.push(['_trackEvent','neo4j-download',downloadLink]);
            _kmq.push(['identify', marketo_id ||'' ]); // todo identify people
            _kmq.push(['record', 'neo4j-download', logdata]);
            log("download-click",logdata);
        });
        if (testing===null) {
            _gaq.push(['_trackEvent','neo4j-download',downloadLink]);
            _kmq.push(['identify', marketo_id ||'']); // todo identify people
            _kmq.push(['record', 'neo4j-download', logdata]);
            window.location = downloadLink;
            log("download-auto",logdata);
        }
    }
    $.ajax("/api/marketo", {
        success: function(id) {
           // console.log("marketo-success",id)
            updateDownloadLink(id,testing);
        },
        error:function(err) {
           // console.log("marketo-error",err)
            updateDownloadLink(testing);
    }});

    $('.flash').delay(100).fadeOut().fadeIn('slow')
});
</script>