<% include head %>

<div class="container">

  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked affix">
        <li><a href="#install">Get started with Neo4j</a></li>
        <li><a href="/integrate">Drivers in all languages</a></li>
        <li><a href="#cloud">Neo4j in the Cloud</a></li>
        <li><a href="#sdn">Spring Data Neo4j</a></li>
        <li><a href="/learn/neo4j">Neo4j Editions</a></li>
      </ul>
    </div>
    <div class="span9">
      <div id="learn" class="hero-unit path">
        <h2><a><i class="icon icon-cogs"></i> Create</a></h2>
        <p class="lead">Start at the whiteboard. What you draw is what you store.</p>
      </div>
      <section id="install" class="row">
        <h2>Download &amp; Install</h2>
        <div class="span3">
          <h3>Download Neo4j</h3>
          <p>Download Neo4j for your platform and get started immediately</p>
          <p><a class="btn" href="/download">Download now &raquo;</a></p>
          <h3>Language Drivers</h3>
          <p>Drivers for Neo4j exist in most programming languages.</p>
          <p><a class="btn" href="/integrate">Get yours &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>Example Datasets</h3>
          <p>Use on of our example datasets for some initial graph data.</p>
          <p><a class="btn" href="/create/example_data">Check them out &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>Installation Instructions</h3>
          <a data-toggle="lightbox" href="#installvideo" class="thumbnail"><img src="/assets/img/still/install.gif" alt="Click to View" /></a>
          <p class="caption">Peter Neubauer guides through the first steps of downloading and running Neo4j.</p>
          <div class="lightbox fade" id="installvideo" style="display: none;">
            <div class='lightbox-content'>
              <iframe src="http://player.vimeo.com/video/53838744" width="500" height="281" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen"></iframe>
            </div>
          </div>
        </div>
      </section>
      <section id="cloud" class="row">
        <h2>Cloud</h2>
        <div class="span3">
          <h3>Heroku Addon</h3>
          <p>Neo4j is available on Heroku in a public &quot;try&quot; plan.</p>
          <p><a class="btn" href="/create/heroku">Build your own &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>DIY EC2</h3>
          <p>Take full control of your deployment, spec'ing out hosts that match your production demands.</p>
          <p><a class="btn" href="/create/ec2">Do it now &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>James Ward on Neo4j</h3>
          <a data-toggle="lightbox" href="#jamesWard" class="thumbnail"><img src="/assets/img/still/jamesward.jpg" alt="Click to View" /></a>
          <p class="caption">James Ward shows how to build and deploy a Neo4j based app on heroku.</p>
          <div class="lightbox fade" id="jamesWard" style="display: none;">
            <div class='lightbox-content'>
              <iframe src="http://player.vimeo.com/video/53221343?badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen"></iframe>
            </div>
          </div>
        </div>
      </section>
      <section id="sdn" class="row">
        <h2>Spring Data Neo4j</h2>
        <div class="span3">
          <h3>POJO to Graph</h3>
          <p>Simply annotate your Java classes, configure your Spring application, then unleash the awesome power of graph querying.</p>
          <p><a class="btn" href="/create/spring">Spring forth &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>Example App</h3>
          <p>Use Spring Data Neo4j to model and import the <a href="http://hubwaydatachallenge.org/trip-history-data/">Hubway Challenge</a> dataset, for advanced querying and visualization.</p>
          <p><a class="btn" href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Follow along &raquo;</a></p>
        </div>
        <div class="span3">
          <h3>Good Relationships</h3>
          <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail"><img src="/assets/img/still/sdn-intro.png" alt="Click to View" /></a>
          <p class="caption">Michael Hunger introduces <a href="http://www.infoq.com/minibooks/good-relationships-spring-data">Good Relationships</a>, the SDN book.</p>
          <div class="lightbox fade" id="whyGraphs" style="display: none;">
            <div class='lightbox-content'>
              <iframe width="560" height="315" src="http://www.youtube.com/embed/heC-8Pq2exQ?rel=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<% include foot %>

