<% include head %>


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="create" class="hero-unit">
        <h1>Create with Neo4j</h1>
        <p class="lead">Start at the whiteboard. What you draw is what you store.</p>
      </div>

      <div class="row">
        <div class="span3">
          <ul class="nav nav-tabs nav-stacked affix">
            <li><a href="#sdn">Spring Data Neo4j</a></li>
            <li><a href="#cloud">Cloud</a></li>
          </ul>
        </div>
        
        <div class="span9">
        
          <section id="sdn" class="row">
            <h2>Spring Data Neo4j</h2>
            
            <div class="span3">
              <h3>POJO to Graph</h3>
              <p>Simply annotate your Java classes, configure your Spring application, then unleash the awesome power of graph querying.</p>
              <p><a class="btn" href="/spring">Spring forth &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h3>Example App</h3>
              <p>Use Spring Data Neo4j to model and import the <a href="http://hubwaydatachallenge.org/trip-history-data/">Hubway Challenge</a> dataset, for advanced querying and visualization.</p>
              <p><a class="btn" href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Follow along &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h3>Good Relationships</h3>
              <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail">
							 <img src="/assets/img/still/sdn-intro.png" alt="Click to View">
						  </a>
						  <p class="caption">Michael Hunger introduces <a href="http://www.infoq.com/minibooks/good-relationships-spring-data">Good Relationships</a>, the SDN book.</p>
						  <div class="lightbox fade" id="whyGraphs" style="display: none;">
  						  <div class='lightbox-content'>
                  <iframe width="640" height="360" src="http://video.neo4j.org/player/fkMY" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  						  
                </div>
      				</div>
            </div>
        
          </section>
          
          <section id="cloud" class="row">
            <h2>Neo4j Cloud</h2>
            <div class="span3">
              <h3>Heroku Add-on</h3>
              <p>The simplicity of Heroku's service makes a great platform for trying out Neo4j.</p>
              <p><a class="btn" href="/create/heroku">Be a hero &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h3>DIY EC2</h3>
              <p>Take full control of your deployment, spec'ing out hosts that match your production demands.</p>
              <p><a class="btn" href="/create/ec2">Do it now &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h3>Graph DB 101</h3>
              <a data-toggle="lightbox" href="#graphdbIntro" class="thumbnail">
							 <img src="/assets/img/still/graphdb-intro.png" alt="Click to View">
						  </a>
						  <p class="caption">A pleasant stroll through general Graph Databases concepts, with Neo4j particulars.</p>
						  <div class="lightbox fade" id="graphdbIntro" style="display: none;">
  						  <div class='lightbox-content'>
  						  <iframe src="http://player.vimeo.com/video/46886385?badge=0" width="500" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  						  </div>
      				</div>
            </div>
          </section>
          
          
        </div>
  
<% include foot %>

