<% include head %>


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="create" class="hero-unit">
        <h1>Create with Neo4j</h1>
        <p class="lead">Start at the whiteboard. What you draw is what you store.</p>
      </div>

      <div class="row">
        <div class="span3">
          <ul class="nav nav-tabs nav-stacked">
            <li><a href="#sdn">Spring Data Neo4j</a></li>
            <li><a href="#graphs">Graph Concepts</a></li>
            <li><a href="#dev">Development</a></li>
            <li><a href="#ops">Operations</a></li>
            <li><a href="#production">Production</a></li>
          </ul>
        </div>
        
        <div class="span9">
        
          <section id="sdn" class="row">
            <h1>Spring Data Neo4j</h1>
            
            <div class="span3">
              <h2>POJO to Graph</h2>
              <p>Simply annotate your Java classes, configure your Spring application, then unleash the awesome power of graph querying.</p>
              <p><a class="btn" href="/spring">Spring forth &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Example App</h2>
              <p>Use Spring Data Neo4j to model and import the <a href="http://hubwaydatachallenge.org/trip-history-data/">Hubway Challenge</a> dataset, for advanced querying and visualization.</p>
              <p><a class="btn" href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Follow along &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Good Relationships</h2>
              <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail">
							 <img src="/assets/img/still/sdn-intro.png" alt="Click to View">
						  </a>
						  <p class="caption">Michael Hunger introduces <a href="http://www.infoq.com/minibooks/good-relationships-spring-data">Good Relationships</a>, the SDN book.</p>
						  <div class="lightbox fade" id="whyGraphs" style="display: none;">
  						  <div class='lightbox-content'>
                  <iframe width="640" height="360" src="http://video.neo4j.org/player/fkMY" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  						  
                </div>
      				</div>
            </div>
        
          </section>
          
          <section id="graphs" class="row">
            <h1>Graph Concepts</h1>
            <div class="span3">
              <h2>Property Graph</h2>
              <p>Neo4j stores data in a Property Graph: nodes + relationships, with properties on both. Leave the schema behind and start focusing on how your data is connected.</p>
              <p><a class="btn" href="http://docs.neo4j.org/chunked/stable/what-is-a-graphdb.html">Proper reading &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Compare</h2>
              <p>You know relational, now consider relationships. Compare the graph model to relational, documents, and other NOSQL stores.</p>
              <p><a class="btn" href="http://docs.neo4j.org/chunked/stable/tutorial-comparing-models.html">And... fight &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Graph DB 101</h2>
              <a data-toggle="lightbox" href="#graphdbIntro" class="thumbnail">
							 <img src="/assets/img/still/graphdb-intro.png" alt="Click to View">
						  </a>
						  <p class="caption">A pleasant stroll through general Graph Databases concepts, with Neo4j particulars.</p>
						  <div class="lightbox fade" id="graphdbIntro" style="display: none;">
  						  <div class='lightbox-content'>
  						  <iframe src="http://player.vimeo.com/video/46886385?badge=0" width="500" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
  						  </div>
      				</div>
            </div>
          </section>
          
          <section id="dev" class="row">
            <h1>Development</h1>
            <div class="span3">
              <h2>Get Started</h2>
              <p>A guide to guides about getting started using Neo4j in your awesome application.</p>
              <p><a class="btn" href="/create">Let's go! &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Drivers &amp; Stacks</h2>
              <p>With a universally accessible REST API, Neo4j integrates nicely from the usual languages, and many great frameworks.</p>
              <p><a class="btn" href="/integrate">Mix and match &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Query with Cypher</h2>
              <a data-toggle="lightbox" href="#queryCypher" class="thumbnail">
							 <img src="/assets/img/still/cypher.png" alt="Click to View">
						  </a>
						  <p class="caption">Cypher is a graph query language. Easy to read, concise and powerful.</p>
						  <div class="lightbox fade" id="queryCypher" style="display: none;">
  						  <div class='lightbox-content'>
  						  <iframe src="http://player.vimeo.com/video/50389825?badge=0" width="500" height="377" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  						  </div>
      				</div>
            </div>
          </section>
          
          <section id="ops" class="row">
            <h1>Operations</h1>
            <div class="span3">
              <h2>Property Graph</h2>
              <p>Neo4j stores data in a Property Graph: node + relationship, with properties on both.</p>
              <p><a class="btn" href="http://docs.neo4j.org/chunked/stable/what-is-a-graphdb.html">Read more &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Compare</h2>
              <p>You know relational, now consider relationships. Compare the graph model to relational, documents, and other NOSQL stores.</p>
              <p><a class="btn" href="http://docs.neo4j.org/chunked/stable/tutorial-comparing-models.html">Read more &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Graph DB 101</h2>
              <a data-toggle="lightbox" href="#graphdbIntro" class="thumbnail">
							 <img src="/assets/img/still/graphdb-intro.png" alt="Click to View">
						  </a>
						  <p class="caption">Introduction to Graph Databases &amp; Neo4j.</p>
						  <div class="lightbox fade" id="graphdbIntro" style="display: none;">
  						  <div class='lightbox-content'>
    						  <iframe src="http://player.vimeo.com/video/49485027?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  						  </div>
      				</div>
            </div>
          </section>
          
          <section id="production" class="row">
            <h1>Production</h1>
            <div class="span3">
              <h2>Neo4j</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Read more &raquo;</a></p>
            </div>
            <div class="span3">
              <h2>Property Graph</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Read more &raquo;</a></p>
            </div>
            
            <div class="span3">
              <h2>Production Secrets</h2>
              <a data-toggle="lightbox" href="#productionSecrets" class="thumbnail">
							 <img src="/assets/img/still/secrets.png" alt="Click to View">
						  </a>
						  <p class="caption">Maybe a day or two before you get featured on Techcrunch, make sure your application is fully production-ready.</p>
						  <div class="lightbox fade" id="productionSecrets" style="display: none;">
  						  <div class='lightbox-content'>
    						  <iframe src="http://player.vimeo.com/video/49485027?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  						  </div>
      				</div>
            </div>
          </section>
          
        </div>
  
<% include foot %>

