<% include head %>

<div class="container">

    <div class="row">
        <div class="span12">
            <div id="learn" class="hero-unit path">
                <h2><a><i class="icon icon-cogs"></i>Customers</a></h2>

                <p class="lead">For commercial users of Neo4j, see <a href="http://www.neotechnology.com/customers/">Neo Technology</a>. For applications built with Neo4j, see <a href="/learn/apps">the apps gallery.</a></p>
            </div>
        </div>
    </div>
</div>

<% include foot %>

