<% include head %>

        <div id="lead">Learn how to develop applications with Neo4j and deploy Server instances.</div>

            <ul class="hor menu">
<% ["install", "tools", "cloud", "sdn", "ops"].forEach(function(chapter) { %><% include _chapterHeading %><% }); %>
            </ul>

        </div>
    </div>

        <div id="main" class="mainElement">
<% ["install", "tools", "cloud", "sdn", "ops"].forEach(function(chapter) { %><% include _chapter %><% }); %>
        </div><!-- #main -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.activateMain('develop', '9.8em');

            nav.initThumbnails();

            nav.init();
            nav.activate('install');

            $(window).on('resize', function() {
                nav.resize();
            });

        });
        //-->
        </script>

<% include foot %>

