<% include head %>
<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
  <div id="download" class="hero-unit">
    <h1>Thank You for Downloading Neo4j</h1>
    <p>If your download did not start automatically, 
    <a id="downloadLink" href="http://dist.neo4j.org/neo4j-community-1.7.2-unix.tar">click here to get your file</a>.</p>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="installation">
        <h2>Installation Instructions</h2>
        <a data-toggle="lightbox" href="#installvideo" class="thumbnail"><img src="/assets/img/still/install.gif" alt="Click to View" /></a>
        <p class="caption">Peter Neubauer guides through the first steps of downloading and running Neo4j.</p>
        <div class="lightbox fade" id="installvideo" style="display: none;">
          <div class='lightbox-content'>
            <iframe src="http://player.vimeo.com/video/53838744" width="500" height="281" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen"></iframe>
          </div>
        </div>
      </div>
    </div>
    
    <div class="span4">      
      <div class="summary">
        <h2>Next Steps</h2>
        <div class="well">
          <p class="text18">After Download</p>
          <ul class="circle">
              <li><a href="http://docs.neo4j.org/chunked/milestone/server-installation.html" target="_blank">detailed Installation Instructions</a></li>
              <li><a href="/intro">Graph Introduction</a></li>
              <li><a href="/create">Learn to Build Apps</a></li>
              <li><a href="/participate">Get Help</a></li>
          </ul>
          <p class="text18">Upgrading?</p>
          <p>Read <a href="http://docs.neo4j.org/chunked/milestone/deployment-upgrading.html" target="_blank">Upgrading Docs</a></p>
        </div>
      </div> 
    </div>    
          
  </div>
     
<% include foot %>

<script type='text/javascript'>//<![CDATA[ 

var ed = getUrlVars()["edition"];
var re = getUrlVars()["release"];
var pl = getUrlVars()["platform"];
var suffix = 'zip';
var marketo_idnum = 'NEED_MARKETO_CODE';

	if (pl == 'unix' || pl == 'mac_linux') {
		suffix = 'tar.gz';
		packaging = 'tarball';
	}
	
var downloadLink = "http://dist.neo4j.org/neo4j-" + ed + "-" + re + "-" + pl +"." + suffix;

/* randomly select redfox to provide download */
var redfox = "http://download.neo4j.org/artifact?edition=" + ed + "&version=" + re + "&distribution=" + packaging + "&dlid=" + marketo_idnum;	
if (Math.floor(Math.random()*11) > 5) {
	    downloadLink = redfox;
	    redfox = "yup";
	}	

function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}

var downloadTimeout = setTimeout(
    function() {
       /* window.location = downloadLink;*/
    },
    2000
);

</script> 