<% include head %>

<div class="container">

  <div id="download" class="hero-unit path">
    <h1><a class="downloadLink" href=""><i class="icon icon-download-alt"></i></a> Thank You for Downloading Neo4j</h1>
    <p class="lead">Enjoy your database and explore more options of managing your connected data.</p>
  </div>
    <div class="row span9 large"><p>If your download did not start automatically,
    <a class="downloadLink btn btn-success" href="">click here to get your file</a>.</p></div>
  <div class="row">
    <div class="span8">
        <h2>While you're waiting for your download:</h2>
        <h3>Stay up to date.</h3>
        <p>Stay informed about Neo4j events, releases and technical articles on graphs and development with Neo4j. </p>
        <iframe src="http://info.neotechnology.com/2012Newsletters_NewsletterSubscriptioniframe.html" onload="this.style.visibility = 'visible';" style="border:0;padding: 5;" width="220px" height="60px" frameborder=”0” scrolling="no"></iframe>
        
        <h3>Install Neo4j after download.</h3>
        <% include download/installation %>
       
    </div>
    
    <div class="span4">      
      <div class="summary">
        <h2>Next Steps</h2>
        <div class="well">
          <p class="text18">After Download</p>
          <ul class="circle">
              <li><a href="/learn/graphdatabase">Graph Introduction</a></li>
              <li><a href="/develop">Learn to Build Apps</a></li>
              <li><a href="/develop/example_data">Sample Datasets</a></li>
              <li><a href="/develop">Learn to Build Apps</a></li>
              <li><a href="http://docs.neo4j.org/chunked/milestone/server-installation.html" target="_blank">Detailed Installation Instructions</a></li>
              <li><a href="/release-notes" >Release notes for the Neo4j major versions</a></li>
              
          </ul>
          <p class="text18">Upgrading?</p>
          <p>Read <a href="http://docs.neo4j.org/chunked/milestone/deployment-upgrading.html" target="_blank">Upgrading database docs</a></p>
        </div>
      </div> 
    </div>    
          
  </div>
 </div>
 </div>
<% include foot %>

<script type='text/javascript'>//<![CDATA[
$(document).ready(function() {
    var testing = getUrlVars()["test"] || null;
    var ed = getUrlVars()["edition"] || "community";
    var re = getUrlVars()["release"] || "<%= neo4jGA.version %>";
    var pl = getUrlVars()["platform"] || "unix";
    var packaging = 'zip';
    var suffix = "zip";
    
    if (pl == 'unix' || pl == 'mac_linux') {
        suffix = 'tar.gz';
        packaging = 'tarball';
    }
        
    //var downloadLink = "http://dist.neo4j.org/neo4j-" + ed + "-" + re + "-" + pl +"." + suffix;
    
    
    $(".dirName").text("neo4j-"+ed+"-"+re);
    
    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }
    
    function updateDownloadLink(marketo_id) {
        var marketo_idnum = marketo_id || 'notread';
        var downloadLink = "http://download.neo4j.org/artifact?edition=" + ed + "&version=" + re + "&distribution=" + packaging + "&dlid=" + marketo_idnum;

        $(".downloadLink").attr("href",downloadLink);
        if (testing==null) {
            window.location = downloadLink;
        }
    }
    $.ajax("/marketo", {
        success: function(id) {
            updateDownloadLink(id)
        },
        error:function(err) {
            updateDownloadLink()
    }})
});
</script>