  </div>
  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="span2">
          	<h4>About</h4>
            <ul>
              <li><a href="#">What is Neo4j</a></li>
               <li><a href="#">Blog</a></li>
              <li><a href="#">Try Live</a></li>
              <li><a href="#">Download</a></li>
            </ul>
          </div>
          <div class="span2">
            <h4>Learn</h4>
            <ul>
              <li><a href="#">Neo4j Manual</a></li>
              <li><a href="#">Videos</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </div>
          <div class="span2">
            <h4>Create</h4>
            <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">Spring Data Neo4j</a></li>
              <li><a href="#">Neo4j Cloud</a></li>
            </ul>
          </div>
          <div class="span2">
           <h4>Participate</h4>
            <ul>
              <li><a href="#">Google Group</a></li>
              <li><a href="#">Stack Overflow</a></li>
              <li><a href="#">Meetups</a></li>
              <li><a href="#">Git Hub</a></li>
            </ul>
          </div>
          <!--<div class="span4">
            <div class="newsletter">
              <h5>Subscribe to our Mailing List</h5>
              <p>Get Tips, Tricks, and the latest Neo4j News</p>
              <input class="span3" type="email" placeholder="Enter Email Address">
              <button type="submit" class="btn">Submit</button>
            </div>
            <div class="social">
              <a href="#"><img src="/themes/coolblue/img/f_icon_twitter.png" alt="twitter"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_meetup.png" alt="meetup"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_stack.png" alt="stackoverflow"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_github.png" alt="github"></a>
            </div>-->
          </div>
        </div>
        
        <div class="row">
          <div class="span2 offset1">
            <p class="pull-left">&copy; <a href="http://neotechnology.com">Neo Technology</a> <%= new Date().getFullYear() %></p>
            <!--<p>With <i class="icon-heart"></i> from Sweden.</p>-->
          </div>
        </div

      </div> 
    </div>
  </footer>
  