  <footer>
    <div class="footer">
      <div class="row" id="sitemap">
        <div class="container">
          <div class="span2">
            <ul>
                <li><a href="/intro">Introduction</a></li>
                <li><a href="/learn/try" >Try Live</a></li>
                <li><a href="/download">Download</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
                <li><a href="http://blog.neo4j.org" target="_blank">Blog</a></li>
                <!--<li><a href="/learn/watch">Videos</a></li>-->
                <li><a href="/learn/apps">Gallery</a></li>
                <li><a href="http://docs.neo4j.org" target="_blank">Neo4j Manual</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
                <li><a href="/integrate">Language drivers</a></li>
                <li><a href="/create/spring">Spring Data</a></li>
                <li><a href="/create/heroku">Heroku</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><a href="https://groups.google.com/group/neo4j/" target="_blank">Google Group</a></li>
              <li><a href="http://stackoverflow.com/search?q=neo4j" target="_blank">Stack Overflow</a></li>
              <li><a href="http://neo4j.meetup.com" target="_blank">Meetups</a></li>
              <li><a href="http://www.github.com/neo4j/neo4j" target="_blank">GitHub</a></li>
            </ul>
          </div>
          <!--<div class="span4">
            <div class="newsletter">
              <h5>Subscribe to our Mailing List</h5>
              <p>Get Tips, Tricks, and the latest Neo4j News</p>
              <input class="span3" type="email" placeholder="Enter Email Address">
              <button type="submit" class="btn">Submit</button>
            </div>
            <div class="social">
              <a href="#"><img src="/themes/coolblue/img/f_icon_twitter.png" alt="twitter"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_meetup.png" alt="meetup"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_stack.png" alt="stackoverflow"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_github.png" alt="github"></a>
            </div>-->
          </div>
        </div> 
        
        <div class="row footer-gray">
          <div class="span12">
            <p class="pull-right">&copy; <a href="http://neotechnology.com">Neo Technology</a> <%= new Date().getFullYear() %></p>
            <!--<p>With <i class="icon-heart"></i> from Sweden.</p>-->
          </div>
        </div>

    </div>
  </footer>
  