

      
    </div> <!-- /container -->

    
    <footer class="bottom navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="pull-right">&copy; <a href="http://neotechnology.com">Neo Technology</a> <%= new Date().getFullYear() %></p>
            <p>With <i class="icon-heart"></i> from Sweden.</p>
          </div>
        </div
      </d>
    </footer>
      
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap-iso.js" type="text/javascript"></script>
  	<script src="/assets/js/bootstrap-lightbox.js" type="text/javascript"></script>
  	
  </body>
</html>
