  <footer>
    <div class="footer">
      <div class="row" id="sitemap">
        <div class="container">
            <div class="span2">
                <ul>
                    <li class="fheader"><i class="icon icon-book"></i>Learn</li>
                    <li><a href="/intro">Graph Database</a></li>
                    <li><a href="/learn/neo4j" target="_blank">What is Neo4j</a></li>
                    <li><a href="/learn/nosql">NOSQL Data Models</a></li>
                    <li><a href="http://watch.neo4j.org" target="_blank">Videos</a></li>
                    <li><a href="/learn/apps">Apps Gallery</a></li>
                    <li><a href="/learn/try" >Try Live</a></li>
                    <li><a href="http://docs.neo4j.org" target="_blank">Neo4j Manual</a></li>
                </ul>
            </div>
            <div class="span2">
                <ul>
                    <li class="fheader"><i class="icon icon-cogs"></i>Create</li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/create">Create with Neo4j</a></li>
                    <li><a href="/integrate">Language drivers</a></li>
                    <li><a href="/create/spring">Spring Data</a></li>
                    <li><a href="/create/ec2">Amazon EC2</a></li>
                    <li><a href="/create/heroku">Heroku</a></li>
                    <li><a href="/create/example_data">Sample Datasets</a></li>
                </ul>
            </div>
          <div class="span2">
            <ul>
              <li class="fheader" ><i class="icon icon-refresh"></i>Participate</li>
              <li><a href="/contributors">Contributors</a></li>
              <li><a href="https://groups.google.com/group/neo4j/" target="_blank">Google Groups</a></li>
              <li><a href="http://stackoverflow.com/search?q=neo4j" target="_blank">Stack Overflow</a></li>
              <li><a href="http://neo4j.meetup.com" target="_blank">Meetups</a></li>
              <li><a href="http://www.github.com/neo4j/neo4j" target="_blank">GitHub</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li class="fheader" ><img src="/assets/img/neo4j/neo4j-grey.svg" width="16px" align="left" alt="Neo4j">Neo4j Quick Links</li>
              <li><a href="/download">Download</a></li>
              <li><a href="http://docs.neo4j.org" target="_blank">Neo4j Manual</a></li>    
              <li><a href="/learn/try" >Try Live</a></li>        
            </ul>
          </div>

          <div class="span2 sitelinks">
            <ul>
                <li><a href="http://blog.neo4j.org" target="_blank"><i class="icon-bookmark"></i> Neo4j&nbsp;Blog</a></li>
                <li><a href="https://twitter.com/neo4j" target="_blank"><i class="icon-twitter"></i>  Twitter</a></li>
                <li><a href="http://www.linkedin.com/groups?gid=2623939" target="_blank"><i class="icon-linkedin"></i>  LinkedIn</a></li>
                <li><a href="http://info.neotechnology.com/contactus.html" target="_blank"><i class="icon-phone"></i>  Contact Us</a></li>
            </ul>
          </div>
          <!--<div class="span4">
            <div class="newsletter">
              <h5>Subscribe to our Mailing List</h5>
              <p>Get Tips, Tricks, and the latest Neo4j News</p>
              <input class="span3" type="email" placeholder="Enter Email Address">
              <button type="submit" class="btn">Submit</button>
            </div>
            <div class="social">
              <a href="#"><img src="/themes/coolblue/img/f_icon_twitter.png" alt="twitter"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_meetup.png" alt="meetup"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_stack.png" alt="stackoverflow"></a>
              <a href="#"><img src="/themes/coolblue/img/f_icon_github.png" alt="github"></a>
            </div>-->
          </div>
        </div> 
        
        <div class="row footer-gray">
          <div class="container">
            <div class="span12 fcompany">
            <p class="pull-left">&copy; <%= new Date().getFullYear() %> <a href="http://neotechnology.com">Neo Technology</a>, Inc.  &nbsp; Graphs are Everywhere.</p>
            <p class="pull-right"><a href="http://neotechnology.com/about" target="_blank">NeoTechnology.com</a> | <a href="http://info.neotechnology.com/contactus.html" target="_blank">Contact Us</a></p>
            <!--<p>With <i class="icon-heart"></i> from Sweden.</p>-->
            </div>
          </div>
        </div>

    </div>
  </footer>
  