
        <div id="sites" class="mainElement">
              <a href="/training">Graph Academy</a>
            <!--| <a href="/learn/licensing">Professional Support</a>-->
            | <a href="http://neotechnology.com">Neo Technology</a>
            | <a href="http://graphconnect.com">Graph Connect 2014</a>
            <!--| <a href="http://graphdatabases.com">Graph Databases Book</a>-->
            | <a href="/learn/graphgist#related">Graph Models Collection</a>
        </div>
        <div style="position: absolute;top:0px;right:0px;z-index:100;"><a href="https://github.com/neo4j/neo4j/wiki/Jobs"><img style="width: 10em;" src="<%=asset('img/logo/hiring_ribbon.png')%>" alt="We're hiring"/></a></div>
        <div id="headerWrapper" class="mainElement">
           <div id="header">
<!--[if lt IE 9]><![if gt IE 8]><![endif]-->
               <a href="/"><img id="logo" src="/public/new/img/logo-neo4j.svg" alt="Neo4j World's Leading Graph Database">   </a>
<!--[if lt IE 9]><![endif]><![endif]-->
<!--[if lt IE 9]>
               <a href="/"><img id="logo" src="<%=asset('new/img/logo-white-with-brand.png')%>" alt="Neo4j World's Leading Graph Database"/></a>
<![endif]-->
               <div id="mobileMenu"><i class="icon icon-reorder"></i></div>
                <div id="mainNav">

                    <ul class="hor menu">
                        <li class="learn"><a href="/learn"><i class="icon icon-book"></i> LEARN</a></li>
                        <li class="develop"><a href="/develop"><i class="icon icon-cogs"></i> DEVELOP</a></li>
                        <li class="participate"><a href="/participate"><i class="icon icon-refresh"></i> PARTICIPATE</a></li>
                        <li class="download"><a href="/download"><i class="icon icon-download-alt"></i> DOWNLOADS</a></li>
                        <li>
                            <form class="main-search" id="searchbox_010469570773660073342:bxbnq3_xncc" action="/search" method="get">
                              <input id="q" name="q" type="text" placeholder="search site ..." onfocus="$(this).select();$(this).addClass('bigsearch');" onblur="$(this).removeClass('bigsearch');" />
                              <a href="#" onclick="$(this).parent().submit()" id="btn-search" type="button"><i class="icon icon-search"></i></a>
                              <input value="010469570773660073342:bxbnq3_xncc" name="cx" type="hidden"/>
                              <input value="FORID:11" name="cof" type="hidden"/>
                            </form>
                        </li>

                    </ul>



                    <div id="activePointer" style="overflow: hidden; margin-bottom: -0.25em"><i class="icon icon-caret-up"></i></div>

                </div><!-- mainNav -->
            </div><!-- header -->
            <ul id="mobileNav">
              <li><a href="/learn"><i class="icon icon-book"></i></a> <a href="/learn">Learn</a></li>
              <li><a href="/develop"><i class="icon icon-cogs"></i></a> <a href="/develop">Develop</a></li>
              <li><a href="/participate"><i class="icon icon-refresh"></i></a> <a href="/participate">Participate</a></li>
              <!--li>Search</li-->
            </ul>
        </div><!-- headerWrapper -->

<% if (typeof(req) == "undefined" || !req.path.match(/graphgist/)) {
%>
    <div id="banner">
      <div>
        <a href="http://neo4j.com">
        <div id="com-logo">
        </div>
        </a>
      </div>
      <div id="com-link">
        <h2>&nbsp;<br/>Introducing</h2>
        <h1><a href="http://neo4j.com">neo4j.com</a></h1>
        <h2>The new website for Neo4j users.</h2>
      </div>
      <div id="blog-link" class="footer">
        <p><a href="http://neo4j.com/blog/neo4j-companion/">Read all about it.</a></p>
      </div>

    </div>
<% } else { %>
<% } %>
