
        <div id="headerWrapper" class="mainElement">
           <div id="header">
               <a href="/"><img id="logo" src="<%=asset('new/img/logo-white.svg')%>" alt="Neo4j World's Leading Graph Database"> <div class="brand">Neo4j</div>   </a>
                <div id="mainNav">

                    <ul class="hor menu">
                        <li class="learn"><a href="/learn"><i class="icon icon-book"></i> LEARN</a></li>
                        <li class="develop"><a href="/develop"><i class="icon icon-cogs"></i> DEVELOP</a></li>
                        <li class="participate"><a href="/participate"><i class="icon icon-refresh"></i> PARTICIPATE</a></li>
                        <li><a class="btn btn-install" href="/install"><i class="icon icon-download-alt"></i> DOWNLOAD</a></li>
                        <a href="#" onclick="$('#search').show(function() { $('#search form input').focus()});" id="btn-search" type="button"><i class="icon icon-search"></i></a>
                    </ul>

                    <div id="search" onmouseout="$('#search').hide()" style="z-index:100;position:absolute; top:5px;right: 5px; display: none;">
                        <form target="_blank" action="http://google.com/search" method="get"><input type="hidden" name="q" value="site:www.neo4j.org"/><input type="text" name="q" /></form>
                    </div>

                    <div id="activePointer" style="overflow: hidden; margin-bottom: -0.25em"><i class="icon icon-caret-up"></i></div>

                </div><!-- mainNav -->
            </div><!-- header -->
        </div><!-- headerWrapper -->
                