<% include head %>
<script type="text/javascript" src="/assets/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/assets/js/graph-diagram.js"></script>
<script type="text/javascript" src="/assets/js/graph-editor.js"></script>
<link rel="stylesheet" href="/assets/css/graph-diagram.css" type="text/css">
<link rel="stylesheet" href="/assets/css/graph-editor.css" type="text/css">

<figure class="graph-diagram">
    <svg xmlns="http://www.w3.org/2000/svg" class="graph-diagram pre-sized" height="100%" width="100%"
         viewBox="-500 -500 1000 1000"></svg>

    <ul class="graph-diagram-markup" style="display: none;" data-internal-scale="2" data-external-scale="1">
        <li class="graph-diagram-node" data-node-id="4" data-x="0" data-y="-50" href="/learn/neo4j">
            <span class="graph-diagram-in-node-caption">Neo4j</span>
        </li>
        <li class="graph-diagram-node" data-node-id="0" data-x="0" data-y="-180" href="/install">
            <span class="graph-diagram-in-node-caption">Install</span>
        </li>

            <li class="graph-diagram-relationship" data-from="1" data-to="0">
                <span class="graph-diagram-relationship-type">then</span>
            </li>
            <li class="graph-diagram-relationship" data-from="0" data-to="4">
                <span class="graph-diagram-relationship-type">your</span>
            </li>
            <li class="graph-diagram-relationship" data-from="0" data-to="3">
                <span class="graph-diagram-relationship-type">then</span>
            </li>
            
        
        <li class="graph-diagram-node" data-node-id="1" data-x="-300" data-y="0" href="/learn">
            <span class="graph-diagram-in-node-caption">Learn</span>
        </li>

            <li class="graph-diagram-relationship" data-from="1" data-to="4">
                <span class="graph-diagram-relationship-type">about</span>
            </li>
            <li class="graph-diagram-relationship" data-from="1" data-to="2">
                <span class="graph-diagram-relationship-type">then</span>
            </li>
        
        <li class="graph-diagram-node" data-node-id="2" data-x="0" data-y="100" href="/develop">
            <span class="graph-diagram-in-node-caption">Develop</span>
        </li>

            <li class="graph-diagram-relationship" data-from="2" data-to="3">
                <span class="graph-diagram-relationship-type">then</span>
            </li>
            <li class="graph-diagram-relationship" data-from="2" data-to="4">
                <span class="graph-diagram-relationship-type">with</span>
            </li>

        <li class="graph-diagram-node" data-node-id="3" data-x="300" data-y="0" href="/participate"><span class="graph-diagram-in-node-caption">Participate</span></li>

            <li class="graph-diagram-relationship" data-from="3" data-to="4">
                <span class="graph-diagram-relationship-type">in</span>
            </li>
    </ul>

</figure>

<script type="text/javascript">
    d3.selectAll("figure.graph-diagram").each(function () {
        var graph = gd.markup.parse(d3.select(this).select("ul.graph-diagram-markup"));
        var diagramView = d3.select(this).selectAll("svg.graph-diagram").data([graph]);

        diagramView
                .enter()
                .append("svg:svg")
                .attr("class", "graph-diagram");

        bind(graph, diagramView);

        if (!diagramView.classed("pre-sized")) {
            gd.scaling.sizeSvgToFitDiagram(graph, diagramView);
        }
    });
</script>

<% include foot %>