<% include head %>

  <!-- Main Hero -->
  <div id="hero">
     <h2>Neo4j<br />
     <span id="tag">The World&#39;s Leading Graph Database</span><br />
     <p class="lead">Query Connected Data Faster. Try it out!</p>
     <button class="btn btn-large btn-success" type="button"><div style="font-size: 24px;">Download &nbsp; <i class="icon-download bg-btn"></i> </div></button> </h2>
  </div>
                
  <div class="gray-row">
      <div class="container">
        <div class="row">               
          <div class="span4 start"><a href="/learn/neo4j"><img src="/themes/coolblue/img/start.png" alt="Start"></a></div>         
          <div class="span4 learn"><a href="/learn"><img src="/themes/coolblue/img/learn.png" alt="Learn"></a></div>
          <div class="span4 create"><a href="/create"><img src="/themes/coolblue/img/create.png" alt="Create"></a></div>
         </div>
      </div>  
    </div>        
    
  <!-- Community -->
 <!-- <div class="community-container">
    <div class="community">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h4>Join the Community</h4>
          </div>
          <div class="span4">
            <p>receive Neo4j monthly e-mails<br>
            get news and events, and meet graph enthusiast </p>
          </div>
          <div class="span4">
            <input class="span3" type="email" placeholder="Enter Email Address">
            <button type="submit" class="btn">Join</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
    
  <!-- RSS Feeds & Marketing -->
 <!-- <div class="feeds-marketing">
    <div class="container">
      <div class="row">
        <div class="span4 news">
          <h4>Latest News</h4>
            <ul>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
            </ul>
        </div>
        <div class="span4 events">
          <h4>Upcoming Events</h4>
            <ul>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
            </ul>
       </div>
        <div class="span4 marketing">
            <div id="marketing-slider">
              <img class="slide" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
          </div>
        </div>
      </div>
    </div>-->

<% include foot %>