<% include head %>

<script type="text/javascript">
//    $("#navigation").hide();
</script>
<link rel="stylesheet" href="<%=asset('css/graph-diagram.css')%>" type="text/css">
<link rel="stylesheet" href="<%=asset('css/graph-editor.css')%>" type="text/css">

<div class="badge">
    <a href="http://graphdatabases.com" target="_blank"><img style="width: 12em; height: 12em" src="http://www.neotechnology.com/wp-content/uploads/2013/03/gd_neo4jweb.png"/></a>
</div>
        
<div class="page"><!-- page -->

    <h1>The World&#39;s Leading Graph Database</h1>
    <p class="introText">Neo4j is an open-source, high-performance, enterprise-grade NOSQL graph database.</p>

    <div id="canvas"></div>    
    
    <div class="lead">

      <div class="col left">
      <p>Neo4j is a robust (fully ACID) transactional <a href="/learn/graphdatabase">property graph</a> database. Due to its
      graph data model, Neo4j is highly agile and blazing fast. For connected data
      operations, <a href="/learn/neo4j">Neo4j</a> runs a thousand times faster than relational databases.</p>
      </div>

      <div class="col right">
      <p>More than 20 of the Global 2000, hundreds of startups and thousands of community
      members <a href="/develop">use Neo4j</a> in a wide variety of use cases such as social applications,
      recommendation engines, fraud detection, resource authorization, network &
      data center management and much more.</p>
      </div>

    </div><!-- lead -->

</div><!-- page -->
<div id="twitter_bar">
    <div><a class="twitter_user" href="" target="_blank"><img width="24" src=""/><span></span></a>: <span class="text"></span> - <a class="twitter_date" href="" target="_blank"></a></div>
</div>    
    
<script type="text/javascript">
    var tweets=[];
    $(document).ready(function(){
        function nextTweet() {
            function reloadTweets() {
                $.ajax("/api/tweets",{
                    success: function(data) {
                        tweets=data;
                        if (tweets.length) nextTweet();
                    }
                })                
            }
            var tweet = tweets.shift();
            if (!tweet) {
               reloadTweets(); return;  
            }
            var seconds = (new Date() - Date.parse(tweet['created_at'])) / 1000;
            var time = seconds + "s ago";
            if (seconds > 3600 * 24) time = (seconds / 3600 / 24).toFixed() + "d ago";
            else if (seconds > 3600 ) time = (seconds / 3600 ).toFixed() + "h ago";
            else if (seconds > 60) time = (seconds / 60 ).toFixed() + "m ago";
            var twitter = $("#twitter_bar div");
            twitter.find("a.twitter_user img").attr("src",tweet['profile_image_url']);
            twitter.find("a.twitter_user").attr("href","http://twitter.com/"+tweet['from_user']);
            twitter.find("a.twitter_user span").text(tweet['from_user_name']);
            twitter.find("span.text").html(tweet['rendered']);
            twitter.find("a.twitter_date").html(time);
            twitter.find("a.twitter_date").attr("href","http://twitter.com/"+tweet['from_user']+"/status/"+tweet['id_str']);;
        }
        nextTweet();
        setInterval(nextTweet,10*1000);
    })
</script>    
<% include foot %>
        
<% include graph %>