<% include head %>

  <!-- Main Hero -->
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="hero-unit">
          <!--<img src="/assets/img/hero.png"> -->
          <h2>Neo4j<br>
          <span>The World's Leading Graph Database</span></h2>
          <p class="download"><a class=""><img src="/themes/<%= theme() %>/img/btn_download.png" alt=""></a></p>
        </div>
      </div>
      <div class="row">
        <div class="learning-path">
          <div class="span1 spacer"></div>
          <div class="span3 start"><a href="/intro"><img src="/themes/<%= theme() %>/img/start.png" alt="Start"></a></div>
          <div class="span4 learn"><a href="/learn"><img src="/themes/<%= theme() %>/img/learn.png" alt="Learn"></a></div>
          <div class="span3 create"><a href="/create"><img src="/themes/<%= theme() %>/img/create.png" alt="Create"></a></div>
          <div class="span1 spacer"></div>
        </div>
      </div>  
    </div> 
  </div>

  <!-- Community -->
  <div class="community-container">
    <div class="community">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h4>Join the Community</h4>
          </div>
          <div class="span4">
            <p>receive Neo4j monthly e-mails<br>
            get news and events, and meet graph enthusiast </p>
          </div>
          <div class="span4">
            <input class="span3" type="email" placeholder="Enter Email Address">
            <button type="submit" class="btn">Join</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
    
  <!-- RSS Feeds & Marketing -->
  <div class="feeds-marketing">
    <div class="container">
      <div class="row">
        <div class="span4 news">
          <h4>Latest News</h4>
            <ul>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
            </ul>
        </div>
        <div class="span4 events">
          <h4>Upcoming Events</h4>
            <ul>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
            </ul>
       </div>
        <div class="span4 marketing">
            <div id="marketing-slider">
              <img class="slide" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
          </div>
        </div>
      </div>
    </div>

<% include foot %>