<% include head %>

  <!-- Main Hero -->
<div class="container">
  <div class="row">
    <div id="hero">
      <div class="span12 pagination-centered">
        <h2 class="">Neo4j</h2>
          <br />
	      <span id="tag">The Graph Database</span><br />
	     <p class="lead">Query Connected Data Faster. Try it out!</p>
	     <a href="/download" class="btn btn-large btn-success" type="button">Download &nbsp; <i class="icon-download bg-btn"></i></a>
	  </div>
	</div>
  </div>
</div>                
  <div class="gray-row">
      <div class="container">
        <div class="row">               
          <div class="span4 path">
             <h2><a href="/learn"><i class="icon icon-book"></i>Learn</a></h2>
              <p>Look inside the graph with Neo4j.</p>
          </div>
          <div class="span4 path">
             <h2><a href="/create"><i class="icon icon-cogs"></i>Create</a></h2>
              <p>Build cool graph apps.</p>
          </div>
          <div class="span4 path">
             <h2><a href="/participate"><i class="icon icon-refresh"></i>Participate</a></h2>
              <p>Join the Neo4j Community.</p>
          </div>
         </div>

      </div>  
    </div>        
    
  <!-- Community -->
 <!-- <div class="community-container">
    <div class="community">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h4>Join the Community</h4>
          </div>
          <div class="span4">
            <p>receive Neo4j monthly e-mails<br>
            get news and events, and meet graph enthusiast </p>
          </div>
          <div class="span4">
            <input class="span3" type="email" placeholder="Enter Email Address">
            <button type="submit" class="btn">Join</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
    
  <!-- RSS Feeds & Marketing -->
 <!-- <div class="feeds-marketing">
    <div class="container">
      <div class="row">
        <div class="span4 news">
          <h4>Latest News</h4>
            <ul>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Cursus Cras Ullamcorper</a></li>
              <li><a href="#">Fusce Lorem Ullamcorper Ligula Aenean</a></li>
            </ul>
        </div>
        <div class="span4 events">
          <h4>Upcoming Events</h4>
            <ul>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
              <li>Manchester Talk: The Challenge of Connected Data<br><span>Tue, 16th Oct. 2012</span><br><a href="#">event info</a></li>
            </ul>
       </div>
        <div class="span4 marketing">
            <div id="marketing-slider">
              <img class="slide" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
              <img class="slide hidden" src="/themes/coolblue/img/marketing_block_L.png" alt="" />
          </div>
        </div>
      </div>
    </div>-->

<% include foot %>