<% include head %>
<script type="text/javascript" src="/assets/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/assets/js/graph-diagram.js"></script>
<script type="text/javascript" src="/assets/js/graph-editor.js"></script>
<link rel="stylesheet" href="/assets/css/graph-diagram.css" type="text/css">
<link rel="stylesheet" href="/assets/css/graph-editor.css" type="text/css">

<figure class="graph-diagram">
    <svg xmlns="http://www.w3.org/2000/svg" class="graph-diagram pre-sized" height="100%" width="100%"
         viewBox="-79.15166672497259 -725.266302511501 1592.4500990146537 1583.5859796517402"></svg>

    <ul class="graph-diagram-markup" data-internal-scale="2" data-external-scale="3">
        <li class="graph-diagram-node" data-node-id="0" data-x="300" data-y="0" href="/learn">
            <span class="graph-diagram-in-node-caption">learn</span>
        </li>
        <li class="graph-diagram-node" data-node-id="1" data-x="-50" data-y="-50">
            <span class="graph-diagram-in-node-caption">graph database</span><dl class="graph-diagram-properties"><dt>is</dt><dd>cool</dd></dl></li>
        
        <li class="graph-diagram-relationship" data-from="0" data-to="1">
            <span class="graph-diagram-relationship-type">use via</span>
        </li>
    </ul>

</figure>

<script type="text/javascript">
    d3.selectAll("figure.graph-diagram").each(function () {
        var graph = gd.markup.parse(d3.select(this).select("ul.graph-diagram-markup"));
        var diagramView = d3.select(this).selectAll("svg.graph-diagram").data([graph]);

        diagramView
                .enter()
                .append("svg:svg")
                .attr("class", "graph-diagram");

        bind(graph, diagramView);

        if (!diagramView.classed("pre-sized")) {
            gd.scaling.sizeSvgToFitDiagram(graph, diagramView);
        }
    });
</script>

<% include foot %>