<% include head %>
<div class="container">

<!-- Example row of columns -->
<div role="main" class="row">

  
  <div class="span12">
    <div class="inner">
      <h1>Integrate</h1><p class="lead">Friends of Neo4j speak many languages, and work in many frameworks. </p>
      <ul class="thumbnails integrate" id="isotope">

        <li class=" java rest">
          <div class="thumbnail corner">
              <a href="http://docs.neo4j.org/chunked/snapshot/rest-api.html">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/neo4jrest.png" title="Neo4j REST" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Neo4j REST API</h5> 
              <p>Discoverable, language-neutral data access from anything that can send HTTP requests. You could write a whole application with just bash scripts and curl.</p>
            </div>            
          </div>
        </li>

        <li class=" java embedded rest">
          <div class="thumbnail corner">        
              <a href="/create/spring">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/sdn.png" title="Spring Data Neo4j" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Spring Data Neo4j</h5>  
              <p>Familiar POJO-based development, enabling object-to-graph mapping using annotations. Amazingly simple, with full graph power just a traversal query away.</p>
            </div>            
          </div>  
        </li>
        
        <li class=" embedded">
          <div class="thumbnail corner">                   
              <a href="http://docs.neo4j.org/chunked/stable/tutorials-java-embedded.html">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/embedded.png" title="Neo4j Embedded" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Embedded Java</h5>  
              <p>For intimate access, talk directly to Neo4j&#39;s graph engine directly in your JVM based application. Full feature parity with Neo4j Server, including HA clustering.</p>
            </div>            
          </div>  
        </li>
        
        <li class=" ruby embedded">
          <div class="thumbnail corner">       
              <a href="https://github.com/andreasronge/neo4j">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/rails.png" title="neo4j.rb" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>neo4j.rb</h5> 
              <p>Ruby on Rails? Try coasting along graph paths with Neo4j. Everything you know and love, wrapped with graph glory.</p>
            </div>            
          </div>  
        </li>
        
        <li class=" ruby rest">
          <div class="thumbnail corner">            
              <a href="https://github.com/maxdemarzi/neography/">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/ruby.png" title="Neography" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Neography</h5>  
              <p>For native Ruby access to Neo4j, Neography provides a thin, elegant wrapper around the REST API. </p>
            </div>            
          </div>        
        </li>  

        <li class=" php rest">
          <div class="thumbnail corner">
              <a href="https://github.com/jadell/neo4jphp/wiki/Introduction">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/php.png" title="Neo4jPHP" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>Neo4jPHP</h5>
              <p>Neo4jPHP provides an API that is both intuitive and flexible, and it takes advantage of "under-the-hood" performance enhancements, such as caching and lazy-loading. </p>
            </div>
          </div>
        </li>

        <li class=" dotnet rest">
          <div class="thumbnail corner">
              <a href="http://hg.readify.net/neo4jclient/wiki/Home/">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/dotnet.png" title="Neo4jClient .net" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>Neo4jClient</h5>
              <p>A .NET client for Neo4j which supports basic CRUD operations, a fluent Cypher query interface, and some indexing operations. </p>
            </div>
          </div>
        </li>

        <li class=" python rest">
          <div class="thumbnail corner">
              <a href="http://py2neo.org/">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/py2neo.png" title="py2neo" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>py2neo</h5>
              <p>Py2neo attempts to be both Pythonic and consistent with the core Neo4j API, across REST. In addition, the project provides support for the Graph Export Object File Format (Geoff). </p>
            </div>
          </div>
        </li>

        <li class=" js rest">
          <div class="thumbnail corner">
              <a href="https://github.com/thingdom/node-neo4j">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/nodejs.png" title="node-neo4j" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>node-neo4j</h5>
              <p>Node.js driver for Neo4j. Cleverly asynchronous, and blazingly fast. </p>
            </div>
          </div>
        </li>

        <li class=" clojure rest">
          <div class="thumbnail corner">            
              <a href="http://clojureneo4j.info/">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/clojure.png" title="Neocons Clojure" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>Neocons</h5>  
              <p>An idiomatic, feature rich Clojure client which supports (almost) all Neo4J REST API features and is constantly tested against bleeding edge server changes, like the Cypher language improvements. </p>
            </div>            
          </div>        
        </li>  
        

        <li class=" python rest">
          <div class="thumbnail corner">            
              <a href="http://bulbflow.com/overview/">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/bulbflow.png" title="Bulbflow" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Bulbflow</h5> 
              <p>Bulbs is an open-source Python persistence framework for graph databases and the first piece of a larger Web-development toolkit. It’s like an ORM for graphs. </p>
            </div>            
          </div>        
        </li>  
        
        <li class=" ruby rest">
          <div class="thumbnail corner">
              <a href="http://github.com/therubymug/keymaker">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/ruby.png" title="Keymaker" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>Keymaker</h5>
              <p>A multi-layer REST API Ruby wrapper for the Neo4j graph database built on top of Faraday.</p>
            </div>
          </div>
        </li>

        <li class=" ruby rest">
          <div class="thumbnail corner">
              <a href="https://github.com/elado/neoid">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/rails.png" title="Neoid" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>Neoid</h5>
              <p>Make your ActiveRecords stored and searchable on Neo4j graph database. With Neoid, queries that would make MySQL crawl become super fast. You get the benefits of Neo4j speed while keeping your schema on your plain old RDBMS. </p>
            </div>
          </div>
        </li>

        <li class=" python rest">
          <div class="thumbnail corner">            
              <a href="https://github.com/scholrly/neo4django">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/django.png" title="neo4django" alt="image" />
                <span class="thumbBottom"></span>
              </a>   
            <div class="caption">
              <h5>neo4django</h5> 
              <p>neo4django is an Object Graph Mapper (OGM) for Django. Use familiar Django models and queries against Neo4j.</p>
            </div>            
          </div>        
        </li>  
        
        <li class=" perl rest">
          <div class="thumbnail corner">
              <a href="https://metacpan.org/release/REST-Neo4p">
                <span class="thumbTop"></span>
                <img src="/assets/img/languages/perl.png" title="Neo4p" alt="image" />
                <span class="thumbBottom"></span>
              </a>
            <div class="caption">
              <h5>REST::Neo4p</h5>
              <p>Works with the Neo4j's REST by using Perl5 objects in a Perl person's favorite way.</p>
            </div>
          </div>
        </li>

        <li class=" scala rest">
          <div class="thumbnail corner">            
              <a href="https://github.com/FaKod/neo4j-scala/">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/scala.png" title="neo4j-scala" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Neo4j Scala</h5>  
              <p>A Scala wrapper for Neo4j which introduces an intuitive DSL for graph operations.</p>
            </div>            
          </div>        
        </li>  

        <li class=" scala rest">
          <div class="thumbnail corner">            
              <a href="http://anormcypher.org/">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/scala.png" title="AnormCypher" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>AnormCypher</h5>  
              <p>A Cypher-oriented Scala library modeled after the Play! framework's Anorm library.</p>
            </div>            
          </div>        
        </li>  
        
        <li class=" haskell rest">
          <div class="thumbnail corner">            
              <a href="http://hackage.haskell.org/package/cypher-0.8">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/haskell.png" title="haskell-cypher" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>Haskell Cypher</h5> 
              <p>Haskell Cypher makes it easy to send cypher commands to neo4j servers over the REST API. Additionally, it allows users to parse haskell datatypes from cypher queries.</p>
            </div>            
          </div>        
        </li>  
        
        <li class=" java embedded">
          <div class="thumbnail corner">            
              <a href="http://www.datanucleus.org/plugins/store.neo4j.html">
                <span class="thumbTop"></span>                
                <img src="/assets/img/languages/datanucleus.png" title="DataNucleus" alt="image" />
                <span class="thumbBottom"></span>
              </a>              
            <div class="caption">
              <h5>DataNucleus Neo4j Plugin</h5> 
              <p>datanucleus-neo4j provides persistence of Java objects to Neo4j. It builds on top of the basic persistence provided by datanucleus-core.</p>
            </div>            
          </div>        
        </li>  
      </ul>
    </div>
  </div>

</div>

</div>
<% include foot %>

