<% include head %>

<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
<div class="span3">
    <ul class="nav nav-tabs nav-stacked affix">
        <li><a href="#graphs">Graph Concepts</a></li>
        <li><a href="#introduction">Neo4j Introduction</a></li>
        <li><a href="#production">Going into Production</a></li>
    </ul>
</div>
<div class="span9">
<div id="learn" class="hero-unit path">

    <h2><a><i class="icon icon-book"></i> Learn</a></h2>

    <p class="lead">From graph concepts to deploying a globe spanning cluster, the path to success starts here.</p>
</div>


<section id="graphs" class="row">
    <h2>Graph Concepts</h2>

    <div >
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3><a href="/learn/graphdatabase">Property Graph</a></h3>

                    <p>Neo4j stores data in a Property Graph: nodes + relationships, with properties on both. Leave the
                        schema
                        behind and start focusing on how your data is connected.</p>

                    <p><a href="/learn/graphdatabase">Learn more &raquo;</a></p>
                </div>

                <div class="span3">
                    <h3><a href="/learn/nosql">NoSQL</a></h3>

                    <p>You know relational, now consider relationships. Relate the graph model to relational, documents,
                        and
                        other NoSQL stores.</p>

                    <p><a href="/learn/nosql">Not only SQL &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="span3">
            <h3>Graph DB 101</h3>
            <a data-toggle="lightbox" href="#graphdbIntro" class="thumbnail">
                <img src="/assets/img/still/graphdb-intro.png" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> A pleasant stroll through general concepts, and Neo4j particulars.</p>

            <div class="lightbox fade" id="graphdbIntro" style="display: none;" src="http://player.vimeo.com/video/46886385">
                <div class='lightbox-content'>
                    <iframe width="500" height="377"
                            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="introduction"  class="row">
    <h2>Neo4j Introduction</h2>

    <div>
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3><a href="/learn/neo4j">Neo4j Intro</a></h3>

                    <p>Neo4j is a graph database, a full featured enterprise database that happily stores and
                        retrieves highly-connected data.</p>

                    <p><a href="/learn/neo4j">Get familiar &raquo;</a></p>
                </div>

                <div class="span3">
                    <h3><a href="http://docs.neo4j.org">Documentation</a></h3>

                    <p>Our versioned online manual start with a comprehensive tutorial section, complemented with
                        detailed a reference and live interaction.</p>

                    <p><a href="http://docs.neo4j.org">Study this &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <h3><a href="/learn/cypher">Cypher Tutorial</a></h3>

                    <p>Hands on introduction to the Cypher Query Language</p>

                    <p><a href="/learn/cypher">Learn it &raquo;</a></p>

                </div>

                <div class="span3">
                </div>
            </div>
        </div>
        <div class="span3">
            <h3>Why Graphs</h3>
            <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail">
                <img src="/assets/img/still/emil-explains.jpg" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> Emil Eifrem explains the secret behind websites like Twitter, Yelp and Facebook.</p>

            <div class="lightbox fade" id="whyGraphs" style="display: none;" src="http://video.neo4j.org/player/YMD">
                <div class='lightbox-content'>
                    <iframe title="Neo4j Videography Video Player" width="640" height="360"
                            frameborder="0" webkitallowfullscreen
                            mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="production" class="row">
    <h2>Going into Production</h2>

    <div class="span6">
        <div class="row">
            <div class="span3">
                <h3><a href="/learn/licensing">Licensing Guide</a></h3>

                <p>Neo4j&#39;s enterprise editions are provided by Neo Technology for use in commercial, non open-source
                    deployments.</p>

                <p><a href="/learn/licensing">Read more &raquo;</a></p>
            </div>
            <div class="span3">
                <h3><a href="http://www.neotechnology.com/partners/">Partner Graph</a></h3>

                <p>Neo Technology works with a large, worldwide partner network which provide local consulting and training services.</p>

                <p><a href="http://www.neotechnology.com/partners/">Read more &raquo;</a></p>
            </div>

        </div>

    </div>
    <div class="span3">
        <h3>Production Secrets</h3>
        <a data-toggle="lightbox" href="#productionSecrets" class="thumbnail">
            <img src="/assets/img/still/secrets.png" alt="Click to View">
        </a>

        <p class="caption"><i class="icon icon-facetime-video"></i> Maybe a day or two before you get featured on Techcrunch, make sure your application is fully production-ready.</p>

        <div class="lightbox fade" id="productionSecrets" style="display: none;" src="http://player.vimeo.com/video/49485027">
            <div class='lightbox-content'>
                <iframe width="500" height="281"
                        frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
</section>

</div>

</div>
</div>
<% include foot %>

