<% include head %>

<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
<div class="span3">
    <ul class="nav nav-tabs nav-stacked affix">
        <li><a href="#graphs">Graph Concepts</a></li>
        <li><a href="#introduction">Neo4j Introduction</a></li>
        <li><a href="#dev">Development</a></li>
        <li><a href="#ops">Operations</a></li>
        <li><a href="#production">Production</a></li>
    </ul>
</div>
<div class="span9">
<div id="learn" class="hero-unit path">

    <h2><a><i class="icon icon-book"></i> Learn</a></h2>

    <p class="lead">From graph concepts to deploying a globe spanning cluster, the path to success starts here.</p>
</div>


<section id="graphs">
    <h2>Graph Concepts</h2>

    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3>Property Graph</h3>

                    <p>Neo4j stores data in a Property Graph: nodes + relationships, with properties on both. Leave the
                        schema
                        behind and start focusing on how your data is connected.</p>

                    <p><a href="/learn/graphdatabase">Learn more &raquo;</a></p>
                </div>

                <div class="span3">
                    <h3>NoSQL</h3>

                    <p>You know relational, now consider relationships. Relate the graph model to relational, documents,
                        and
                        other NoSQL stores.</p>

                    <p><a href="/learn/nosql">Not only SQL &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <h3>Cypher Tutorial</h3>

                    <p>Hands on introduction to the Cypher Query Language</p>

                    <p><a href="/learn/cypher">Learn it &raquo;</a></p>

                </div>

                <div class="span3">
                    <h3>Demo Console</h3>

                    <p>The Neo4j Demo Console allows you to interactively learn and try our Cypher Query
                        Language</p>

                    <p><a href="/learn/try">Try live &raquo;</a></p>

                </div>
            </div>
        </div>
        <div class="span3">
            <h3>Graph DB 101</h3>
            <a data-toggle="lightbox" href="#graphdbIntro" class="thumbnail">
                <img src="/assets/img/still/graphdb-intro.png" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> A pleasant stroll through general concepts, and Neo4j particulars.</p>

            <div class="lightbox fade" id="graphdbIntro" style="display: none;" src="http://player.vimeo.com/video/46886385">
                <div class='lightbox-content'>
                    <iframe width="500" height="377"
                            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="introduction">
    <h2>Neo4j Introduction</h2>

    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3>Neo4j Intro</h3>

                    <p>Neo4j is a graph database, a full featured enterprise database that happily stores and
                        retrieves highly-connected data.</p>

                    <p><a href="/learn/neo4j">Get familiar &raquo;</a></p>
                </div>

                <div class="span3">
                    <h3>Documentation</h3>

                    <p>Our versioned online manual start with a comprehensive tutorial section, complemented with
                        detailed a reference and live interaction.</p>

                    <p><a href="http://docs.neo4j.org">Study this &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <h3>Cypher Tutorial</h3>

                    <p>Hands on introduction to the Cypher Query Language</p>

                    <p><a href="/learn/cypher">Learn it &raquo;</a></p>

                </div>

                <div class="span3">
                    <h3>Demo Console</h3>

                    <p>The Neo4j Demo Console allows you to interactively learn and try our Cypher Query
                        Language</p>

                    <p><a href="/learn/try">Try live &raquo;</a></p>

                </div>
            </div>
        </div>
        <div class="span3">
            <h3>Why Graphs</h3>
            <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail">
                <img src="/assets/img/still/emil-explains.jpg" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> Emil Eifrem explains the secret behind websites like Twitter, Yelp and Facebook.</p>

            <div class="lightbox fade" id="whyGraphs" style="display: none;" src="http://video.neo4j.org/player/YMD">
                <div class='lightbox-content'>
                    <iframe title="Neo4j Videography Video Player" width="640" height="360"
                            frameborder="0" webkitallowfullscreen
                            mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dev">
    <h2>Development</h2>

    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3>Get Started</h3>

                    <p>A guide to guides about getting started using Neo4j in your application.</p>

                    <p><a href="/create">Let&#39;s go! &raquo;</a></p>
                </div>

                <div class="span3">
                    <h3>Drivers &amp; Stacks</h3>

                    <p>With a universally accessible REST API, Neo4j integrates nicely from the usual languages, and
                        many
                        great frameworks.</p>

                    <p><a href="/create/drivers">Mix and match &raquo;</a></p>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <h3>Apps Gallery</h3>

                    <p>A selection of example apps lets you explore the possibilities that a graph database offers.</p>

                    <p><a href="/learn/apps">Check them out</a></p>
                </div>

                <div class="span3">
                    <h3>Visualization</h3>

                    <p>Storing a graph is one thing, but visualizing it creates awe and epiphanies.</p>

                    <p><a href="/create/visualize">Learn how &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="span3">
            <h3>Query with Cypher</h3>
            <a data-toggle="lightbox" href="#queryCypher" class="thumbnail">
                <img src="/assets/img/still/cypher.png" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> Cypher is a graph query language. Easy on the eyes, while expressive and
                powerful.</p>

            <div class="lightbox fade" id="queryCypher" style="display: none;" src="http://player.vimeo.com/video/50389825">
                <div class='lightbox-content'>
                    <iframe width="500" height="377"
                            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ops">
    <h2>Operations</h2>

    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span3">
                    <h3>High Availability</h3>

                    <p>Master-slave replication in a cluster provides your application with read-scaling and fault
                        tolerance.</p>

                    <p><a href="http://docs.neo4j.org/chunked/stable/ha-how.html">Read more &raquo;</a></p>

                    <a data-toggle="lightbox" href="#hacluster" class="thumbnail">
                        <img src="/assets/img/still/ha_video.gif" alt="Click to View">
                    </a>

                    <p class="caption"><i class="icon icon-facetime-video"></i> See how to setup a 3-member cluster for the <strong>new Neo4j HA 1.5</strong>
                        running on
                        a single machine.</p>

                    <div class="lightbox fade" id="hacluster" style="display: none;" src="http://player.vimeo.com/video/51906007">
                        <div class='lightbox-content'>
                            <iframe width="500" height="377"
                                    frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <h3>Backups</h3>

                    <p>A fundamental operation for any application: back up early, back up often.</p>

                    <p><a href="http://docs.neo4j.org/chunked/stable/operations-backup.html">Read more &raquo;</a></p>
                </div>

            </div>

        </div>
        <div class="span3">
            <h3>Hardware Sizing</h3>
            <a data-toggle="lightbox" href="#hardwareSizing" class="thumbnail">
                <img src="/assets/img/still/hardware-sizing.png" alt="Click to View">
            </a>

            <p class="caption"><i class="icon icon-facetime-video"></i> Roll up your sleeves and pop the hood, let&#39;s tune this engine.</p>

            <div class="lightbox fade" id="hardwareSizing" style="display: none;" src="http://player.vimeo.com/video/46049647">
                <div class='lightbox-content'>
                    <iframe width="500" height="377"
                            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="production" class="row">
    <h2>Production</h2>

    <div class="span6">
        <div class="row">
            <div class="span3">
                <h3>Licensing Guide</h3>

                <p>Neo4j&#39;s enterprise editions are provided by Neo Technology for use in commercial, non open-source
                    deployments.</p>

                <p><a href="/learn/licensing">Read more &raquo;</a></p>
            </div>
            <div class="span3">
                <h3>Partner Graph</h3>

                <p>Neo Technology supports a large, world-wide partner network to support local consulting and
                    training
                    efforts.</p>

                <p><a href="http://www.neotechnology.com/partners/">Read more &raquo;</a></p>
            </div>

        </div>

    </div>
    <div class="span3">
        <h3>Production Secrets</h3>
        <a data-toggle="lightbox" href="#productionSecrets" class="thumbnail">
            <img src="/assets/img/still/secrets.png" alt="Click to View">
        </a>

        <p class="caption"><i class="icon icon-facetime-video"></i> Maybe a day or two before you get featured on Techcrunch, make sure your application is
            fully production-ready.</p>

        <div class="lightbox fade" id="productionSecrets" style="display: none;" src="http://player.vimeo.com/video/49485027">
            <div class='lightbox-content'>
                <iframe width="500" height="281"
                        frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
</section>

</div>

</div>
</div>
<% include foot %>

