<% include head %>

                <div id="lead">From graph concepts to deploying a globe spanning cluster, the path to success starts here.</div>

                <ul class="hor menu">
<% ["graph_concepts", "neo4j_intro", "production"].forEach(function(chapter) { %><% include _chapterHeading %><% }); %>
                </ul>
                
            </div>
        </div>

        <div id="main" class="mainElement">
<% ["graph_concepts", "neo4j_intro", "production"].forEach(function(chapter) { %><% include _chapter %><% }); %>
        </div><!-- #main -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.initThumbnails();

            nav.init();
            nav.activate('graph_concepts');

        });
        //-->
        </script>

<% include foot %>
