<% include head %>
<%

    // Define all sub pages here
    var subPages = ["graph_concepts", "neo4j_intro", "tracks", "production"];

%>
        <div id="secNav"<!-- second level nav -->
            <ul class="hor menu"><% subPages.forEach(function(chapter) { %><% include _chapterHeading %><% }); %></ul>
        </div><!-- second level nav -->

        <div id="main" class="mainElement">
            <% subPages.forEach(function(chapter) { %><% include _chapter %><% }); %>
        </div><!-- #main -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.activateMain('learn', '13.1em');

            nav.initThumbnails();

            //nav.init();
            //nav.activate('graph_concepts');
            
            $(window).on('resize', function() {
                nav.resize();
            });


        });
        //-->
        </script>

<% include foot %>
