<% include head %>

                <div id="lead">Connect with a friendly, engaging, and ever expanding community online or in person.</div>

                <ul class="hor menu">
<% ["questions", "meet", "contribute"].forEach(function(chapter) { %><% include _chapterHeading %><% }); %>
                </ul>

            </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-tabs nav-stacked affix">
              <li><a href="#questions">Ask Questions and Share Answers</a></li>
              <li><a href="#meet">Meet &amp; Learn</a></li>
              <li><a href="#contribute">Contribute</a></li>
              <li><a href="/misc/beer">Beer and Graphs</a></li>
          </ul>

        </div>

        <div id="main" class="mainElement">
<% ["questions", "meet", "contribute"].forEach(function(chapter) { %><% include _chapter %><% }); %>
        </div><!-- #main -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.activateMain('participate', '5.9em');

            nav.initThumbnails();

            nav.init();
            nav.activate('questions');

            $(window).on('resize', function() {
                nav.resize();
            });

        });
        //-->
        </script>

<% include foot %>
