<% include head %>


  <div class="container">

      <div class="row">
        <div class="span3">
          <ul class="nav nav-tabs nav-stacked affix">
              <li><a href="#questions">Ask and answer questions</a></li>
              <li><a href="#meet">Meet &amp; Learn</a></li>
              <li><a href="#contribute">Contribute</a></li>
          </ul>
        </div>

        <div class="span9">

            <div id="participate" class="hero-unit path">

              <h2><a><i class="icon icon-refresh"></i> Participate</a></h2>
              <p class="lead">Connect with a friendly, engaging, and ever expanding community online or in person.</p>
            </div>

          <section id="questions" class="row">
            <h2>Ask and answer question</h2>
              <div class="span3">
                  <h3><a href="http://stackoverflow.com/questions/tagged/neo4j">Stack Overflow</a></h3>
                  <a href="http://stackoverflow.com/questions/tagged/neo4j"><img src="/assets/img/logo/stackoverflow.png"/></a>
                  <p>Ask them here so others will benefit from the anwers.</p>
                  <p><a href="http://stackoverflow.com/questions/tagged/neo4j">Ask questions there &raquo;</a></p>
              </div>
            <div class="span3">
                <h3><a href="http://groups.google.com/group/neo4j">Neo4j Google Group</a></h3>
                <a href="http://groups.google.com/group/neo4j"><img src="/assets/img/logo/googlegroups.png"/></a>
                <p>Share your experience with fellow graphistas.</p>
                <p><a href="http://groups.google.com/group/neo4j">Join now &raquo;</a></p>
            </div>
            <div class="span3">
                <h3><a href="http://github.com/neo4j/neo4j/issues">GitHub Issues</a></h3>
                <a href="http://github.com/neo4j/neo4j/issues"><img src="/assets/img/logo/github.png"/></a>
                <p>Encountered a problem with Neo4j? Report it here.</p>
                <p><a href="http://github.com/neo4j/neo4j/issues">Report a problem &raquo;</a></p>
            </div>
          </section>

      <section id="meet" class="row">

            <h2>Meet &amp; Learn</h2>
          <div class="span3">
              <h3><a href="http://neo4j.meetup.com">Meetups / User Groups</a></h3>
              <a href="http://neo4j.meetup.com"><img src="/assets/img/logo/meetup.jpg"/></a>
              <p>Neo4j users worldwide meet regularly and talk about graphs. Feel free to join or to start a new group.</p>
              <p><a href="http://neo4j.meetup.com">Join a Meetup &raquo;</a></p>

              <h3><a href="/participate/contributors#map">Graphistas World Map</a></h3>
              <p>Add yourself to the graphistas world map and let it become a smaller place.</p>
              <p><a href="/participate/contributors#map">Add yourself &raquo;</a></p>
          </div>
          <div class="span3">
              <h3><a href="/learn/events">Webinars</a></h3>
              <p>We want to welcome you to our regular webinars.</p>
              <p><a href="/learn/events">Attend an event &raquo;</a></p>
          </div>
          <div class="span3">
              <h3><a href="http://graphconnect.com">GraphConnect</a></h3>
              <a href="http://graphconnect.com"><img src="/assets/img/logo/graphconnect.png"/></a>
              <p>Our GraphConnect San Francisco 2012 conference has been a blast, make sure to attend the next.</p>
              <p><a href="http://graphconnect.com">Attend GraphConnect &raquo;</a></p>
          </div>
      </section>
      <section id="contribute" class="row">

            <h2>Contribute</h2>
          <div class="span3">
              <h3><a href="http://github.com/neo4j/neo4j">GitHub</a></h3>
              <a href="http://github.com/neo4j/neo4j"><img src="/assets/img/logo/github.png"/></a>
              <p>As an open-source project, Neo4j is hosted on github. Check out the code and please contribute improvements as pull requests.
                  Check out our <a href="http://docs.neo4j.org/chunked/stable/community-contributing.html">contribution guidelines</a>.</p>
              <p><a href="http://github.com/neo4j/neo4j">View the Source &raquo;</a></p>
          </div>
          <div class="span3">
              <h3><a href="/participate/contributors">Contributors</a></h3>
              <p>We're very proud to have such an engaged group of contributors to Neo4j and its ecosystem.</p>
              <p><a href="/participate/contributors">See our contributors &raquo;</a></p>
          </div>
          <div class="span3">
              <h3><a href="http://github.com/neo4j-contrib/neo4j-org">Contribute to this site</a></h3>
              <a href="http://github.com/neo4j-contrib/neo4j-org"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"/></a>              
              <p>Feel free to fork this site on github, to correct, update or extend the information and issue a pull request.</p>
              <p><a href="http://github.com/neo4j-contrib/neo4j-org">Fork Me &raquo;</a></p>
          </div>
      </section>
        </div>
    </div>
  </div>
<% include foot %>
