<% include head %>


      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="learn" class="hero-unit">
        <h1>Participate</h1>
        <p class="lead">Connect with a friendly, engaging, and ever expanding community online or in person.</p>
      </div>

      <div class="row">
        <div class="span12">
          <ul class="thumbnails participate" id="isotope">
    
    
            <li class="span3">
              <div class="thumbnail corner">        
                  <a href="http://stackoverflow.com/questions/tagged/neo4j">
                    <span class="thumbTop"></span>
                    <div class="icon"><i class="icon-reorder"></i></div>
                    <span class="thumbBottom"></span>
                  </a>              
                <div class="caption">
                  <h4>Stack Overflow</h4>  
                  <p>Got questions? Ask them here so others will benefit from the anwers.</p>
                </div>            
              </div>  
            </li>
            
            <li class="span3">
              <div class="thumbnail corner">
                  <a href="http://groups.google.com/group/neo4j">
                    <span class="thumbTop"></span>
                    <div class="icon"><i class="icon-group"></i></div>
                    <span class="thumbBottom"></span>
                  </a>              
                <div class="caption">
                  <h4>Google Groups</h4> 
                  <p>Share your experience with fellow graphistas.</p>
                </div>            
              </div>
            </li>
            
            <li class="span3">
              <div class="thumbnail corner">
                  <a href="http://github.com/neo4j">
                    <span class="thumbTop"></span>
                    <div class="icon"><i class="icon-github"></i></div>
                    <span class="thumbBottom"></span>
                  </a>              
                <div class="caption">
                  <h4>Github</h4> 
                  <p>Open source coding #ftw. Follow our progress, or contribute your own code.</p>
                </div>            
              </div>
            </li>
            
            <li class="span3">
              <div class="thumbnail corner">
                  <a href="http://neo4j.meetup.com">
                    <span class="thumbTop"></span>
                    <div class="icon"><i class="icon-globe" style="background-image:none;"></i></div>
                    <span class="thumbBottom"></span>
                  </a>              
                <div class="caption">
                  <h4>Meetups</h4> 
                  <p>Join a gathering of the minds near you to soak in deep graph discussions.</p>
                </div>            
              </div>
            </li>
            
          
        </div>
  
<% include foot %>

