<% include head %>

<div class="badge">
    <a href="http://graphdatabases.com" target="_blank"><img style="width: 12em; height: 12em" src="http://www.neotechnology.com/wp-content/uploads/2013/03/gd_neo4jweb.png"/></a>
</div>

<div class="page"><!-- page -->

    <h1>Search Results</h1>


    <gcse:searchresults-only/>

</div><!-- page -->

<% include foot %>

