<% include head %>

<div class="badge">
    <a href="http://graphdatabases.com" target="_blank"><img style="width: 12em; height: 12em" src="<%= asset('img/books/graphdatabases_thumb.gif') %>"/></a>
</div>

<div class="mainpage"><!-- page -->

    <h1>Search Results</h1>


    <gcse:searchresults-only/>

</div><!-- page -->

<% include foot %>

