<% include head %>

<div class="container legal">

  <h2>Terms</h2>
  <h3>Acceptance of Terms</h3>
  <p>Thank you for visiting <a href="http://neotechnology.com" target="_blank">Neo Technology</a>, Inc.’s Neo4j.org site (the “Site”). This Agreement contains the complete terms and conditions that apply when you visit our Site or use choose to browse the contents herein. By using this Site, you agree to be bound by its terms of use and shall comply thereof.</p>

  <p>“We,” “Our”, “Us” or “Neo Technology” means Neo Technology, Inc.</p>

  <h3>Editing, Deleting and Modification</h3>
  <p>We may edit, delete or modify any of the terms and conditions contained in this Agreement, at any time and in our sole discretion, by posting a notice or a new agreement on our Site. YOUR CONTINUED VISIT IN OUR WEBSITE FOLLOWING OUR POSTING OF A CHANGE NOTICE OR NEW AGREEMENT ON OUR SITE WILL CONSTITUTE BINDING ACCEPTANCE OF THE CHANGE.</p>

  <h3>Accuracy, Completeness and Timeliness of Information</h3>
  <p>Neo Technology is not responsible if information made available on this Site is not accurate, complete or current. The material on this Site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk. This Site may contain certain historical information which are definitely not current and is provided for reference only. We reserve the right to modify the contents of this site at any time without obligation on our end to update any information on the Site. You understand and agree that it is your responsibility to monitor changes to the Site.</p>

  <h3>License and Site Access</h3>
  <p>Neo Technology grants you a limited license to access and make personal use of this Site and not to download or modify it, or any portion of it, except with express written consent from our company. This Site or any portion of this Site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent from our company.</p>

  <p>The right to access our corporate website does not include any resale or commercial use of our Site or its contents nor allows you to download or copy any account information for the benefit of another merchant.  Any unauthorized use terminates the permission or license granted by Neo Technology.</p>

  <h3>Links</h3>
  <p>You shall not use our company logo or other proprietary graphic to link to this Site without the express written permission of Neo Technology.  Further, you may not frame any trademark, logo or other proprietary information, including the Images Content, without our express written consent.</p>

  <p>We make no claim or representation regarding, and accepts no responsibility for, directly or indirectly, the quality, content, nature or reliability of third-party websites accessible by hyperlink from the Site, or websites linking to the Site. Such sites are not under the control of our company and we shall not responsible for the contents of any linked site or any link contained in a linked site, or any review, changes or updates to such sites. You hereby acknowledge and agree that we are not responsible for the availability of such external websites or resources, its content, including, without limitation, any link contained in such content, or any changes or updates to such content. If you decide to access links to third-party websites, you do so at your own risk. Any concerns regarding any external link should be directed to the relevant site administrator or web master.</p>

  <h3>DISCLAIMERS</h3>
  <p>YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. WE RESERVE THE RIGHT TO RESTRICT OR TERMINATE YOUR ACCESS TO THE SITE OR ANY FEATURE OR PART THEREOF AT ANY TIME. NEO TECHNOLOGY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTIES THAT MATERIALS ON THE SITE ARE NONINFRINGING, AS WELL AS WARRANTIES IMPLIED FROM A COURSE OF PERFORMANCE OR COURSE OF DEALING; THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE; THAT THE SITE WILL BE SECURE; THAT THE SITE OR THE SERVER THAT MAKES THE SITE AVAILABLE WILL BE VIRUS-FREE; OR THAT INFORMATION ON THE SITE WILL BE COMPLETE, ACCURATE OR TIMELY. IF YOU DOWNLOAD ANY MATERIALS FROM THIS SITE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIALS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM NEO TECHNOLOGY OR THROUGH OR FROM THE SITE SHALL CREATE ANY WARRANTY OF ANY KIND.  NEO TECHNOLOGY DOES NOT MAKE ANY WARRANTIES OR REPRESENTATIONS REGARDING THE USE OF THE MATERIALS ON THIS SITE IN TERMS OF THEIR COMPLETENESS, CORRECTNESS, ACCURACY, ADEQUACY, USEFULNESS, TIMELINESS, RELIABILITY OR OTHERWISE.</p>

  <h3>Corporate Intellectual Property Rights</h3>
  <p>You hereby acknowledge that all rights, titles and interests, including but not limited to rights covered by the Intellectual Property Rights, in and to the site, and that You will not acquire any right, title, or interest in or to the site except as expressly set forth in this Agreement. You will not modify, adapt, translate, prepare derivative works from, decompile, reverse engineer, disassemble or otherwise attempt to derive source code from any of our services, software, or documentation, or create or attempt to create a substitute or similar service or product through use of or access to the Program or proprietary information related thereto.</p>

  <h3>Confidentiality</h3>
  <p>You agree not to disclose information you obtain from us and or from our clients, advertisers, suppliers and forum members. All information submitted to by an end-user customer pursuant to a Program is proprietary information of Neo Technology.  Such customer information is confidential and may not be disclosed. Publisher agrees not to reproduce, disseminate, sell, distribute or commercially exploit any such proprietary information in any manner.</p>

  <h3>Non-Assignments of Rights</h3>
  <p>Your rights of whatever nature cannot be assigned nor transferred to anybody, and any such attempt may result in termination of this Agreement, without liability to us. However, we may assign this Agreement to any person at any time without notice.</p>

  <h3>Non-Waiver</h3>
  <p>Failure of Neo Technology to insist upon strict performance of any of the terms, conditions and covenants hereof shall not be deemed a relinquishment or waiver of any rights or remedy that the we may have, nor shall it be construed as a waiver of any subsequent breach of the terms, conditions or covenants hereof, which terms, conditions and covenants shall continue to be in full force and effect.</p>

  <p>No waiver by either party of any breach of any provision hereof shall be deemed a waiver of any subsequent or prior breach of the same or any other provision.</p>

  <h3>Severability of Terms</h3>
  <p>In the event that any provision of these Terms and Conditions is found invalid or unenforceable pursuant to any judicial decree or decision, such provision shall be deemed to apply only to the maximum extent permitted by law, and the remainder of these Terms and Conditions shall remain valid and enforceable according to its terms.</p>

  <h3>Entire Agreement</h3>
  <p>This Agreement shall be governed by and construed in accordance with the substantive laws of California, without any reference to conflict-of-laws principles. The Agreement describes and encompasses the entire agreement between us and you, and supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the contents and materials provided by or through the Site, and the subject matter of this Agreement.</p>

  <h3>Governing Law</h3>
  <p>Any dispute, controversy or difference which may arise between the parties out of, in relation to or in connection with this Agreement is hereby irrevocably submitted to the exclusive jurisdiction of the courts of California, to the exclusion of any other courts without giving effect to its conflict of laws provisions or your actual state or country of residence.</p>

  </div>
<% include foot %>