<div id="twitter_bar">
    <div><a class="twitter_user" href="" target="_blank"><img width="24" src=""/><span></span></a>: <span class="text"></span> - <a class="twitter_date" href="" target="_blank"></a></div>
</div>

<script src="/assets/new/js/tweets.js"></script>
