<% include head %>

<div class="container">

    <div class="row">
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked affix">
                <li><a href="#install">Get started with Neo4j</a></li>
                <li><a href="#tools">Tools and Resources</a></li>
                <li><a href="#cloud">Neo4j in the Cloud</a></li>
                <li><a href="#sdn">Spring Data Neo4j</a></li>
                <li><a href="#ops">Operations</a></li>
            </ul>
        </div>
        <div class="span9">
            <div id="learn" class="hero-unit path">
                <h2><a><i class="icon icon-cogs"></i> Use Neo4j</a></h2>

                <p class="lead">Learn how to develop applications with Neo4j and deploy Server instances.</p>
            </div>

            <section id="install" class="row">
                <h2>Get started with Neo4j</h2>

                <div class="span6">
                    <div class="row">
                        <div class="span3">
                            <h3><a href="/install">Install Neo4j</a></h3>

                            <p>Install Neo4j on your machine and get started immediately</p>

                            <p><a href="/install">Install now &raquo;</a></p>

                        </div>
                        <div class="span3">
                            <h3><a href="/drivers">Language Drivers</a></h3>

                            <p>Drivers for Neo4j exist in most programming languages.</p>

                            <p><a href="/drivers">Get yours &raquo;</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <h3><a href="/learn/cypher">Cypher Tutorial</a></h3>

                            <p>Hands on introduction to the Cypher Query Language</p>

                            <p><a href="/learn/cypher">Learn it &raquo;</a></p>

                        </div>
                        <div class="span3">
                            <h3><a href="/example_data">Example Datasets</a></h3>

                            <p>Use on of our example datasets for some initial graph data.</p>

                            <p><a href="/example_data">Check them out &raquo;</a></p>

                        </div>
                    </div>
                </div>
                <div class="span3">
                    <h3>Installing Neo4j</h3>
                    <a data-toggle="lightbox" href="#installvideo" class="thumbnail"><img
                            src="/assets/img/still/install.gif" alt="Click to View"/></a>

                    <p class="caption"><i class="icon icon-facetime-video"></i> Peter Neubauer guides through the first
                        steps of downloading and running
                        Neo4j.</p>

                    <div class="lightbox fade" id="installvideo" style="display: none;"
                         src="http://player.vimeo.com/video/53838744">
                        <div class='lightbox-content'>
                            <iframe width="500" height="281"
                                    frameborder="0" webkitallowfullscreen="webkitAllowFullScreen"
                                    mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tools" class="row">
                <h2>Tools and Resources</h2>

                <div >
                    <div class="span6">
                        <div class="row">
                            <div class="span3">
                                <h3><a href="/learn/try">Demo Console</a></h3>

                                <p>The Neo4j Demo Console allows you to interactively try our Cypher Query
                                    Language with different datasets</p>

                                <p><a href="/learn/try">Try live &raquo;</a></p>
                            </div>
                            <div class="span3">
                                <h3><a href="/use/visualize">Visualization</a></h3>

                                <p>Storing a graph is one thing, but visualizing it creates awe and epiphanies.</p>

                                <p><a href="/use/visualize">Learn how &raquo;</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                <h3><a href="/learn/apps">Apps Gallery</a></h3>

                                <p>A selection of example apps lets you explore the possibilities that a graph database offers.</p>

                                <p><a href="/learn/apps">Check them out</a></p>
                            </div>

                        </div>
                    </div>
                    <div class="span3">
                        <h3>Query with Cypher</h3>
                        <a data-toggle="lightbox" href="#queryCypher" class="thumbnail">
                            <img src="/assets/img/still/cypher.png" alt="Click to View">
                        </a>

                        <p class="caption"><i class="icon icon-facetime-video"></i> Cypher is a graph query language. Easy on the eyes, while expressive and
                            powerful.</p>

                        <div class="lightbox fade" id="queryCypher" style="display: none;" src="http://player.vimeo.com/video/50389825">
                            <div class='lightbox-content'>
                                <iframe width="500" height="377"
                                        frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="cloud" class="row">
                <h2>Neo4j in the Cloud</h2>

                <div class="span6">
                    <div class="row">
                        <div class="span3">
                            <h3><a href="/use/heroku">Heroku Addon</a></h3>

                            <p>Neo4j is available on Heroku in a public &quot;try&quot; plan.</p>

                            <p><a href="/use/heroku">Build your own &raquo;</a></p>
                        </div>
                        <div class="span3">
                            <h3><a href="/use/ec2">AWS EC2 set-up</a></h3>

                            <p>Take full control of your deployment, using machines that match your production
                                demands.</p>

                            <p><a href="/use/ec2">Do it now &raquo;</a></p>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                    </div-->
                </div>
                <div class="span3">
                    <h3>James Ward on Neo4j</h3>
                    <a data-toggle="lightbox" href="#jamesWard" class="thumbnail"><img
                            src="/assets/img/still/jamesward.jpg" alt="Click to View"/></a>

                    <p class="caption"><i class="icon icon-facetime-video"></i> James Ward shows how to build and deploy
                        a Neo4j based app on heroku.</p>

                    <div class="lightbox fade" id="jamesWard" style="display: none;"
                         src="http://player.vimeo.com/video/53221343">
                        <div class='lightbox-content'>
                            <iframe width="500" height="281"
                                    frameborder="0" webkitallowfullscreen="webkitAllowFullScreen"
                                    mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen"></iframe>
                        </div>
                    </div>
                </div>
            </section>

            <section id="sdn" class="row">
                <h2>Spring Data Neo4j</h2>

                <div class="span6">
                    <div class="row">
                        <div class="span3">
                            <h3><a href="/use/spring">POJO to Graph</a></h3>

                            <p>Simply annotate your Java classes, configure your Spring application, then enjoy the
                                power of object graph mapping.</p>

                            <p><a href="/use/spring">Go ahead &raquo;</a></p>
                        </div>
                        <div class="span3">
                            <h3><a href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Example
                                App</a></h3>

                            <p>Use Spring Data Neo4j to model and import the <a
                                    href="http://hubwaydatachallenge.org/trip-history-data/">Hubway Challenge</a>
                                dataset,
                                for
                                advanced querying and visualization.</p>

                            <p><a href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Follow
                                along &raquo;</a></p>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="span3">
                        </div>
                        <div class="span3">
                        </div>
                    </div-->
                </div>
                <div class="span3">
                    <h3>Good Relationships</h3>
                    <a data-toggle="lightbox" href="#whyGraphs" class="thumbnail"><img
                            src="/assets/img/still/sdn-intro.png" alt="Click to View"/></a>

                    <p class="caption"><i class="icon icon-facetime-video"></i> Michael Hunger introduces <a
                            href="http://www.infoq.com/minibooks/good-relationships-spring-data">Good Relationships</a>,
                        the SDN book.</p>

                    <div class="lightbox fade" id="whyGraphs" style="display: none;"
                         src="http://www.youtube.com/embed/heC-8Pq2exQ">
                        <div class='lightbox-content'>
                            <iframe width="560" height="315"
                                    frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ops" class="row">
                <h2>Operations</h2>

                <div >
                    <div class="span6">
                        <div class="row">
                            <div class="span3">
                                <h3><a href="http://docs.neo4j.org/chunked/stable/ha-how.html">High Availability</a></h3>

                                <p>Master-slave replication in a cluster provides your application with read-scaling and fault
                                    tolerance.</p>

                                <p><a href="http://docs.neo4j.org/chunked/stable/ha-how.html">Read more &raquo;</a></p>

                                <a data-toggle="lightbox" href="#hacluster" class="thumbnail">
                                    <img src="/assets/img/still/ha_video.gif" alt="Click to View">
                                </a>

                                <p class="caption"><i class="icon icon-facetime-video"></i> See how to setup a 3-member cluster for the <strong>new Neo4j HA 1.5</strong>
                                    running on
                                    a single machine.</p>

                                <div class="lightbox fade" id="hacluster" style="display: none;" src="http://player.vimeo.com/video/51906007">
                                    <div class='lightbox-content'>
                                        <iframe width="500" height="377"
                                                frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <h3><a href="http://docs.neo4j.org/chunked/stable/operations-backup.html">Backups</a></h3>

                                <p>A fundamental operation for any application: back up early, back up often.</p>

                                <p><a href="http://docs.neo4j.org/chunked/stable/operations-backup.html">Read more &raquo;</a></p>
                            </div>

                        </div>

                    </div>
                    <div class="span3">
                        <h3>Hardware Sizing</h3>
                        <a data-toggle="lightbox" href="#hardwareSizing" class="thumbnail">
                            <img src="/assets/img/still/hardware-sizing.png" alt="Click to View">
                        </a>

                        <p class="caption"><i class="icon icon-facetime-video"></i> Roll up your sleeves and pop the hood, let&#39;s tune this engine.</p>

                        <div class="lightbox fade" id="hardwareSizing" style="display: none;" src="http://player.vimeo.com/video/46049647">
                            <div class='lightbox-content'>
                                <iframe width="500" height="377"
                                        frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<% include foot %>

