@import url('http://fonts.googleapis.com/css?family=Droid+Sans');
@import url('http://fonts.googleapis.com/css?family=Carme');

/*-----------------------------------------------------------------------------------*/
/*	1.	Global properties (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
body{
    color:#787878;
    font-size: 12px;
    font-family: Arial, sans-serif;
      background: url(../img/skelatal_weave.png) repeat #FFFFFF;
}
header,
nav,
section,
article{display: block;}

figure {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}

.last{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.clear{clear: both;}

.alignleft{float: left !important;}
.alignright{float: right !important;}
.aligncenter {text-align: center !important;}
.span6.no-margin-left {margin-left: 0!important;}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6{
    color: #555555;
    font-family: 'Arial', sans-serif;
}

h1{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 22px;
}
h2{
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
}
h3{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight:400;
}
h4{
    font-size: 16px;
    margin-bottom: 16px;
}
h5{
    font-size: 14px;
    margin-bottom: 14px;
}
h6{
    font-size: 12px;
    margin-bottom:12px;
}

p{
    margin-bottom: 15px;
    line-height: 20px;
}
* p:last-child{margin-bottom: 0 !important;}

.color, .color2{
    font-weight: 700;
    padding: 0 2px;
}

.color{color: #555;}
.color2{color: #00aeef;}

/* Link Styles */
a{
    color: #00aeef;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #1d1d1c;}

.title a{
    color: #00aeef;
    font-weight: 600;
    font-size: 12px;
}
h4.title a{
    font-size:16px;
    font-weight:400;
    letter-spacing: 0.05em;
}
.title a:hover{color: #1d1d1c;}



/*-----------------------------------------------------------------------------------*/
/*	2.	Header, Navigation & Menus
/*-----------------------------------------------------------------------------------*/
#top-menu {
    padding: 5px 0;
    background-color: #00aeef;
}
#top-menu ul.top-menu {
    margin-left:0;
    margin-top:3px;
}
#top-menu li{
    float: left;
    list-style: none;
}
#top-menu a, #top-menu .git{
    color: #323232;
    font-size: 11px;
}
#top-menu a:hover{color: #d9d9d9;}
#top-menu .top-menu li{margin-right: 10px;}
#top-menu a{padding-right: 8px;}
#top-menu .last{
    padding-right: 0;
    border-right: none;
}
#top-menu .top-social{float: right; margin-bottom: 4px; margin-top:3px;}
#top-menu .top-social li{
    margin-left: 10px;
    list-style: none;
}
#top-menu .top-social a{display:block; width:16px; height:16px; margin-top:2px;}
#top-menu .twitter2{background: url(../img/twitter.png) no-repeat center left;}
#top-menu .twitter2:hover{background: url(../img/twitterh.png) no-repeat center left;}
#top-menu .facebook{background: url(../img/facebook.png) no-repeat center left;}
#top-menu .facebook:hover{background: url(../img/facebookh.png) no-repeat center left;}
#top-menu .dribbble{background: url(../img/dribbble.png) no-repeat center left;}
#top-menu .dribbble:hover{background: url(../img/dribbbleh.png) no-repeat center left;}
#top-menu .vimeo{background: url(../img/vimeo.png) no-repeat center left;}
#top-menu .vimeo:hover{background: url(../img/vimeoh.png) no-repeat center left;}
#top-menu .delicious{background: url(../img/delicious.png) no-repeat center left;}
#top-menu .delicious:hover{background: url(../img/delicioush.png) no-repeat center left;}

#header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 10px;
    padding-top: 30px;
    position: relative;
}

#header .logo img{
    float: left;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* Main Menu */
.res-menu{display: none;}
.res-menu{
    width: 100%;
}
#menu ul {margin-left:9px;}
#menu > ul{
    display: block;
    margin-left:0;
}
#menu > ul > li{
    list-style: none;
    float: left;
    position: relative;
    padding: 12px 20px 12px 0;
}
#menu > ul > li > a{
    font-size: 12px;
    font-weight: 400;
    color: #555;
    display: block;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
}
#menu > ul a:hover{color: #00aeef;}
#menu .current{color: #00aeef !important;}

#menu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    position: absolute;
    width: 150px;
}
#menu > ul > li > ul{
    margin-left:-15px;
    margin-top:-15px;
}
#menu ul ul li {
    border-bottom: 1px solid #FBFBFB;
    list-style: none outside none;
    padding: 5px 0;
    position: relative;
}
#menu ul ul li.last{
    border-bottom: none !important
}
#menu ul ul li.menu-last{border-bottom: none;}
#menu ul ul a{
    display: block;
    padding: 5px 0;
    color: #717171;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;

}
#menu ul ul a:hover{color: #00aeef;}
#menu li:hover {visibility: inherit;}
#menu li:hover ul,
#menu li.sfHover ul {
    left: -10px;
    top: 52px;
    z-index: 99;
}
#menu li li:hover ul,
#menu li li.sfHover ul {
    left: 166px;
    top: -2px;
}

/* Search Form */
.phone{
    color: #d0d0d0;
    float: right;
    font-size:18px;
}
.phone .color2 {font-weight:400;}

#search{
    float: right;
    position: relative;
    margin-top:5px;
}
#search,
#search p{margin-bottom: 0;}
#search input[type="text"]{
    color:#454545;
    width: 122px;
    height:26px;
    border: 1px inset rgba(0,0,0,0.1);
    padding:4px 25px 4px 10px ;
    line-height: 23px;
    font:11px 'Droid Sans', sans-serif;
    background-color: #1e1e1e;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
#search input[type="text"]:focus,
#search input[type="text"]:hover{
    width: 190px;
    -webkit-box-shadow: 0px 0px 3px 0px #444;
    box-shadow: 0px 0px 3px 0px #444;
}
#search .search-bt{
    right: 0;
    top: 3px;
    height: 30px;
    width: 30px;
    position: absolute;
    border: none !important;
    cursor: pointer;
    background: url(../img/search-bt.png) no-repeat center center;
}

/* Breadcrumbs */
.breadcrumbs{
    position: relative;
    padding: 40px 0;
}
.breadcrumbs h1{
    font-size: 30px;
    text-transform: capitalize !important;
}
.breadcrumbs div{
    letter-spacing: 0.02em;
    font-size: 12px;
    color: #717171;
    display: inline-block;
}
.breadcrumbs a{
    color: #333333;
    display: inline-block;
}
.breadcrumbs a:hover{color: #111;}


/*-----------------------------------------------------------------------------------*/
/*	3.	Main Content Styles
/*-----------------------------------------------------------------------------------*/
.container{position: relative;}

#container{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    position: relative;
    background-color: #fff;
}
#container .container{padding: 30px;}

#container .container > .row{margin-bottom: 10px;}
#container .row.last{margin-bottom: 30px;}
.row.da-thumbs{margin-bottom: 0 !important;}


/* Video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 /*Paralax Slider*/
.da-slider{
    width: 100%;
    min-width: 520px;
    height: 400px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    -webkit-transition: background-position 1s ease-out 0.3s;
    -moz-transition: background-position 1s ease-out 0.3s;
    -o-transition: background-position 1s ease-out 0.3s;
    -ms-transition: background-position 1s ease-out 0.3s;
    transition: background-position 1s ease-out 0.3s;
}
.da-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.da-slide-current{
    z-index: 1000;
}
.da-slider-fb .da-slide{
    left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
    left: 0px;
}
.da-slide h2,
.da-slide p,
.da-slide .da-link,
.da-slide .da-img{
    position: absolute;
    opacity: 0;
    left: 110%;
}
.da-slider-fb .da-slide h2,
.da-slider-fb .da-slide p,
.da-slider-fb .da-slide .da-link{
    left: 10%;
    opacity: 1;
}
.da-slider-fb .da-slide .da-img{
    left: 60%;
    opacity: 1;
}
.da-slide h2 {
    color: #00AEEF;
    font-family: 'Economica',Arial,sans-serif;
    font-size: 66px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    top: 60px;
    white-space: nowrap;
    width: 50%;
    z-index: 10;
}
.da-slide p{
    color: #BBBBBB;
    font-size: 18px;
    font-weight: 100;
    height: 80px;
    line-height: 26px;
    overflow: hidden;
    text-shadow: 1px 1px #FFFFFF;
    top: 155px;
    width: 45%;
    font-family: 'Economica', Arial, sans-serif;
}
.da-slide .da-img{
    text-align: center;
    width: 30%;
    top: 70px;
    height: 256px;
    line-height: 320px;
    left: 110%; /*60%*/
}
.da-slide .da-link {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    color: #BBBBBB;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 225px;
    width: 80px;
}
.da-slide .da-link:hover{
    color:#6b6b6b;
}
.da-dots{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0px;
    bottom: 20px;
    z-index: 2000;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-dots span {
    background: none repeat scroll 0 0 #00AEEF;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset, 1px 1px 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 3px;
    position: relative;
    width: 12px;
}
.da-dots span.da-dots-current:after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
    -moz-user-select: none;
    -webkit-user-select: none;
}
.da-arrows span{
    position: absolute;
    top: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #00AEEF;
    cursor: pointer;
    z-index: 2000;
    opacity: 0;
    box-shadow:
        1px 1px 1px rgba(0,0,0,0.1) inset,
        1px 1px 1px rgba(255,255,255,0.1);
    -webkit-transition: opacity 0.4s ease-in-out-out 0.2s;
    -moz-transition: opacity 0.4s ease-in-out-out 0.2s;
    -o-transition: opacity 0.4s ease-in-out-out 0.2s;
    -ms-transition: opacity 0.4s ease-in-out-out 0.2s;
    transition: opacity 0.4s ease-in-out-out 0.2s;
}
.da-slider:hover .da-arrows span{
    opacity: 1;
}
.da-arrows span:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    background: transparent url(../img/arrows.png) no-repeat top left;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
    background-position: top right;
}
.da-arrows span.da-arrows-prev{
    left: 15px;
}
.da-arrows span.da-arrows-next{
    right: 15px;
}

.da-slide-current h2,
.da-slide-current p,
.da-slide-current .da-link{
    left: 10%;
    opacity: 1;
}
.da-slide-current .da-img{
    left: 60%;
    opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright h2{
    -webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright p{
    -webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
}
.da-slide-fromright .da-link{
    -webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
    animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromright .da-img{
    -webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    -ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
    animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
}
@-webkit-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromRightAnim1{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim2{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ left: 110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ left: 110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft h2{
    -webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft p{
    -webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim2 0.6s ease-in-out 0.6s both;
}
.da-slide-fromleft .da-link{
    -webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    -ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
    animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
}
.da-slide-fromleft .da-img{
    -webkit-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -moz-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -o-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    -ms-animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
    animation: fromLeftAnim4 0.6s ease-in-out 0.6s both;
}
@-webkit-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim2{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{ left: -110%; opacity: 0; }
	1%{ left: 10%; opacity: 0; }
	100%{ left: 10%; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 60%; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright h2{
    -webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    -ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
    animation: toRightAnim1 0.6s ease-in-out 0.6s both;
}
.da-slide-toright p{
    -webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
    animation: toRightAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toright .da-link{
    -webkit-animation: toRightAnim3 0.4s ease-in-out both;
    -moz-animation: toRightAnim3 0.4s ease-in-out both;
    -o-animation: toRightAnim3 0.4s ease-in-out both;
    -ms-animation: toRightAnim3 0.4s ease-in-out both;
    animation: toRightAnim3 0.4s ease-in-out both;
}
.da-slide-toright .da-img{
    -webkit-animation: toRightAnim4 0.6s ease-in-out both;
    -moz-animation: toRightAnim4 0.6s ease-in-out both;
    -o-animation: toRightAnim4 0.6s ease-in-out both;
    -ms-animation: toRightAnim4 0.6s ease-in-out both;
    animation: toRightAnim4 0.6s ease-in-out both;
}
@-webkit-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-moz-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-o-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@-ms-keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}

@keyframes toRightAnim1{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim2{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ left: 10%;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
/* Slide out to the left*/
.da-slide-toleft h2{
    -webkit-animation: toLeftAnim1 0.6s ease-in-out both;
    -moz-animation: toLeftAnim1 0.6s ease-in-out both;
    -o-animation: toLeftAnim1 0.6s ease-in-out both;
    -ms-animation: toLeftAnim1 0.6s ease-in-out both;
    animation: toLeftAnim1 0.6s ease-in-out both;
}
.da-slide-toleft p{
    -webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    -ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
    animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
}
.da-slide-toleft .da-link{
    -webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    -ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
    animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
}
.da-slide-toleft .da-img{
    -webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    -ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
    animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
}
@-webkit-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}

@keyframes toLeftAnim1{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim2{
	0%{ left: 10%;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ left: 10%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}
/* Welcome Slogan */
#welcome{
    text-align: center;
    padding: 0 150px
}
#welcome h1 {
    color: #00AEEF;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px !important;
    margin-bottom: 10px !important;
    text-transform: uppercase;
}
#welcome p{
    line-height: 22px;
    font-size: 12px;
    color: #747474;
    margin-bottom: 50px;

}

/* Divider */
.title-divider{
    margin-bottom: 30px;
    position: relative;
}

.title-divider h3{
    margin-bottom: 0 !important;
    padding-right: 5px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    z-index: 1000;
    font-size: 17px;
    text-transform: uppercase;
}

.divider-arrow{
    top:7px;
    width: 100%;
    position: absolute;
}

/* Features */
.features > div{text-align: center;}
.features h3{margin: 15px !important;}

/* Bootstrap Carousel */
.carousel {position:relative;}
.carousel-wrapper{
    overflow:hidden;
    padding:2px 2px 0 2px;
    margin-top: -2px;
}
.carousel-wrapper ul{display:none;}
.carousel-wrapper ul li{
    height:100%;
    float:left;
    display:block;
}

.btleft .es-nav{
    position: absolute;
    top: 10px;
    left: -63px;
}

.bttop .es-nav{
    position: absolute;
    top: -50px;
    right: 0px;
}

.es-nav span{
    float: left;
    width: 17px;
    height: 17px;
    display: block;
    top: 1px;
    right: 0;
    text-indent: -9999px;
}
.es-nav .es-nav-prev{
    right: 17px;
    background: url(../img/arrow-left.png) no-repeat right top;
}
.es-nav .es-nav-next{background: url(../img/arrow-right.png) no-repeat left top;}
.es-nav .es-nav-next:hover{background-position: -17px 0px ;}
.es-nav .es-nav-prev:hover{background-position: 0px 0px ;}

/* Our Projects */
.our-projects article{margin-bottom: 30px;}
.our-projects article img{display: block;}
.our-projects article h4{margin-bottom: 0;}
.our-projects article:nth-last-child(-n+4){margin-bottom: 0 !important;}

/* Our Blog */
.our-blog article p.l-meta {
    background-color: #B6B6B6;
    border-radius: 0 0 2px 2px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 100;
    margin: 0 0 20px;
    padding: 5px 0;
    text-shadow: 1px 1px #818181;
    width: 100%;
}
.our-blog p{margin-bottom: 10px}
.our-blog article p.l-meta span{
    display: block;
    padding: 0 10px;
}
.our-blog article p.l-meta a{color: #b6b6b6;}
.our-blog article p.l-meta a:hover{color: #00aeef;}
.our-blog img {
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

/* Our News */
.our-news{position: relative;}
.our-news p{margin-bottom: 10px;}
.our-news .news-data{
    float: left;
    width: 60px;
    height: 50px;
    color: #b6b6b6;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
}
.our-news .news-data span{
    display: block;
    font-weight:900;
    font-size: 42px;
    line-height: 42px;
}
.our-news .title{margin-bottom: 5px !important;}

.divider-blok{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
article.span3 h4{
    margin-top: 0px;
}

/* Our Services */
.accordion-group {border:0;}
.accordion .accordion-toggle{
    font-weight: 900;
    color: #fff;
    padding: 5px 10px;
    background-color: #b6b6b6;
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 1px 1px #aaa;
}
.accordion .accordion-toggle:hover{
    background-color: #cdcdcd;
    border-color:#cdcdcd;
    text-shadow: 1px 1px #bbb;
}
.accordion .accordion-toggle span{
    right: 10px;
    top: 5px;
    width: 16px;
    height: 16px;
    position: absolute;
}
.accordion .accordion-inner{
    margin-top: 1px;
    border: 0;
}
.accordion .acc-block{padding: 20px 10px;}
.accordion h4{
    color: #707070;
    text-transform: none;
}

.accordion li{
    padding-left: 15px;
    margin-bottom: 10px;
}
.accordion i.pull-right {margin:3px 0 0 0;}

/* Twitter */
.twitter {margin-top:-5px;}
.twitter  img{
    float: left;
    margin-right: 15px;
    margin-top:5px;
}
.twitter span.tweet_time{
    display: block;
    padding-bottom: 5px;

}
.twitter dl{
    border-bottom: 1px dotted #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.twitter dl:last-child{border: none;}

/* Testimonials */
.testimonials p{
    line-height: 22px;
    font-size: 12px;
    padding: 0 15px 15px 38px;
    background: #fff url('../img/quotes.png') no-repeat top left;
    border-bottom:1px dotted #efefef;
}
.testimonials h4{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color:#00aeef;
}
.testimonials img{
    float: left;
    margin-right: 15px;
    margin-top:10px;
}
.testimonials small{
    display: block;
    font-size:11px;
}


/*-----------------------------------------------------------------------------------*/
/*	4.	Footer Styles
/*-----------------------------------------------------------------------------------*/
#footer {
    border-top: 1px solid #E7E7E7;
    padding-bottom: 45px !important;
    padding-top: 40px;
    position: relative;
}
#footer h3{
    margin-bottom: 25px;
    font-size:16px;
    color: #00aeef;
    font-weight:400;
    letter-spacing:0.05em;
}
#footer li{
    margin-bottom: 10px;
    list-style: none;
}

/* Flickr */
.flickr li{
    list-style: none;
    margin: 0 5px 30px 4px ;
    float: left;
    background-color: #c4c4c4;
    line-height: 0 !important;
}

/* Contact Form */
#footer #contact{margin-bottom: 0px}
#footer #contact .control-group {margin-bottom:5px;}
#footer #contact input[type="text"]{
    color: #777;
    padding: 3px 5px;
    border: 1px inset rgba(0,0,0, 0.3);
    background-color: transparent ;
    margin-bottom: 1px !important;
    height: 19px;
    border-radius: 3px;
}
#footer #contact span{
    color: #777;
    font-size: 13px;
    display: inline-block;
    width: 44px;

}
#footer #contact input:focus,
#footer #contact textarea:focus{
    box-shadow: none;
    background-color: rgba(150,150,150, 0.1) !important;}
#footer #contact textarea{
    color: #777;
    padding: 5px;
    height: 66px;
    overflow: auto;
    margin-bottom: 2px;
    border: 1px inset rgba(0,0,0, 0.3);
    background-color: transparent;
    border-radius: 3px;
}
#footer #contact p{margin-bottom: 5px;}

#footer #contact .btn {
    background-image:none;
    box-shadow: none;
    text-shadow:none;
    background-color: transparent;
    border: 1px solid #343434;
    border-radius: 3px 3px 3px 3px;
    color: #7d7d7d;
    display: inline-block;
    font-size: 13px;
    font-weight:900;
    margin-right: 3px;
    padding: 4px 10px;
}
#footer #contact .btn:hover {
    text-decoration: none;
    background-color:  rgba(150,150,150, 0.1);
    *background-color:  rgba(150,150,150, 0.1);
    /* Buttons in IE7 don't get borders, so darken on hover */
}

#footer .form-horizontal .control-label {width: 25px;}
#footer .form-horizontal .controls {margin-left: 45px;}
#footer .form-horizontal .controls:first-child {*padding-left: 45px;}
#footer .form-horizontal .form-actions {padding-left: 45px;}

/* Address icons */
[class^="myicon-"],
[class*=" myicon-"] {
    display: inline-block;
    width: 16px;
    height: 12px;
    *margin-right: .3em;
    line-height: 12px;
    margin-right: 8px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.myicon-phone {background-image: url("../img/phone.png");}
.myicon-mail {background-image: url("../img/mail.png");}

/* Footer Menu */
#footer-menu {
    background-color: #B6B6B6;
    width: 100%;
}
#footer-menu .container{
    padding-top: 0;
    padding-bottom: 0;
}
#footer-menu li{
    list-style: none;
    padding: 15px 0;
    margin-left: 10px;
    float: left;
    font-size: 10px;
}
#footer-menu a{
    font-weight: 400;
    color: #fff;
    font-size:11px;
}
#footer-menu a:hover{color: #323232;}
#footer-menu p{
    font-size: 11px;
    color: #fff;
    padding-top: 14px;
    letter-spacing: 0.04px;
}


/*-----------------------------------------------------------------------------------*/
/*	5.	Post/Portfolio Content Styles
/*-----------------------------------------------------------------------------------*/
/* Categories */
#filtrable{
    margin-bottom: 30px;
    float: right;
}
#filtrable li{
    float: left;
    margin-left: 10px;
    list-style: none;
}

#filtrable a{
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 0.9em;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#filtrable a:hover,
#filtrable .current a{
    border-color: #ddd;
    background-color: #f5f5f5;
    color:#787878;
}

.p-view, .p-link{
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    opacity:0.8;
    -webkit-transition: opacity 0.35s linear;
    -moz-transition: opacity 0.35s linear;
    -o-transition: opacity 0.35s linear;
}
.p-view:hover, .p-link:hover{
    opacity:1;
}
.p-view{
    left: 50%;
    margin-left: -39px;
    background: url(../img/view.png);
}
.p-link{
    right: 50%;
    margin-right: -39px;
    background: url(../img/link.png);
}

.portfolio h4:last-child{margin-bottom: 0 !important;}
.portfolio article{margin-bottom: 30px;}
.portfolio img{display: block;}
.portfolio h4 a{
    color: #444;
    text-align: center;
    padding: 7px 10px;
    display:block;
    text-transform: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}
.portfolio h3{
    margin-top: 20px;
    border-bottom: 1px dashed #efefef;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 16px;
}
.portfolio .read-more{margin-bottom: 30px;}

/* Pagination */

.pagination li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.pagination a{
    background-color: transparent;
    font-size: 0.9em;
    display: inline-block;
    border-left-width: 1px;
}

/* Sidebar */
#sidebar{font-size: 14px;}
#sidebar h4{
    font-size: 15px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 15px;
}
#sidebar .title-divider{margin-bottom: 10px !important;}
#sidebar .divider-arrow{top: 10px !important;}
#sidebar li{
    list-style: none;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px dotted #f2f2f2;
}

#sidebar section{margin-bottom: 50px;}
#sidebar section:last-child{margin-bottom:0px;}
#sidebar .ul-col2{width: 110.9489051094891%;}
#sidebar .ul-col2 li{
    float: left;
    width: 40.13157894736842%;
    margin-right: 09.86842105263158%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #f2f2f2;
}
#sidebar .ul-col2 a{color: #888;}
#sidebar .ul-col2 a:hover{color: #222;}


/*-----------------------------------------------------------------------------------*/
/*	6.	Widgets & Widget Area
/*-----------------------------------------------------------------------------------*/
/* Popular Posts Widget */
.post-widget img{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.post-widget .img{
    display: block;
    margin-bottom: 0;
    line-height: normal;}

.post-widget a{
    font-size:1em;
    line-height: 18px;
    margin-bottom: 7px;}
.post-widget p{
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 0.02em
}
.post-widget li:last-child{margin-bottom: 0 !important;}

/* Tags Widget */
#tags a{
    color: #888;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border: 1px solid #e8e8e8;
}

#tags a:hover{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}

/* Flickr Widget */
.sidebar-flickr ul{width: 110.9489051094891%;}
.sidebar-flickr li{
    border: 0;
    float: left;
    padding: 0 !important;
    border-bottom: none !important;
    margin-bottom: 03.28947368421053% !important;
    margin-right: 03.28947368421053% !important;
    height: 20.06578947368421% ;
    width: 20.06578947368421% ;
}

/* Latest Projects Widget */
.carousel{margin-bottom: 0;}
.carousel-control{
    border: none;
    position: absolute;
    top: inherit;
    left: inherit;
    bottom: 0;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.carousel-control.post{top: 50%;}
.carousel-control.left.post{left: 0;}
.carousel-control.left{
    right: 17px;
    background: url(../img/arrow-blog-left.png) no-repeat center center;
}
.carousel-control.right{
    right: 0;
    background: url(../img/arrow-blog-right.png) no-repeat center center;
}

/* Comments Widget */
.comment-sidebar li:last-child{margin-bottom: 0 !important;}


/*-----------------------------------------------------------------------------------*/
/*	7.	Blog Styles
/*-----------------------------------------------------------------------------------*/

.blog-post h2.post-title{margin-bottom: 10px;}
.blog-post h2.post-title a{line-height: 25px}
.blog-post img {
    margin-bottom: 30px;
    display: block;
}
.blog-post .meta{
    padding-bottom: 5px;
    border-bottom: 1px dotted #f2f2f2;
    margin-bottom: 15px;
}
.blog-post .meta li{
    list-style: none;
    font-size:0.9em;
    margin-right: 10px;
    float: left;
    letter-spacing: 0.03em;
}
.blog-post .meta a{color: #00aeef;}
.blog-post .meta a:hover{color: #777;}
.blog-post.style2 img{
    width: 50%;
    float: left;
    margin-right: 25px;
}
.blog-post.style2 .carousel,
.blog-post.style2 .video{
    width: 50%;
    float: left;
    margin-right: 25px;
}
.blog-post.style2 .carousel img{width: 100%;}
.blog-post.style2 p{padding-top: 30px;}
.blog-post.style2 .meta{border: none;}

/* About Us Block */
.aboutus{margin-bottom: 35px;}
.aboutus h3{
    margin-bottom: 0;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}
.aboutus .color2{font-weight: 400;}

/* Services Block */
.ident-bot-2 {margin-bottom: 17px;}
.figure-1 a.left-image {
    margin-right: 17px;
}
.lightbox-image {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.lightbox-image img { position:relative; z-index:2; }
.img-border-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px #E7E7E7 inset;
    display: inline-block;
    padding: 5px;
}
.img-border {
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}
.lightbox-image span {
    background: url("../img/magnify.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.service {
    margin:0 5px 10px 0;
}

/*-----------------------------------------------------------------------------------*/
/*	8.	Forms
/*-----------------------------------------------------------------------------------*/
#af-form  input[type="text"]{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 24px;
    box-shadow: none;
    margin-top: 0;
    height: 35px !important;
    margin-bottom: 0;
    border:1px solid #ececec;
}

#af-form input[type="text"],
#af-form textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#af-form input[type="text"]:focus,
#af-form textarea:focus{
    -webkit-box-shadow: 0px 0px 3px 0px #f0f0f0;
    box-shadow: 0px 0px 3px 0px #f0f0f0;
    background-color: #fcfcfc;
}

#af-form textarea{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 160px !important;
    overflow: auto;
    border:1px solid #ececec;
    width: 100%;

}

.af-outer {margin-bottom:15px;}

label.error, label.ferror{
    color: #dc3f35;
    font-size: 13px;
}

#af-form input.error,
textarea.error {border: 1px solid #ff3f3f;}

#progress{
    margin-top: 15px;
}

/*-----------------------------------------------------------------------------------*/
/*	9.	Comments
/*-----------------------------------------------------------------------------------*/
.comments .textarea {
    border: 1px solid #EDEDED;
    margin-bottom: 40px;
    margin-left: 94px;
    padding: 10px 20px;
    position: relative;
}
.comments .avatar{
    position: relative;
    float: left;
    margin-right: -5px;
}
.comments .comments-list{
    list-style: none !important;
}
.comments .comments-list ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
.comments .meta{
    font: 12px 'Open Sans', serif;
    color: #666666;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px dotted #e2e2e2;
}
.comments ul ul .textarea {margin-top:-20px;}


/*-----------------------------------------------------------------------------------*/
/*	10.  Thumbnails
/*-----------------------------------------------------------------------------------*/
.da-thumbs li,
.da-thumbs article,
.da-thumbs.portfolio span{
    overflow: hidden;
    position: relative;
}
.da-thumbs li img,
.da-thumbs.portfolio span{
    display: block;
    position: relative;
}
.da-thumbs li div,
.da-thumbs article div{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.da-thumbs li div.da-animate,
.da-thumbs article div.da-animate {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.da-slideFromTop {
    left: 0px;
    top: -100%;
}
.da-slideFromBottom {
    left: 0px;
    top: 100%;
}
.da-slideFromLeft {
    top: 0px;
    left: -100%;
}
.da-slideFromRight {
    top: 0px;
    left: 100%;
}
.da-slideTop {
    top: 0px;
}
.da-slideLeft {
    left: 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	11.	Shortcode Styles
/*-----------------------------------------------------------------------------------*/
.span9,
.span6{position: relative;}

/* Divider */
.divider-arrow, hr, .divider{
    height: 1px;
    clear: both;
}

#container hr{
    margin-top: 25px;
    margin-bottom: 50px;
}

#container hr.soft {margin:10px 0;}

#container .portfolio-single hr, #container .blog-single hr{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Read More */
.read-more{
    display: block;
    color: #00aeef;
    letter-spacing: 0.02em
}
.read-more:hover{color: #1d1d1c;}


/* Portfolio */
.portfolio h4 a{
    color: #444;
    text-align: center;
    padding: 7px 10px;
    display: block;
    text-transform: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}
.portfolio h4 a:hover{
    color: #fff;
    background-color: #ffaf88;
    border-bottom: 1px solid #f79f73;
}

/* Back to Top */
#toTop {
    background: url("../img/ui.totop.png") no-repeat scroll left top transparent;
    border: medium none;
    bottom: 6px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: -999px;
    width: 40px;
}
#toTopHover {
    background: url("../img/ui.totop.png") no-repeat scroll left -40px transparent;
    display: block;
    float: left;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    width: 40px;
}
#toTop:active, #toTop:focus {
    outline: medium none;
}

/* Others */
.dropcap{
    width: 38px;
    height: 38px;
    line-height:38px;
    float: left;
    margin-right:15px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: #FB8B54;
}


blockquote{
    margin: 20px 0;
    padding: 10px  10px 10px 30px;
    border-left: 3px solid #00aeef;
}

blockquote p{
    color: #999;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.02em;
    font-family: 'Georgia', serif;
}



.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*-----------------------------------------------------------------------------------*/
/*	12.	Responsive Fixes
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 980px)  and (max-width: 1199px){

    .btleft .es-nav {left: -53px;}
    #latest-work .carousel-wrapper li{width: 340px !important;}
    .figure-1 a.left-image {margin-right:5px;}
    .service.img-border-bg {margin-top:50px;}

}

@media (min-width: 768px) and (max-width: 979px) {

    #welcome{padding: 0;}
    .btleft .es-nav {left: -43px;}
    #latest-work .carousel-wrapper li{width: 252px !important;}
    .flickr li{width: 68px}
    #sidebar .ul-col2 li {
        float: none;
        margin-right: 0;
        width: 90%;
    }
    #footer #contact input[type="text"], #footer #contact textarea{width: 90%}
    #footer [class^="icon-"]{display: none;}
    .service.img-border-bg {margin-top:50px;}
    .ident-bot-2 {margin-bottom:0;}
    .figure-3 {display:none;}

}

@media (max-width: 767px){

    body{padding:0 }
    .container{padding: 0 20px;}

    #menu ul,
    .slides h3,
    #top-menu > .span6{display: none;}
    #top-menu .top-social{float: none;}

    .res-menu{display: block;}
    .logo{text-align:center; ;}

    .container > .row [class*="span"]{margin-bottom: 30px;}
    .container > .row > [class*="span"]:last-child{margin-bottom: 0 !important;}
    #welcome{padding: 0;}

    .btleft .es-nav{
        bottom: inherit;
        right: 0;
        left: inherit;
        top: -38px;
    }
    #latest-work .carousel-wrapper li{max-width: 15em !important;}
    .our-projects article:nth-last-child(-n+4) {margin-bottom: 30px !important;}

    #footer-menu .span4{
        margin-bottom: 15px;
        text-align:center;
    }

    .breadcrumbs {
        padding: 40px 20px;
        position: relative;
    }

    #sidebar section:last-child {margin-bottom: 0;}
    #sidebar .ul-col2{width: 100%}
    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright{float: none !important;}

    #footer .submit-div {width:270px;}
    figure {display:inline-block; margin-right:15px;}

}

@media (max-width: 480px){
    #menu{
        float: none;
    }
    #header .logo img {
     float:none;
    }
    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    #footer .form-horizontal .controls {
        margin-left: 0;
    }
    #footer .form-horizontal .control-list {
        padding-top: 0;
    }
    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer .submit-div {width:225px;}
    .da-slider{
        min-width:300px;
        height: 355px;
        margin:0;
            }
    .da-slide h2 {
        font-size: 30px;
        font-weight: 400;
        top:10px;
    }
    .da-slide p {
        font-size: 14px;
        line-height: 20px;
        top: 55px;
        width:65%
    }
    .da-img{
        width:40% !important;
    }
}