<div class="featured" class="mainElement">
    <div class="slide track">
        <% if (item.title) { %><h3><%= item.title %></h3><% } %>
        <%- item.introText %>
        <div class="content">
            <%- item.content %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
