
<div class="featured" class="mainElement">
    <div class="slide track">
        <div class="caption">
            <% if (item.title) { %><h3><%= item.title %></h3><% } %>
            <%- item.introText %>
        </div>
        <div class="content">
            <%- item.content %>
        </div>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
<script type="text/javascript">
    $(document).ready(function() {

        $('.prevStep h3')

        $('.prevStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                width: '80%'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });

        $('.nextStep h3').on('mouseenter', function() {
            var self = $(this);
            self.animate({
                width: '80%'
            }, 100);
        }).on('mouseleave', function() {
            var self = $(this);
            self.animate({
                width: '5em'
            }, 200);
        });
    });

</script>
