<% include ../../head %>
<div class="container">

<div role="main" class="row">
  <div class="span8">

      <div id="neo4j" class="hero-unit path">
        <h2><a><i class="icon icon-cogs"></i> <%= title %></a></h2>
        <p class="lead">Start using Cypher from Java.</p>
      </div>

      <div class="markdown"><%- content.java_cypher %></div>
	      
    </div>
  <aside class="span4 sidebar">
      <div class="next-steps">
        <h2>Next Steps</h2>
        <div class="next thumbnail">
          <div class="caption">
              <ul>
    		    <%- next_steps('java','java_cypher') %>
              </ul>
              <!--h3>Java API</h3>
              <h3>Using Cypher from Java</h3>
              <h3>Neo4j Server</h3>
              <h3>Batch Insertion</h3>
              <h3>JDBC driver</h3>
              <h3>Sample Projects</h3-->
         </div>
        </div>
      </div>
      <div class="next-steps">
        <h2>Related</h2>
        <div class="next thumbnail">
          <div class="caption">
              <ul>
                <li>Full day <a href="/training">Neo4j Training</a> (worldwide)</li>
    		    <li>Jim and Ian's Java (JUnit) based <a href="https://github.com/jimwebber/neo4j-tutorial">Neo4j koans</a> that use the Dr. Who universe as a lively use-case</li>
                <li><a href="https://github.com/xebia-france/workshop-neo4j">French workshop</a> around Neo4j from Xebia</li>
              </ul>
              <!--h3>Java API</h3>
              <h3>Using Cypher from Java</h3>
              <h3>Neo4j Server</h3>
              <h3>Batch Insertion</h3>
              <h3>JDBC driver</h3>
              <h3>Sample Projects</h3-->
         </div>
        </div>
      </div>
    </aside>
  </div>
</div>
<% include ../../foot %>

