<% include ../head %>

<div id="main" class="mainElement">

    <div class="welcome">

          <h1><i class="icon icon-cogs"></i> Neo4j for Java developers.</h1>

          <h3>As the 4j indicates, Neo4j is a paradise for JVM developers. Welcome to the journey.</h3>

          <p class="intro">Welcome to Neo4j. For a Java or JVM-language developer, Neo4j offers a rich set of integration possibilities.
           Make sure to have looked at our information on <a href="/learn/graphdatabase">graph databases</a> and <a href="/learn/neo4j">Neo4j</a> in general. 
            You should also check out our graph query language <a href="/learn/cypher">Cypher</a> which makes it very easy to get going regardless of the development platform.
        </p>

          <div class="col left">

            <p>Neo4j comes in two flavors. The standalone <strong>Neo4j-Server</strong> can be installed on any machine and then accessed via its REST API.
               You can then use whatever REST-library you choose for any JVM language. The dedicated Neo4j drivers go beyond that
               by offering comprehensive APIs for integrating with graph based applications.
            </p>

            <p>But you can also run Neo4j <strong>embedded in your JVM</strong> process, much like HSQL or Derby. This is great for unit testing, but
                also for high performance / no-network setups. If you use Neo4j embedded you can use the Neo4j Core-API directly.</p>
            <p>
                Besides an object oriented approach to the graph database, working with Nodes, Relationships and Paths, it also offers highly customizable
                high-speed traversal- and graph-algorithm implementations.</p>
        </div><!-- col left -->
        <div class="col right">

            <p>
                You can also choose from any useful wrapping drivers that exist either for specific programming languages or that add interesting functionality. 
            </p>

        <p>One example is <a href="/develop/spring">Spring Data Neo4j</a> which integrates tightly with the <a href="http://springframework.org/spring-data/neo4j">SpringFramework</a> and offers Object-Graph mapping on top of Neo4j.
        Just to tease your interest - there are hundreds of open source Neo4j-related ecosystem projects, example applications and tutorials 
        that can spark new ideas and possibilities.
        </p>
        <p>As a JVM developer you are also on the bright side when it comes to pouring large amounts of data into Neo4j. With its non-transactional
        batch-insertion facilities it can ingest millions of nodes and relationships in just seconds.</p> 

        </div><!-- col right -->
        <div class="clear"></div>
  
        <h3>Follow the track we set up for JVM developers:</h3>


        <ul class="hor menu">
<% ["jvm", "server_plugins", "java_api", "cypher_java", "neo4j_server"].forEach(function(track_unit) { %><% include _trackUnitHeading %><% }); %>
        </ul>
                
        </div><!-- welcome -->
  

        </div><!-- #main -->

<!--    <aside class="span4 sidebar">
  <div class="next-steps">
    <h2>Next Steps</h2>
    <div class="next thumbnail">
      <div class="caption">
          <ul>
              <li><a href="/learn/graphdatabase">What is a graph database</a></li>
              <li><a href="/install">Install Neo4j</a></li>
              <li><a href="/learn/cypher">Introduction to Cypher</a></li>
              <li><a href="/develop">Develop an App</a></li>
          </ul>
    </div>
  </div>
  </div>
   
    </aside>

    -->

        <script type="text/javascript">
        <!--
        $(document).ready(function() {

            nav.activateMain('develop', '9.8em');

            nav.initThumbnails();

            nav.init();
            //nav.activate('jvm');
            
            $(window).on('resize', function() {
                nav.resize();
            });

        });
        //-->
        </script>


<% include ../foot %>

