<script type="text/javascript">
    $(document).ready(function() { download_button_function("<%= neo4jGA.version %>","download_link_ga") });
</script>
<div class="featured mainElement download" style="min-height:12em;height:12em">
    <div class="slide article">
        <div class="image">
        <div style="vertical-align:middle;text-align:center;width:25em;line-height:150%;padding:1em;" class="btn btn-download image">
            <a style="color: #fff;" id="download_link_ga" href="/download_thanks?edition=community&platform=unix" title="Free High Performance Graph Database
Server, GPL licensed with community support">
                <span style="font-size: 3em;"><i class="icon-download-alt"></i> Download Neo4j Server</span><br/>
                <span name="caption">Neo4j </span>
            </a>
            <br/><a style="color: #CCCCCC;" href="/download">Other Downloads</a>
            | <a style="color: #CCCCCC;" href="/learn/licensing">License</a>
        </div>
        </div>
        <div class="text">
            <div class="caption">
                <h3 id="download">Get Neo4j, your graph database</h3>
                <p class="introText">
                <a href="/learn/neo4j">Neo4j</a> is a robust (fully ACID) transactional <a href="/learn/graphdatabase">property graph</a> database. Due to its
                graph data model, Neo4j is highly agile and blazing fast. For connected data
                operations, Neo4j runs a thousand times faster than relational databases.</p>
            </div>
            <div class="content">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
