<script type="text/javascript">
    $(document).ready(function() { download_button_function("<%= neo4jGA.version %>","download_link_ms") });
</script>
<div class="featured mainElement download">
    <div class="slide article">
        <div class="image">
            <div style="vertical-align:middle;text-align:center;width:25em;line-height:150%;padding:1em;" class="btn btn-download image">
                <a style="color: #fff;" id="download_link_ms" href="http://info.neotechnology.com/download_thanks.html?edition=community&platform=unix" title="Free High Performance Graph Database
Server, GPL licensed with community support">
                    <span style="font-size: 2.5em; line-height: 1em;"><i class="icon-download-alt"></i> Download<br/>Neo4j Server</span><br/>
                    <span name="caption">Neo4j </span>
                </a><br/>
                <a style="color: #CCCCCC;" href="<%= neo4jGA.readme %>" target="_blank">Read more</a>
                <!--| <a style="color: #CCCCCC;" href="/download">Other Downloads</a>-->
                | <a style="color: #CCCCCC;" href="/download/upgrade-faq">Upgrade FAQ</a>
                | <a style="color: #CCCCCC;" href="/learn/licensing">License</a>
            </div>
        </div>
        <div class="text">
            <div class="caption">
                <h3 id="download">Get Neo4j, your graph database</h3>
                <p class="introText">
                    <a href="/learn/neo4j">Neo4j</a> is a highly scalable, robust (fully ACID) native <a href="/learn/graphdatabase">graph database</a>.
                    Neo4j is used in mission-critical apps by thousands of leading startups, enterprises, 
                    and governments around the world. </p>
                <p><em>The latest version of Neo4j 2.0 comes with a completely redesigned user interface
                    and the new labeled property graph model and is perfect for getting started with graphs.</em></p>
            </div>
            <div class="content">
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
