<script type="text/javascript">
    //    $("#navigation").hide();
</script>
<link rel="stylesheet" href="<%=asset('css/graph-diagram.css')%>" type="text/css">
<link rel="stylesheet" href="<%=asset('css/graph-editor.css')%>" type="text/css">

<h1>The World&#39;s Leading Graph Database</h1>
<p class="introText">Neo4j is an open-source, high-performance, enterprise-grade NOSQL graph database.</p>


<div class="lead">

    <div class="col left">
        <div id="canvas" height="400"></div>
        <% include ../../graph %>

    </div>

    <div class="col right">
        <% include _download_button %>
    </div>
    <br/>

</div><!-- lead -->
