<div class="item version">
    <h3><%= item.title %> <%= item.version %></h3>
    <div>
        <p class="introText"><%- item.previewText || item.introText || item.summary %></p>
    </div>
    <% include _download_table %> 
    <a class="link" href="<%= item.path||item.src %>" target="_blank">Read More &raquo;</a>
</div>

