svg.graphdiagram {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
}
svg2.graphdiagram {
    position: absolute;
    top: 8em;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    height: 70%
}

.tools {
    z-index: 100;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #f7f7f7;
}

.modal.pop-up-editor.node {
    position: absolute;
}

.modal.export-markup {
    position: absolute;
    width: 800px;
    margin-left: -400px;
}

.modal.export-cypher {
    position: absolute;
    width: 800px;
    margin-left: -400px;
}

.modal.help {
    width: 400px;
}

.modal.export-markup .modal-body {
    overflow: hidden;
    max-height: 70%;
}

p.button-row {
    text-align: right;
}

textarea.code {
    padding: 0;
    resize: none;
    width: 760px;
    border: none;
    box-shadow: none;
    font-family: Menlo, monospace;
    font-size: 10pt;
}