/* body */
body {
 background: #ffffff;
}
body, h1,h2,h3,h4 {
 font-family: "source-sans-pro", "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
 color: #555;
}

/** responsive change  **/
  [class*="span"] {
     min-height: 1px; /* affix */
  }   

h1 { 
 margin: 0 0 30px;
}
h2 {
 font-size: 30px;
 line-height: 40px;
 text-align: left;
 margin: 10px 0px;
 text-transform: none;
}
h3 {
 font-size: 24px;
 line-height: 40px;
 margin: 0px;
 text-transform: none;
}
h4 {
 text-transform: uppercase;
}
h5 {
 font-size: 20px;
 padding: 10px 10px;
}
p {
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 line-height: 20px;
 font-weight:400;
}
a:hover {
 color:#999999; 
 text-decoration:none;
}
/* header */

#tag {
 font-size: 32px;
}
.navbar a.brand {
 font-size: 26px;
 color: #555;
 font-family: 'officinaserifstd-bold',Helvetica,sans-serif;
 text-transform: capitalize;
 padding: 0px 20px 0px;
 margin-left: 0px;
}
.navbar a.brand img {
 margin-right:10px;
}
/* nav */
.dropdown.toggle a{
 color: #555;
}
.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu {
 border: 1px solid #F0F0F0;
 padding: 5px 5px;
 margin-top: -2px;
 color: #f0f0f0;
}
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}
#nav-path {
 padding: 3px 20px;
 font-size: 12px;
 font-weight: bold;
 line-height: 20px;
 color: #999;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
 text-transform: uppercase;
}
#btn-nav {
 font-size: 14px;
 font-weight: normal;
 text-transform: none;
 color: #fff;
 margin-top: 12px;
 padding: 0 10px;
 line-height: 20px;
 text-shadow: none;
}
#btn-nav i {
 background-image: none;
 margin-top: 3px;
}
#btn-nav:hover {
 color: #555;
 background-color: #339933;
}

/* hero */
#hero {
 padding-top: 40px;
 min-height: 260px;
}
.hero-unit {
 padding: 20px 40px;
}
.hero-unit h1, .main h1 {
  font-size: 54px;
  font-weight: 700;
  line-height:60px;
}
#hero h2 {
 margin: 0;
 font-size: 48px;
 line-height: 42px;
 background: none;
 font-family: 'officinaserifstd-bold',Helvetica,sans-serif;
 text-transform: capitalize;
 text-align: center;
}
.main h1 {
 margin-bottom: 0;
}
.container {
 margin-right: auto;
 margin-left: auto;
 width: 1200px;
}
h5.cypher {
 font-size: 16px;
 padding:10px 0;
 color: #999;
}
/* call to action */
.gray-row {
 background: transparent url(../img/grayBg.jpg) repeat 0 0; 
 padding: 30px 0 35px 10px; 
}

.path i {
 background-image: none;
 font-size: 64px;
 margin-right: 50px;
 margin-top: 20px;
}
.path, .path i, .path a{
 color: #fff;
}
.path h2 {
 font-size: 60px;
 text-shadow: 0.05em 0.05em 0.15em #666;
 background: none;
}
.path h2 a:hover,.path a:hover .icon {
 color:#ccc; 
 text-decoration:none;
}

/** page **/
.nav-stacked.affix  {
  font-size: 18px;
  width: 240px;
}
.tab-pane img {
 margin-bottom: 20px;
}
p.lead,.text18 {
 font-size: 18px;
}
.thumbnail div.icon {
 margin: 30px 30px 0 30px;
 height: 80px;
}
/** download table **/
.table-download h2 {
  color: #ffffff;
  font-weight: 200;
  font-size: 24px;
  line-height: 25px;
  background:none;
  margin: 20px 0px 0px 0px;
  text-align: center;
  text-transform: capitalize;
}
.table-download h3 {
  color: #000000;
  font-weight: 200;
  font-size: 20px;
  line-height:15px;
  background:none;
  text-align: center;
  text-transform: capitalize;
}
.table-download h4 {
  font-size: 18px;
  font-weight: 200;
  line-height: 0px;
}
.table-download p {
  font-weight: 200;
}

.table-download th, .table-download td{
  text-align: center;
  vertical-align: middle;
}

.table-download td{
  height: 50px;
  font-size: 16px;
  vertical-align: middle;
}

.table-download th.edition {
  color: #ffffff;
  width: 20%;
  vertical-align: middle;
  text-decoration: none;
  background-color: #0088cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);  
  border-color: #387038; 
}

.table-striped tbody tr:nth-child(odd) th, .table-striped tbody th  {
  width: 20%;  
  text-decoration: none;
  background-image: none;
  border-color: #ccc;
  background-color: #F9F9F9;
}

.table-download tbody th.ltgreen {
  border-color: #b7e693; 
  width: 20%;  
  color: #ffffff;
  text-decoration: none;
  background-color: #63CB3F;
  background-image: -moz-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63CB3F), to(#4C9E30));
  background-image: -webkit-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: -o-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: linear-gradient(to bottom, #63CB3F, #4C9E30);
  background-repeat: repeat-x;
}

.table-download th { 
  text-shadow: 0 -1px 0 #999;
  background-color: #999;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#666));
  background-image: -webkit-linear-gradient(top, #333, #666);
  background-image: -o-linear-gradient(top, #333, #666);
  background-image: linear-gradient(to bottom, #333, #666);
  background-image: -moz-linear-gradient(top, #333, #666);
  border-color: #333 #333 #666;
  background-repeat: repeat-x;
}

.os img{
  margin-right: 10px;
  padding-bottom: 8px;
}
.os h3 {
  vertical-align: middle;
  color: #505050;
}
.bg-btn {
 background-image: none;
 /*font-size: 16px;*/
}
.archives {
  margin-left: 70px;
}
/* footer */

.footer {
 position: relative;
 padding-top: 50px;	
}
.footer, .footer a {
 text-decoration: none;
}
.footer a:hover {
 color: #ccc;
}
.footer ul {
 padding: 0;
 margin-left: 0;
}
.footer li {
 font-size: 13px;
 list-style-type:none;
}
.footer-gray {
 background: transparent url(../img/grayBg.jpg) repeat 0 0; 
 padding: 10px 0px 8px 0px;
 bottom: 0px;
}
#sitemap {
 padding-bottom: 50px;
}
