@font-face {
    font-family: 'urwgroteskbold';
    src: url('/assets/font/urwgrotesk-bol-webfont.eot');
    src: url('/assets/font/urwgrotesk-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/urwgrotesk-bol-webfont.woff') format('woff'),
         url('/assets/font/urwgrotesk-bol-webfont.ttf') format('truetype'),
         url('/assets/font/urwgrotesk-bol-webfont.svg#urwgroteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'urwgroteskmedregular';
    src: url('/assets/font/urwgrotesk-med-webfont.eot');
    src: url('/assets/font/urwgrotesk-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/urwgrotesk-med-webfont.woff') format('woff'),
         url('/assets/font/urwgrotesk-med-webfont.ttf') format('truetype'),
         url('/assets/font/urwgrotesk-med-webfont.svg#urwgroteskmedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'urwgroteskregular';
    src: url('/assets/font/urwgrotesk-reg-webfont.eot');
    src: url('/assets/font/urwgrotesk-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/urwgrotesk-reg-webfont.woff') format('woff'),
         url('/assets/font/urwgrotesk-reg-webfont.ttf') format('truetype'),
         url('/assets/font/urwgrotesk-reg-webfont.svg#urwgroteskregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'urwgrotesklight';
    src: url('/assets/font/urwgrotesk-lig-webfont.eot');
    src: url('/assets/font/urwgrotesk-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/urwgrotesk-lig-webfont.woff') format('woff'),
         url('/assets/font/urwgrotesk-lig-webfont.ttf') format('truetype'),
         url('/assets/font/urwgrotesk-lig-webfont.svg#urwgroteskligregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'officinaserifstd-bold';
    src: url('/assets/font/officinaserifstd-bold.eot');
    src: url('/assets/font/officinaserifstd-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/officinaserifstd-bold.woff') format('woff'),
         url('/assets/font/officinaserifstd-bold.ttf') format('truetype'),
         url('/assets/font/officinaserifstd-bold.svg#officinaserifstd-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*      .-----------.
________|  Globals  |__________________________________________*/

body {
  font-family: 'urwgroteskregular',Helvetica,sans-serif;
}
.spacer {
  min-height:1px;
}
.clear {
  clear:both;
}


/*      .----------.
________|  Header  |__________________________________________*/

/*____________ Super Nav ______________*/

.super-nav {
  background-color: #323131;
  color: #fff;
  background:url(/assets/img/super-nav-BG.png);
}
.super-nav a {
  color: #fff;
  font-size: 12px;
  font-family: Arial,Helevetica;
}
.super-nav-inner {
  /*min-height: 32px;*/
  padding:8px 20px;
  height: 19px;
}
.sites {
  float:left;
}
.search {
  float:right;
  height: 20px;
}
input[type="search"] {
  margin-bottom:0px;
  height: 13px;
  margin-top: -3px;
}

/*Super Nav Media Queries*/ 

@media (max-width: 979px){
  .search { display:none; }
}

/*____________ Main Nav ______________*/

.navbar {
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
  color: #555555;
  box-shadow:  0px 1px 8px 1px rgba(0, 0, 0, .6);
    -webkit-box-shadow:  0px 1px 8px 1px rgba(0, 0, 0, .6);
}
.navbar h1 {
  margin:0;
}
.navbar-inner {
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
}
.navbar .search {
  display:none;
  margin-top: 18px;
  margin-right: 30px;
}
.navbar input[type="search"] {
  height:20px;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: right;
  margin: 21px 10px 0 0;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 30px 10px;
  color: #6d6d6d;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.dropdown-submenu:hover > a,
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #63CB3F;
  background-image: -moz-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63CB3F), to(#4C9E30));
  background-image: -webkit-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: -o-linear-gradient(top, #63CB3F, #4C9E30);
  background-image: linear-gradient(to bottom, #63CB3F, #4C9E30);
  background-repeat: repeat-x;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 8px 30px 6px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #555555;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand img {
  height: 45px;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 12px 18px;
  margin: 10px 5px 0 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3D3C3C;
  *background-color: #3D3C3C;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494646), to(#3D3C3C));
  background-image: -webkit-linear-gradient(top, #494646, #3D3C3C)
  background-image: -o-linear-gradient(top, #494646, #3D3C3C);
  background-image: linear-gradient(to bottom, #494646, #3D3C3C);
  background-image: -moz-linear-gradient(top, #494646, #3D3C3C);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover{
  background-color: #575555;
}

/*Nav Bar Media Queries*/ 

@media (max-width: 979px){
  .navbar .search { display:block; }
}
@media (max-width: 500px){
  .navbar .search { display:none; }
}


/*      .----------------------.
________|  Hero/Learning Path  |__________________________________________*/

.hero {
  background-color: #00ADDF;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.hero .container {
  background: url(/assets/img/arrows.png) no-repeat;
  background-position: 48% 69%;
}

/*____________ Main Hero ______________*/

.hero h2 {
  font-size:48px;
  color:#fff;
  text-shadow: 3px 1px 1px #187B9C;
  text-align:center;
  font-family:'officinaserifstd-bold',Helvetica,sans-serif;
  margin-bottom: 30px;
}

.hero h2 span {
  font-size:25px;
  text-shadow: 2px 1px 1px #187B9C;
  font-family: 'urwgroteskregular',Helvetica,sans-serif;
}

.download{
  text-align:center;
  height: 102px;
  width:255px;
  overflow: hidden;
  margin-bottom: 0px;
  background: url(/assets/img/btn_download_sprite.png) 0% 97%;
  margin: 0 auto;
}
.download:hover{
    background: url(/assets/img/btn_download_sprite.png) 0% 0%;
}
.download a{
  color: white;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 21px;
  top: 31px;
  height: 102px;
  width: 255px;
  display:block;
  position: relative;
}
.download a:hover {
  text-decoration: none
}
.download a span{
  font-size:14px;
  font-weight: normal;
}

.all-versions{
  color:#fff;
  text-decoration: underline;
  font-family: Helvetica;
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 5px;
}

.hero-unit {
  background-color:transparent;
  padding:0;
  text-align: center;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

/*Main Hero Media Queries*/  

@media (max-width: 767px) {
  .hero .container      { background-image: none; }
}


/*____________ Learning Path ______________*/

.learning-path {
  min-height: 200px;
  margin: 20px 0;
  text-align:center;
}
.learning-path .span4 {
  margin-top: 100px;
}
.learning-path img {
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  cursor: hand;
}
/*---Start---*/
.start{
  padding-top: 14px;
}
.start img {
  width: 60%;
}
.start img:hover {
  width: 63%;
}
/*---Learn---*/
.learn{
  text-align:left;
}
.learn img {
  width: 53%;
  padding-left: 45px;
}
.learn:hover img {
  width: 56%;
  padding-left: 35px;
}
/*---Create---*/
.create{
  text-align: left;
  padding-top: 15px;
}
.create img {
  width: 73%;
  margin-left: -30px;
}
.create:hover img {
  width: 76%;
}

/*Learning Path Media Queries*/  

@media (max-width: 1198px){
  .start        {text-align:left;}
  .start img    {padding-top: 5px;}
  .create img   {margin-left: 0px;}
}
@media (max-width: 979px) and (min-width: 768px){
  .start img          {text-align:left;padding-top: 7px;margin-left: -60px;width:70%; }
  .start img:hover    {width:78%}
  .learn img          {width: 63%;padding-left: 14px;}
  .learn img:hover    {width:68%;padding-left:10px;}
  .create img         {width: 86%;margin-left: 45px;}
  .create img:hover   {width:88%;}
}
@media (max-width: 767px) {
  .learning-path .span1          { display:none; }
  .learning-path .span4          { margin-top:50px;margin-bottom:50px; }
  .start                         { text-align: center; }
  .start img,.start:hover img    { width: auto;margin-left: -22px; }
  .learn                         { text-align: center; }
  .learn img,.learn:hover img    { width: auto; padding-left: 0; }
  .create                        { text-align: center; }
  .create img,.create:hover img  { width: auto }
}


/*      .-------------.
________|  Community  |__________________________________________*/


.community-container{
  padding:20px 0;
  background: url(/assets/img/bg_repeater.png) #EDEDED;
  overflow:hidden;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
}
.community{
  background-color: #66C847;
  color:#fff;
  padding:8px 0 ;
}
.community h4{
  font-size:30px;
  line-height: 30px;
  margin: 0;
}
.community p{
  font-size:12px;
  margin:0;
  line-height: 17px;
}
.community input[type="email"]{
  margin-bottom:0;
}

.community button.btn{
  background-color: #919191;
  -webkit-appearance:none;
  background-image:none;
  color: white;
  text-shadow:0 1px 1px #6C6D6C;
  margin-left:-10px;
}
.community button.btn:hover{
  background-color: #595959;
  -webkit-appearance:none;
  background-image:none;
}

/*Community Media Queries*/  

@media (max-width: 767px) {
  .community h4 { margin-bottom:10px; }
  .community p  { margin-bottom:14px; font-size: 14px; }
  .community .container    { margin:0 30px; }
  .community button.btn { float: right;margin-top: -48px;height: 44px;font-size: 20px;width: 80px; }
  .community input[type="email"] { height: 42px;font-size: 16px;margin-bottom: 5px;}
}

@media (max-width: 979px) and (min-width: 768px){
  .community input[type="email"] { margin-top:15px; }
  .community button.btn          { margin-top:15px; }
}

/*      .-------------------.
________|  Feeds/Makerting  |__________________________________________*/

.feeds-marketing{

}
.feeds-marketing h4{
  border-bottom:1px solid #dcdcdc;
  font-size:18px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: lighter;
}

/*Feeds/Makerting Media Queries*/

@media (max-width: 767px) {
  .feeds-marketing .container    { margin:0 30px; }
  .feeds-marketing .span4        { margin-bottom:35px; }
  .feeds-marketing .span4:last-child  { margin-bottom:0px; }
}

/*_______________ News _________________*/

.news{

}
.news li{
  list-style:none;
  padding-bottom:15px;
}

.news a{
  font-style: italic;
  font-size: 16px;
  color:#00ADDF;
}
#creditfooter {
  display:none;
}

/*_______________ Events _________________*/

.events{

}
.events a{
  color:#00ADDF;
  font-style: italic;
}
.events li{
  list-style:none;
  padding-bottom:5px;
  color:#6d6d6d;
  font-size:14px;
}
.events li span{
  color:#a8a8a8;
  font-family: 'urwgrotesklight';
  font-weight: lighter;
}

/*__________ Marketing Block _____________*/

#marketing-slider {
    /*width: 370px;*/
  height: 250px;
  overflow: hidden;
  position: relative;
/*  -webkit-box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, .5);
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, .5);*/
}

#marketing-slider .slide {
  /*left: 0;*/
  position: absolute;
  top: 0;
}

#marketing-slider .hidden {
  display: none;
}

/*Marketing Block Media Queries*/

@media (max-width: 767px) {
  #marketing-slider     { width: 100%;height: 355px;text-align: center; }
  #marketing-slider img { height: auto; width: auto; }
}


/*      .----------.
________|  Footer  |__________________________________________*/

.footer{
  background: #333333;
  color:#fff;
  margin-top: 40px;
  padding-bottom:20px;
  padding-top: 10px;
}
.footer a{
  color:#fff;
  font-family: 'urwgrotesklight',Helvetica,sans-serif;
}
.footer li{
  list-style: none;
  padding-bottom:16px;
}
.footer ul{
  margin:0;
}
.footer h3{
  font-size:30px;
  font-family: Helvetica, sans-serif;
}

/*Footer Media Queries*/

@media (max-width: 979px) and (min-width: 768px){
  .footer .span2      { width:165px }
  .footer .span4      { display: block;float: none;width: auto;margin-left: 0; }
}

@media (max-width: 767px) {
  .footer .container  { margin:0 30px; }
  .footer .span2      { float:left;width:200px;margin-left: 35px; }
}

@media (max-width: 527px) {
  .footer .span2      { float:left;width:156px;margin-left: 15px; }
}

@media (max-width: 400px) {
  .footer .span2      { float:left;width:170px;margin-left:0px }
}

/*_____________ Newsletter ________________*/

.newsletter{
  margin-top:60px;
}
.newsletter input[type="email"]{
  margin:0;
}
.newsletter button.btn{
  background-color: #00ADDF;
  background-image: none;
  color: white;
  text-shadow: none;
}
.newsletter h5{
  font-family: 'urwgroteskregular',Helvetica,sans-serif;
  font-size: 18px;
  margin: 0;
}
.newsletter p {
  font-size:12px;
  font-family: 'urwgrotesklight',Helvetica,sans-serif;
}

/*Newsletter Media Queries*/

@media (max-width: 976px) {
  .newsletter input[type="email"] { width:96% }
  .newsletter button.btn          {float: right;margin-top: -31px;height: 32px;font-size: 16px;width: 80px;position: relative;}
}

/*_____________ Social ________________*/

.social {
  margin-top: 100px;
}
.social h4{
  font-size:24px;
  margin-bottom:18px;
}
.social a  {
  margin-right:25px;
  margin-bottom:10px
}
.social a:last-child {
  margin-right:0px;
}
.clear-social { 
  clear:none; 
}

/*Social Media Queries*/

@media (max-width: 976px) {
  .clear-social { clear:both; }
  .social       { margin-top: 10px;margin-left: 18px; }
}
/*======================================*/

