/* @override http://localhost:5000/themes/quartum/css/style.css */

/** General Styles **/

h1,h2,h3,h4,h5,h6 {font-weight:900; }

a {color:#c8584c; text-decoration:none;}
a:hover {color:#fff; text-decoration:none;}


body {
	font-family: 'Lato', sans-serif;
	background: #efeeea url(../img/grayBg.png) repeat 0 0;
	color: #404040;
	padding-top: 20px;
}


body > div.container {
  padding-bottom: 20px;
}

/** Forms **/

input, button, select, textarea {font-family: 'Lato', sans-serif;}

input.search-query {border:0; height:24px; box-shadow:none; border-radius:50px; }
input.search-query[type=text]:focus {border:none; box-shadow:none;}
.form-search .input-append .search-query {border-bottom-left-radius:50px; border-top-left-radius:50px;}

textarea {border-radius:14px; border:0; width:97%; padding-left:15px; box-shadow:none; resize: none;}
textarea:focus {box-shadow:none;}


/** social icons **/

ul.social {margin:0 0 30px 0;}
ul.social li {display:inline-block;}
ul.social li a {width: 36px; height: 36px; display: block; margin: 0 2px;}

.facebook {background: transparent url(../img/social.png) no-repeat 0 0;}
.facebook:hover {background-position: 0 -37px;}
.twitter {background: transparent url(../img/social.png) no-repeat -46px 0;}
.twitter:hover {background-position: -46px -37px;}
.googleplus {background: transparent url(../img/social.png) no-repeat -92px 0;}
.googleplus:hover {background-position: -92px -37px;}
.linkedin {background: transparent url(../img/social.png) no-repeat -138px 0;}
.linkedin:hover {background-position: -138px -37px;}
.pinterest {background: transparent url(../img/social.png) no-repeat -184px 0;}
.pinterest:hover {background-position: -184px -37px;}

/** custom Headers **/

h1 {
	margin: 40px 0 30px;
}
h2 {background:transparent;  text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#93b2a0; white-space:normal; margin:50px 0 30px 0;}
url(../img/hdr2-line-bg.png) repeat-x 0 50%;
/*h2 span.lft {background:transparent url(../img/hdr2-bg-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}*/
/*h2 span.rt {background:transparent url(../img/hdr2-bg-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}*/
/*h2 span.mid {background: transparent url(../img/hdr2-bg-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}*/

.green-row h2 {background:transparent url(../img/hdr2-line-grn-bg.png) repeat-x 0 50%; text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#fff; margin:5px 0 30px 0;}
.green-row h2 span.lft {background:transparent url(../img/hdr2-bg-grn-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}
.green-row h2 span.rt {background:transparent url(../img/hdr2-bg-grn-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}
.green-row h2 span.mid {background: transparent url(../img/hdr2-bg-grn-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}

h3 { background:transparent url(../img/hdr3-line-bg.png) repeat-x 0 50%; text-align:left; padding: 0; text-transform: uppercase; font-size:14px; line-height:23px; color:#93b2a0; white-space:normal; margin:50px 0 10px 0;}

.hero h2 {
  font-size:48px;
  color:#fff;
  text-shadow: 3px 1px 1px #187B9C;
  text-align:center;
  font-family:'officinaserifstd-bold',Helvetica,sans-serif;
  margin-bottom: 30px;
}

.hero h2 span {
  font-size:25px;
  text-shadow: 2px 1px 1px #187B9C;
  font-family: 'urwgroteskregular',Helvetica,sans-serif;
}


/** trick - fill spans in headers  **/
.lft:before, .rt:before {content: "\00a0";}

/** custom buttons */


.btn-green { text-transform: uppercase;	color: #fff; background: transparent; box-shadow: none; border-radius: 50px; border: 2px solid #bcd2c5; font-weight: 900; text-shadow:none; }
.btn-green:active {box-shadow:none; border:2px solid #fff; background:transparent; color:#c8584c; }
.btn-green:hover {border:2px solid #fff; background:transparent; color:#c8584c; }

.red-btn {background: transparent url(../img/btn-red-bg.png) repeat-x; height:32px; border:0; border-radius:50px; line-height:32px; padding:0 18px; color:#fff; text-transform:uppercase; font-weight:900; text-shadow:none; box-shadow:none;}
.red-btn:hover {background: transparent url(../img/btn-red-hov-bg.png) repeat-x; color:#fff;}
.red-btn:active {background: transparent url(../img/btn-red-hov-bg.png) repeat-x; color:#fff; border:0; text-shadow:none; box-shadow:none; }

.green-row .red-btn:hover {background: #fff; color:#c8584c; border:0; text-shadow:none; box-shadow:none; color:#c8584c; }
.green-row .red-btn:active {background: #fff; color:#c8584c; border:0; text-shadow:none; box-shadow:none; }

a.twitterBtn {width:148px; height:32px; line-height:32px; border:0; text-shadow:none; background:transparent url(../img/twitter-btn-bg.png) no-repeat -1px -34px; box-shadow:none; margin:0; padding:0 18px; color:#fff; text-transform:uppercase; font-weight:900;   -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; margin-bottom:10px; }
a.twitterBtn:active {width:148px; height:32px; line-height:32px; border:0; text-shadow:none; background:transparent url(../img/twitter-btn-bg.png) no-repeat -1px -34px; box-shadow:none; margin:0; padding:0 18px; color:#fff; text-transform:uppercase; font-weight:900;   -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; margin-bottom:10px; }
a.twitterBtn:hover {background-position: -1px -1px; background-color: transparent; color:#c8584c;  -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none;}


/** main menu **/

div#super-nav {
  visibility: hidden;
}


.navbar-inner { background: url(../img/navbarBg1.png) repeat-x 0 0; box-shadow: none; min-height: 50px; ; filter:none; }
.navbar a.brand {color: #bcd2c5; font-weight: 700; text-shadow: none; text-transform: uppercase; font-size: 18px; padding: 0 0 0 10px; background: none; margin-left:0; font-weight:900; white-space:nowrap;}
.navbar a.brand.active {background: transparent url(../img/tip-active-menu.png) no-repeat 68% bottom; box-shadow: none; color:#fff;}
.navbar a.brand img {margin-right:10px;}
#fix {color:#fff;} /* fix for dark background */

.navbar .nav {
  float:right;
}
.navbar-static-top {min-width:300px;}
.navbar .nav li {line-height: 50px;}
.navbar .navbar-inner .nav li.dropdown.open a {color:#fff; background: transparent url(../img/tip-dropdown.png) no-repeat center bottom;}
.navbar .navbar-inner .nav li.dropdown:hover a {color:#fff; background: transparent url(../img/tip-dropdown.png) no-repeat center bottom;}
.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu {border:none; text-align:center; border-radius:20px; box-shadow:none; margin:0; }
.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu a {color:#c8584c; padding:5px 3px; }
.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu a:hover {color:#a6c3b2; }
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after  {border:none;}
.navbar .pull-right > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu.pull-right::before {border:none;}
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {left:-36px; right:auto;}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {box-shadow:none;}
.navbar .navbar-inner .container .nav li a {padding: 0 10px; font-size: 14px; color: #fff; text-shadow: none; font-weight: 900; text-transform: uppercase;}
.navbar .navbar-inner .container .nav li.active > a {background: transparent url(../img/tip-active-menu.png) no-repeat center bottom; box-shadow:none; color:#fff;}
.navbar .nav li.dropdown > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {color: #bcd2c5;}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {background:transparent; color:#fff; }
.navbar .navbar-inner .container .nav li a:hover {color: #fff;}
.navbar .nav-collapse.collapse {background: url(../img/navbarBg.jpg) repeat 0 0; border-radius: 0 0 5px 5px;}
.navbar .nav-collapse.collapse li a:hover { background: transparent; filter:none;}
.navbar .btn-navbar {background: transparent; padding: 0; box-shadow: none; border: none; text-shadow: none; text-transform: uppercase; line-height: 50px; margin: 0; color: #BCD2C5;}
.navbar .btn-navbar .caret {margin: 25px 0 0 5px;}
.navbar .btn-navbar:hover {background: transparent; color: #fff;}


ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

/** Style Images with borders **/

.thumbnail.corner { box-shadow:none; border:5px solid #d7d4c7; padding:0; position:relative; display:inline-block; box-shadow:none;}
.thumbnail.corner:hover { background-color: white; border-color: #d7d4c7; box-shadow:none;} /* jquery + less opacity + background new + add class and remove class */
.thumbnail span.thumbTop {width:25px; height:25px; background: transparent url(../img/pt-corner-tp.png) no-repeat top center; position:absolute; left:-6px; top:-6px; z-index: 5;}
.thumbnail span.thumbBottom {width:25px; height:25px; background: transparent url(../img/pt-corner-bt.png) no-repeat top center; position:absolute; right:-6px; bottom:-6px; z-index: 5;}

a.thumbnail { box-shadow:none; border:5px solid #d7d4c7; padding:0; position:relative; display:inline-block; box-shadow:none;} /* inline-block to fit border */
a.thumbnail:hover {border-color: #c8584c; box-shadow:none;}

.ch_hover {background: #c8584c url(../img/hover-arrow-bg.png) no-repeat 48% 50% !important;}

div.nolink { box-shadow:none; border:5px solid #d7d4c7; padding:0; position:relative; display:inline-block; box-shadow:none; position:relative;}


.thumbnail div.icon {
  font-size: 120px;
  margin: 20px;
  width: 120px;
  height: 120px;
}

/** sliders **/

.smallSlider {}

.smallSlider div.item {}
.smallSlider .box {background:#bcd2c5; border-radius:14px; padding:10px; min-height:140px; margin:25px 10px 0 10px; text-align:center; font-size:18px; line-height:25px; position:relative;}
.smallSlider .box span.tip {display:block; width:20px; height:10px; background: transparent url(../img/tip-small-slider.png) no-repeat top center; position:absolute; top:-10px; right:48%;}
.smallSlider .aut1 {top:-68px; bottom:auto; background:transparent; text-align:center; font-size:16px; text-transform: uppercase; font-weight:900; color:#fff; padding-left:60px; padding-right:60px;}
.smallSlider .aut1 span {display:block; font-size:12px; padding:5px 0; font-weight:normal; text-transform: none;}
.carousel-control {top:15px; width:52px; height:52px; border:none; border-radius:0; opacity:1;}
.carousel-control.left {background: transparent url(../img/slider-small-sprite.png) -1px -55px;}
.carousel-control.right {background: transparent url(../img/slider-small-sprite.png) -55px -55px;}
.carousel-control.left:hover {background: transparent url(../img/slider-small-sprite.png) -1px 0;}
.carousel-control.right:hover {background: transparent url(../img/slider-small-sprite.png) -55px 0;}

.slider {}
.slider .carousel-control  {top:22px; }
.slider .carousel-control.left {background: transparent url(../img/slider-small-sprite.png) -110px -1px; left:5px;}
.slider .carousel-control.right {background: transparent url(../img/slider-small-sprite.png) -165px -2px; right:5px;}
.slider .carousel-control.left:hover {background-position:-271px -55px;}
.slider .carousel-control.right:hover {background-position:-219px -55px;}

.slider .controlContainer {background:#fff; border-radius:50px; margin:0 20px 20px 20px; position:absolute; bottom:2px; top:auto; width:96%; height:58px;}
.slider .carousel-caption{ z-index:2; background:none; bottom:20px; margin:0 95px;}
.slider .carousel-caption span.title {display:block; font-size:20px; text-transform: uppercase; font-weight:900;}
.slider .carousel-caption span.description {display:block; padding-top:3px;}
.slider .carousel-caption a.red-btn {font-size:20px; float:right; margin-top:4px;}
.slider .carousel-caption .w1 {width:70%;}
.slider .carousel-caption .w2 {width:30%;}

#slider5 {}

.fullSlider {position:relative;}
.fullSlider .nivo-directionNav { height:100px; width:350px; position:absolute; left:50%; bottom:10px; }
.fullSlider .nivo-directionNav a.nivo-prevNav {width:52px; height:52px; background: transparent url(../img/slider-small-sprite.png) no-repeat -111px -55px; text-indent:-9999px;}
.fullSlider .nivo-directionNav a.nivo-nextNav {width:52px; height:52px; background: transparent url(../img/slider-small-sprite.png) no-repeat -165px -55px; text-indent:-9999px;}
.fullSlider .nivo-directionNav a.nivo-prevNav:hover {background-position:-272px -55px;}
.fullSlider .nivo-directionNav a.nivo-nextNav:hover {background-position:-219px -55px;}


.fullSlider h1 {display:inline-block; background: transparent url(../img/logoBig.png) no-repeat 0 0; padding: 15px 10px 10px 150px; min-height: 120px; text-transform: uppercase; font-weight: 900; font-size:50px; line-height:50px; }
.fullSlider .nivo-caption { top:0; bottom:auto; background:transparent; left:50%; }
.fullSlider .nivo-controlNav {background:#fff; border-radius:20px; padding:0 5px; min-width:100px; display:block; position:absolute; bottom:22px; left:50%; z-index: 99; }
.fullSlider .nivo-controlNav a.nivo-control {width:20px; height:30px; background:transparent url(../img/dot1-bg.png) no-repeat 50% 50%; display:inline-block; text-indent: -9999px;}
.fullSlider .nivo-controlNav a.nivo-control.active {background:transparent url(../img/dot2-bg.png) no-repeat 50% 50%;}


.logosSlider {text-align:center; margin-top:30px;}
.logosSlider .carousel .item > img {display:inline-block;}

.logosSlider .carousel-control.left {background: transparent url(../img/slider-small-sprite.png) -1px 0; left:0;}
.logosSlider .carousel-control.right {background: transparent url(../img/slider-small-sprite.png) -55px 0; right:0;}
.logosSlider .carousel-control.left:hover {background: transparent url(../img/slider-small-sprite.png) -1px -55px;}
.logosSlider .carousel-control.right:hover {background: transparent url(../img/slider-small-sprite.png) -55px -55px;}
.logosSlider .carousel-control {top:40px;}
.logosSlider .box {margin:0 55px;}




/** styles for specific rows **/

.green-row {background: transparent url(../img/greenBg.jpg) repeat 0 0; padding: 15px 0 30px 0; }

footer.bottom {background: transparent url(../img/greenBg.jpg) repeat 0 0; }

div.page.row {padding: 0 0px 25px}
div.page.row h1 {background:none; font-size:30px;}
div.page.row h1 { text-align:center; padding: 0; font-size:50px; line-height:50px; white-space:nowrap;}

.workTogether {margin:40px 0;}
.workTogether .box {background:#fff; border-radius:50px; padding:13px 0 10px 0; margin:0;}
.workTogether p {font-size:20px; text-transform: uppercase; font-weight:900; padding-top:5px; text-align:right;}
.workTogether a.btn.red-btn {font-size:20px; text-align:left; margin-left:20px;}


#contactUsRow {color: #fff; padding-top:30px;}
#contactUsRow h4 { text-transform: uppercase; margin:0 0 10px 0;}
#contactUsRow address strong {color: #d1e2d8; text-transform: uppercase; font-weight: 700;}
#contactUsRow p {margin:0 0 10px 0;}
#contactUsRow a.red-btn {margin-bottom:15px;}
#newsletter .newsletterSubmit {background: transparent url(../img/newsletter-submit-bg.png) no-repeat top center; width: 57px; height: 32px; border: 0; text-shadow:none; box-shadow:none;}
#newsletter .newsletterSubmit:active {  border:0; text-shadow:none; box-shadow:none; }

#footText {padding: 15px 0;}
#footText a.toTop {background: transparent url(../img/logo-red.png) no-repeat 0 -3px; width:133px; height:33px; display:block; color:transparent; padding-left:44px; font-weight:900; font-size:16px; line-height:33px;}
#footText a.toTop:hover {background-position: 0 -42px; color:#a6c3b2;}
#footText p {font-size:12px; color:#a6a088;}


div.related p { font-size: 10px; }

/** PAGE 1 - index **/


#sloganRow {padding: 29px 0 5px 0;}
#sloganRow h1 {background: transparent url(../img/logoBig.png) no-repeat 0 0; padding: 15px 10px 10px 150px; min-height: 120px; text-transform: uppercase; font-weight: 900; font-size:50px; line-height:50px; }

#sliderRow {margin: 0 0 60px 0;}

#whatWeDoRow {}
#whatWeDoRow img {max-width: none;}
#whatWeDoRow p {margin-bottom:12px;}
#whatWeDoRow h3 {margin-bottom:0; margin-top:13px; line-height:37px;}
#whatWeDoRow .moveMe {padding-left:20px; margin-bottom:10px;}

#recentWorksRow {}
#recentWorksRow .thumbnails li {text-align:center;}
#recentWorksRow h3 {text-transform: uppercase; text-align: center; font-size:16px; line-height:30px; margin:0;}
#recentWorksRow h3 a {color:#404040;}
#recentWorksRow h3 a:hover {color:#c8584c;}
#recentWorksRow p {text-align: center; font-size: 12px; line-height:17px;}


#aboutUsRow {}
#aboutUsRow p {font-size: 16px; line-height:24px;}
#aboutUsRow .box p {font-size:18px; line-height:25px; font-style:italic;}

#stayTunedRow {}

#stayTunedRow .postShowcase {}
#stayTunedRow .postShowcase h3 {text-transform: uppercase; color: #c8584c; font-size: 20px;  line-height: 20px; margin: 0 0 10px 0;}
#stayTunedRow .postShowcase h3 a{color: #c8584c; }
#stayTunedRow .postShowcase h3 a:hover {color:#a6c3b2;}

#stayTunedRow .postShowcase p {margin: 0}
#stayTunedRow p.summary  {margin: 0; color: #a6a088; font-size:12px;}
#stayTunedRow p.summary a {color: #c8584c; font-size: 12px;}
#stayTunedRow p.summary a:hover {color:#a6c3b2;}
#stayTunedRow .newsData {}
#stayTunedRow .newsData .datetime a {color: #a6a088; font-size: 12px;}
#stayTunedRow .newsData .tweet .datetime a:hover {color:#c8584c;}
#stayTunedRow .newsData .tweet {margin: 0 0 15px 0;}
#stayTunedRow .newsData .tweet a:hover {color:#a6c3b2;}
#stayTunedRow .newsData p {margin: 0; font-size:14px;}
#stayTunedRow .newsData p.datetime {color: #a6a088; font-size: 12px;}


/** PAGE 3 - About **/

#aboutUsRow2 {}
#aboutUsRow2 h3 {font-size:20px; margin-bottom:0; }
#aboutUsRow2 p {font-size: 16px; line-height:24px;}
#aboutUsRow2 h3 + p {font-size:14px; line-height:20px;}

#ourClients h2 {margin-bottom:0;}

#ourStatistics { }
#ourStatistics .project span {font-size:60px; font-weight:900; margin-top:10px; display:block; line-height:60px;}
#ourStatistics .project p {}

#meetTheTeam { }
#meetTheTeam .person h3 {margin:0; font-size:20px; line-height:23px;}
#meetTheTeam .person span {display:block; color:#a6a088; }
#meetTheTeam .person a:hover {color:#a6c3b2;}

/** PAGE 4 - Services **/


#servicesText {margin-bottom:40px;}
#servicesText h3 {font-style:italic; font-weight:400; font-size:30px; line-height:35px; margin-bottom:30px; text-transform: none;}

#whatWeDoRow2 {text-align:center;}
#whatWeDoRow2 h2 {margin: 0 0 30px 0;}
#whatWeDoRow2 h3, h4 {text-transform: uppercase; margin-bottom:2px;}
#whatWeDoRow2 p {margin-bottom:20px;}
#whatWeDoRow2 .description {background:#bcd2c5; border-radius:14px; padding: 5px 10px; margin: 10px 5px 5px 5px;}


/** PAGE 5 - Work **/

.filterMenu {}
.filterMenu ul {background: transparent url(../img/filter-menu-bg1.png) repeat-x 0 50%; list-style:none; text-align:center; margin:3px 0;}
.filterMenu ul li {display:inline-block; margin:3px 0;}
.filterMenu ul li a {color:#c8584c; font-size:18px; text-decoration:none; margin:0; font-weight:900; text-transform: uppercase; line-height:33px;}
.filterMenu ul li a span.lft {background: transparent url(../img/filter-menu-bg-lft.png) no-repeat 90% 0; height:33px; width:26px; display:inline-block;}
.filterMenu ul li a span.mid {background: transparent url(../img/filter-menu-bg-mid.png) repeat-x 0 0;  height:33px; display:inline-block; padding:0 5px;}
.filterMenu ul li a span.rt {background: transparent url(../img/filter-menu-bg-rt.png) no-repeat 0 0; height:33px; width:26px; display:inline-block;}
.filterMenu ul li a:hover, .filterMenu ul li.active a { color:#93b2a0; }


#workGallery {text-align:center; margin:40px 0;}
#workGallery h3 {text-transform: uppercase; text-align: center; font-size:16px; margin:0; line-height: 18px; padding: 7px 0; }
#workGallery h3 a {color:#404040;}
#workGallery h3 a:hover {color:#c8584c;}
#workGallery p {text-align: center; font-size: 12px; line-height:17px;}

/**  PAGE 6 - Project Work **/

.projectNavig h2 {background: transparent url(../img/proj-nav-bg2.png) repeat-x 0 50%; color: #fff; font-weight: 900; font-size: 18px; color: #93b2a0; margin:10px 0 35px 0; }
.projectNavig h2 a.lft {background: transparent url(../img/proj-nav-lft-bg.png) no-repeat 0 -37px; display:inline-block; width:74px; height:33px;}
.projectNavig h2 a.lft:hover {background-position: 0 0;}
.projectNavig h2 span.mid {background: transparent url(../img/proj-nav-bg1.png) repeat-x 0 0; height:33px; display:inline-block;}
.projectNavig h2 a.rt {background: transparent url(../img/proj-nav-rt-bg.png) no-repeat 0 -37px; display:inline-block; width:74px; height:33px;}
.projectNavig h2 a.rt:hover {background-position:0 0;}

.singleProject {margin:0 5px;}
.singleProject span {color:#a6a088;}
.singleProject span strong {font-size:20px; color:#404040; text-transform: uppercase; font-weight:900; padding-top:3px; display:block;}
.singleProject p {font-size:16px; line-height:24px;}


/** PAGE 7 - Blog **/

#ourBlog {}
.blogPost {margin-bottom:50px; padding-right:30px; padding-left:30px;}
.blogPost a:hover {color:#a6c3b2;}

.blogPost h5 {background:transparent url(../img/hdr2-line-bg.png) repeat-x 0 50%; text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#93b2a0; white-space:nowrap; margin-bottom:40px;}

.blogPost h5 span.lft {background:transparent url(../img/hdr2-bg-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}
.blogPost h5 span.rt {background:transparent url(../img/hdr2-bg-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}
.blogPost h5 span.mid {background: transparent url(../img/hdr2-bg-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}

.blogPost h2 {text-transform: uppercase; color: #c8584c; font-size: 24px;  line-height: 26px; margin: 5px 0; text-align:center; background:none; white-space:normal;}
.blogPost h2 + p {font-size:16px; line-height:24px;}
.blogPost p.summary  {margin: 0; color: #a6a088; text-align:center; margin-top:15px;}
span.dividers {color:#d7d4c7;}
.blogPost p.summary a {}
.blogPost ul.thumbnails {margin:0;}
.blogPost ul.thumbnails li {width:100%; text-align:center; margin:0; padding:0}


.blogSidebar {}
.blogSidebar a:hover {color:#a6c3b2;}
.blogSidebar h4 {color:#93b2a0; font-size:20px; margin-bottom:10px;}
.blogSidebar ul.categories {}
.blogSidebar ul.categories li {padding:3px 0;}
.blogSidebar ul.categories li a {text-transform: uppercase; font-weight:900; display:inline-block; width:65%;}
.blogSidebar ul.categories li span{display:inline-block; width:30%; color:#000; text-align:center; font-weight:900;}

.blogSidebar ul.months {}
.blogSidebar ul.months li {padding:3px 0;}
.blogSidebar ul.months li a {text-transform: uppercase; font-weight:900; padding-left:5%; padding-right:5%; }

/** pager **/

.pager {margin:50px 0;}
.pager ul li {display:inline-block;}

.pager ul li.previous a {float:none; display:block; background: transparent url(../img/prev-arrow-ac-bg.png) no-repeat 10% 5px; padding:1px 20px 1px 50px; border-radius:50px; width:auto; }
.pager ul li.previous a:hover {background-position:10% -58px;}
.pager ul li.next a {float:none; display:block; background: transparent url(../img/next-arrow-ac-bg.png) no-repeat 90% 5px; padding:1px 50px 1px 20px; border-radius:50px;  width:auto; }
.pager ul li.next a:hover {background-position:90% -58px;}

.pager ul li.previous span {float:none; display:block; background: transparent url(../img/prev-arrow-bg.png) no-repeat 10% 50%; padding:1px 20px 1px 50px; border:2px solid #d7d4c7; border-radius:50px; width:auto; color:#a6a088;}
.pager ul li.next span {float:none; display:block; background: transparent url(../img/next-arrow-bg.png) no-repeat 90% 50%; padding:1px 50px 1px 20px; border:2px solid #d7d4c7; border-radius:50px; width:auto; color:#a6a088;}

.pager ul li a, .pager ul li span {width:26px; height:26px; padding:1px; line-height:26px; border-radius:50px; display:inline-block; font-weight:900; color:#c8584c; background:transparent; border:2px solid #fff; text-transform: uppercase; margin:2px;}
.pager ul li.active a {border-color:#bcd2c5; color:#93b2a0;}
.pager ul li a:hover {border-color:#bcd2c5; color:#93b2a0; background-color:transparent;}

/* tabs style : recent/popular on 07blog.html */

.tabs1 .tab-content {border:4px solid #fff; border-radius:5px; padding:10px; border-top-left-radius:0;}
.tabs1 .nav-tabs {margin:0; border:none; position:absolute; margin-top:-36px;}

.tabs1 .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    /*background: #efeeea url(../img/grayBg.png) repeat 0 0;*/
    /*border: 4px solid white;*/
    /*border-bottom: 0;*/
    /*font-weight: 900;*/
    /*text-transform: uppercase;*/
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tabs1 .nav-tabs > li > a {text-transform: uppercase; font-weight:900; border:0; background:none;}
.tabs1 .tab-pane span {display:block; padding:5px 0; color:#a6a088; font-size:12px;}

/* accordion style : on 07blog.html */

.acc1 {margin-bottom:40px;}
.acc1 a.accordion-toggle, .acc1 a.accordion-toggle.collapsed  {font-weight:900; text-transform: uppercase; background: transparent url(../img/acc-plus.png) no-repeat 0 50%; padding:10px 30px 10px 30px; border:none; color:#404040;}
.acc1 a.accordion-toggle:hover {color:#C8584C;}
.acc1 a.accordion-toggle.active {background: transparent url(../img/acc-minus.png) no-repeat 0 50%; color:#c8584c;}
.acc1 .accordion-heading {border:0; }
.acc1 .accordion-group {border:0; border-bottom:3px solid #fff; border-radius:0;}
.acc1 .accordion-inner {border:0; padding: 0 0 15px 30px;}
.acc1 .collapse {overflow: hidden !important;} /** IE fix **/

/** PAGE 8 - Blog Single Post **/

.singlePost {padding-right:30px; padding-left:30px;}
.singlePost a:hover {color:#a6c3b2;}
.singlePost h5 {background:transparent url(../img/hdr2-line-bg.png) repeat-x 0 50%; text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#93b2a0; white-space:nowrap; margin-bottom:40px;}

.singlePost h5 span.lft {background:transparent url(../img/hdr2-bg-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}
.singlePost h5 span.rt {background:transparent url(../img/hdr2-bg-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}
.singlePost h5 span.mid {background: transparent url(../img/hdr2-bg-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}

.singlePost ul.thumbnails {margin:0;}
.singlePost ul.thumbnails li {width:100%; text-align:center; background:none; padding:0; margin:0; padding:0;}

.singlePost h2 {font-size:24px; text-align:center; text-transform: uppercase; background:none; color:#404040; margin:0 0 5px 0; white-space:normal;}
.singlePost h3 {font-size:20px; text-align:center; text-transform: uppercase; margin:15px 0 0 0;}
.singlePost h4 {font-size:16px; text-align:center; text-transform: uppercase; margin:20px 0 5px 0;}
.singlePost blockquote p {border:4px solid #fff; border-right:none; border-left:none; font-size:22px; font-style:italic; padding:10px 20px; font-weight:400; line-height:27px; margin:10px 20px; text-align:center;}
.singlePost ul {margin:10px 0;}
.singlePost ul li {background: transparent url(../img/list-dot.png) no-repeat 0 50%; padding-left:15px; list-style:none; margin:3px 50px; font-size:16px; line-height:24px;}
.singlePost p.summary {color: #a6a088; text-align:center; margin:15px 0 30px 0; font-size:14px;}
.singlePost p {font-size:16px; line-height: 24px;}

.socialNumbers { border-radius: 50px; margin: 30px 0; padding: 10px 0 8px 0; text-align: center; }
.socialNumbers ul {margin:0;}
.socialNumbers ul li {display:inline-block; margin:2px 20px;}
.socialNumbers ul li span {width:72px; height:34px; background: transparent url(../img/cloud-bg.png) no-repeat top center; display:inline-block; line-height:33px; text-align:center; margin-left:5px;}
.socialNumbers ul li a.btn {margin-bottom:3px; white-space: nowrap;}
.socialNumbers ul li a.btn:hover {background: transparent url(../img/btn-red-bg.png) repeat-x; color:#fff;}

.comments h5 {background:transparent url(../img/hdr2-line-bg.png) repeat-x 0 50%; text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#93b2a0; white-space:nowrap; margin-bottom:40px;}
.comments h5 span.lft {background:transparent url(../img/hdr2-bg-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}
.comments h5 span.rt {background:transparent url(../img/hdr2-bg-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}
.comments h5 span.mid {background: transparent url(../img/hdr2-bg-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}

.comments {margin:15px 0;}
.comments a:hover {color:#a6c3b2;}
.comments ul ol {margin-left:13%;}
.comments ul li {display:inline-block;}
.comments .comment-content .comment-author span {color:#c8584c; font-weight:900; font-size:20px; text-transform: uppercase; display:block; padding:0 0 10px 80px;}
.comments .comment-content p {padding-left:80px;}
.comments .comment-content {width:100%; margin-bottom:20px;}
.comments .comment-content img {float:left; margin:0 5px 5px 0;}
.comments .comment-content p.summary {color: #a6a088; font-size:12px;}

.leaveComment {margin:20px 0 50px 0;}
.leaveComment h5 {background:transparent url(../img/hdr2-line-bg.png) repeat-x 0 50%; text-align:center; padding: 0; text-transform: uppercase; font-size:18px; line-height:33px; color:#93b2a0; white-space:nowrap; margin-bottom:40px;}
.leaveComment h5 span.lft {background:transparent url(../img/hdr2-bg-left.png) no-repeat 3px 79%; width:18px; height:33px; display:inline-block;}
.leaveComment h5 span.rt {background:transparent url(../img/hdr2-bg-right.png) no-repeat -3px 79%; width:18px; height:33px; display:inline-block;}
.leaveComment h5 span.mid {background: transparent url(../img/hdr2-bg-mid.png) repeat 0 0; padding:0 8px; display:inline-block; height:33px;}
.leaveComment input {width:92%;}
.leaveComment .half {width:48%; margin-bottom:20px;}
.leaveComment .btn {margin-top:20px;}
.leaveComment .btn:hover {background: #fff; color:#c8584c; border:0; text-shadow:none; box-shadow:none; color:#c8584c; }
.leaveComment .btn:active {background: #fff; color:#c8584c; border:0; text-shadow:none; box-shadow:none; }


/** PAGE 9 Contact us **/
#contactInfo {margin-bottom:40px;}
#contactInfo address {font-size:20px; font-weight:900; line-height:20px; text-transform: uppercase;}
#contactInfo address span {color:#a6a088; font-size:14px; font-weight:normal; display:inline-block; padding-bottom:2px; text-transform: none;}
#contactInfo a:hover {color:#a6c3b2;}

#request h2 {margin-bottom:40px;}
#request input.search-query {margin:0 0 12px 0; width:90%;}
#request input.search-query.error {background: #fff url(../img/error-input-bg.png) no-repeat 96% 50%; border:3px solid #c8584c; width:88%; }

#request textarea {width:97%;}
#request textarea.error {border: 3px solid #C8584C}
#request .btn {margin-top:20px;}



/** media queries, adjustments **/
@media (max-width: 1200px) {
	.fullSlider .nivo-caption {left:61%;}
}


@media (min-width: 768px) and (max-width: 979px) {

	.navbar .navbar-inner .container .nav li.dropdown a {
		background:none;
		padding:0;
	}
	.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu a  {
		padding:0;
	}

	.navbar .navbar-inner .container .nav li.active a {
		background:none;
		color:#fff;
	}
	.navbar .nav li {line-height:30px;}

    .container {text-align:center;}
	.slider .carousel-caption .w1 {width:100%; background:#fff; padding:3px; font-size:12px;}
	.slider .carousel-caption .w2 {width:100%;}
	.slider .controlContainer {background:transparent;}
	.slider .carousel-caption {bottom:0; position:static; margin:0;}
	.blogPost a.thumbnail.corner {display:block;}
	.singlePost a.thumbnail.corner {display:block;}
	.fullSlider .nivo-caption {left:68%;}
	#whatWeDoRow .moveMe {padding:0;}
}


@media (max-width: 767px) {

	input.search-query {min-height: 32px;}
	#request textarea {width:90%;}
	.container {text-align:center;}

	.navbar .navbar-inner .container .nav li.dropdown a {
		background:none;
		padding:0;
	}
	.navbar .navbar-inner .container .nav li.dropdown ul.dropdown-menu a  {
		padding:0;
	}

	.navbar .navbar-inner .container .nav li.active a {
		background:none;
		color:#fff;
	}
	.navbar .nav li {line-height:30px;}

	.workTogether p {text-align:center;}
	.slider .carousel-caption .w1 {
		width:100%;
		background:#fff;
		padding:3px;
		font-size:12px;
	}
	.slider .carousel-caption .w2 {width:100%;}
	.slider .controlContainer {background:transparent;}
	.slider .carousel-caption {bottom:0;position:static;margin:0;}

	.filterMenu ul {background:none;}
	.blogPost {padding-right:0; padding-left:0;}
	.singlePost {padding-right:0; padding-left:0;}

	.blogPost a.thumbnail.corner {display:block;}
	.singlePost a.thumbnail.corner {display:block;}
	.fullSlider .nivo-caption {margin-left:-50% !important; left:50%;}

	#whatWeDoRow .moveMe {padding:0;}

	.fullSlider h1 {
		font-size:33px;
		line-height:33px;
	}

}

@media (max-width: 480px) {
	.smallSlider .box {
		margin-top:15px;
	}
	.slider .description {
		display:none;
	}

	.slider .carousel-control {
		top:44px;
	}
	.slider .carousel-control.left {
		left:0;
	}
	.slider .carousel-control.right {
		right:0;
	}
	.slider .controlContainer {
		width:100%;
		margin:0 0 20px 0;
	}
	#sloganRow h1 {
		font-size:33px;
		line-height:33px;

	}

	.fullSlider .nivo-caption {
		display:none !important;
	}


}