<div class="featured article">
<h3>Alternative Setups</h3>
<ul>
    <li>Use the <a href="/learn/try">Neo4j Console</a> for exploration, sharing and testing</li>
    <li>Deploy an <a href="/develop/example_data">instance of the graph</a> to <a href="/develop/heroku">Heroku</a>, upload the <a href="/develop/heroku#upload">dataset</a> and optionally add a <a href="https://github.com/neo4j-examples/heroku-neo4j-proxy" target="_blank">read-only forwarder</a> to expose the Web Interface</li>
    <li>Connect with the <a href="/develop/tools/jdbc" target="_blank">JDBC driver</a> to a Neo4j Server for integration with existing tools</li>
    <li>Try the <a href="/develop/tools/neoclipse" target="_blank">Neoclipse workbench</a> (Desktop app) to query and visualize a Neo4j database</li>
</ul>
</div>