<div class="featured article">
<h3>Intro</h3>
<ul>
    <li>Our example graph consists of <code>movies</code> with an <code>id</code>, <code>year</code> and <code>title</code> and <code>actors</code> with a <code>name</code>.
        Actors have an <code>:ACTS_IN</code> relationship to movies, which represents the
        <code>role</code> they played, the role relationship has also a <code>role</code> attribute.
    </li>
    <li>We encourage you to enter the Cypher statements in the interactive console manually, but you can also click on the code snippets. <br/>Like this one
        <pre>START n=node(*) 
RETURN "Hello Graph with "+count(*)+" Nodes!" 
as welcome;</pre>
    </li>
    <img src="/assets/img/still/cineasts.gif"/>
</ul>
</div>