<div class="featured" class="mainElement">
    <div class="slide image">
    	<img src="<%= item.src %>" data-src="<%= item.src %>">
        <%- item.content %>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
