<div class="featured" class="mainElement">
    <div class="slide image">
    	<img src="<%= page.featured.src %>" data-src="<%= page.featured.src %>">
        <%- page.featured.content %>
        <div class="clear"></div>
    </div>
</div><!-- featured -->
