<% include ../head %>
<div class="container">

<div role="main" class="row">


<div class="span12">
    <div class="inner">
        <div id="drivers" class="hero-unit path">
            <h2><a><i class="icon icon-cogs"></i> Language Drivers</a></h2>

            <p class="lead">Friends of Neo4j speak many languages, and work in many frameworks. </p></div>


<div class="thumbnails drivers row-fluid">
    <% ["neo4j_rest","spring_data_neo4j","neo4j_java","neo4j_rb","neography","neo4jphp"].forEach(function(driver) { %>
        <% include _driver %>
    <% }); %>

</div>
<div class="thumbnails drivers row-fluid">
    <% [ "neo4jclient", "py2neo", "neo4j_python", "node_neo4j", "neocons", "bulbflow"].forEach(function(driver) { %>
        <% include _driver %>
    <% }); %>
</div>
<div class="thumbnails drivers row-fluid">
    <% [ "keymaker", "neoid", "neo4django","neo4j_rest_client", "neo4p", "scala" ].forEach(function(driver) { %>
        <% include _driver %>
    <% }); %>
</div>
<div class="thumbnails drivers row-fluid">
    <% [ "anorm_cypher", "haskell", "datanucleus","neo4j_go" ].forEach(function(driver) { %>
        <% include _driver %>
    <% }); %>
</div>
</div>
</div>
</div>
</div>
<% include ../foot %>

