<% include ../head %>
<div class="container">

<div role="main" class="row">


<div class="span12">
    <div class="inner">
        <div id="drivers" class="hero-unit path">
            <h2><a><i class="icon icon-cogs"></i> Language Drivers</a></h2>

            <p class="lead">Friends of Neo4j speak many languages, and work in many frameworks. </p></div>


<div class="thumbnails drivers row-fluid">
    <% [content.drivers.neo4j_rest,content.drivers.spring_data_neo4j,content.drivers.neo4j_java,content.drivers.neo4j_rb,content.drivers.neography,content.drivers.neo4jphp].forEach(function(item) { %>
        <% include ../partials/_driver %>
    <% }); %>

</div>
<div class="thumbnails drivers row-fluid">
    <% [ content.drivers.neo4jclient, content.drivers.py2neo, content.drivers.neo4j_python, content.drivers.node_neo4j, content.drivers.neocons, content.drivers.bulbflow].forEach(function(item) { %>
        <% include ../partials/_driver %>
    <% }); %>
</div>
<div class="thumbnails drivers row-fluid">
    <% [ content.drivers.keymaker, content.drivers.neoid, content.drivers.neo4django, content.drivers.neo4j_rest_client, content.drivers.neo4p, content.drivers.scala ].forEach(function(item) { %>
        <% include ../partials/_driver %>
    <% }); %>
</div>
<div class="thumbnails drivers row-fluid">
    <% [ content.drivers.grails, content.drivers.anorm_cypher, content.drivers.haskell, content.drivers.datanucleus, content.drivers.neo4j_go ].forEach(function(item) { %>
        <% include ../partials/_driver %>
    <% }); %>
</div>
</div>
</div>
</div>
</div>
<% include ../foot %>

