<% include ../head %>
<div class="container">


    <!-- Main Content Row -->
    <div class="main row">
        <div class="span8">
            <div id="learn" class="hero-unit path">
                <h2><a><i class="icon icon-cogs"></i> Easy Neo4j on Amazon EC2</a></h2>

                <p class="lead">One stop shop for setting up Neo4j on EC2</p>
            </div>
            
            <h2 id="ec2template">Setup your EC2 instance AND Neo4j using Puppet <a href="https://github.com/neo4j-contrib/neo4j-puppet/master/README.CLOUDFORMATION.md" target="_blank">(source)</a></h2>
            
            <blockquote class="external markdown">
                <%-: content.ec2_template | md %>
            </blockquote>
        </div>

        <aside class="span4 sidebar">
            <div class="next-steps">
                <h2>Next Steps</h2>

                <div class="next thumbnail">
                    <div class="caption">
                        <ul>
                            <li>Learn about <a href="/develop">developing applications</a> with Neo4j Server</li>
                            <li>Find a suitable <a href="/develop/drivers">remote driver</a> for your language</li>
                            <li>If needed, check out the <a href="ec2_detailed">detailed and manual installation instructions</a></li>
                            <li>
                                <a href="http://docs.amazonwebservices.com/AWSEC2/latest/GettingStartedGuide/Welcome.html"  target="_blank">Getting
                                    Started Guide on Amazon EC2</a></li>
                            <li>Read how to <a href="http://blogs.mindspew-age.com/2012/12/04/another-great-example-of-aws-fidelity-neo4j-cloud-init-and-eucalyptus/" target="_blank">deploy Neo4j on Eucalyptus</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </aside>
    </div>

</div>
<% include ../foot %>

