<% include ../head %>


<!-- Main Content Row -->
<div class="container">
    <div id="learn" class="hero-unit path">
        <h2><a><i class="icon icon-cogs"></i> Example Data Sets</a></h2>

        <p class="lead">Pre-canned data sets for you to explore</p>
    </div>
    <div class="row">
        <div class="span8">
            <ul>
                <li><a href="http://example-data.neo4j.org/files/drwho.zip">DrWho (0.05MB)</a><br />
                  &nbsp; Source:  <a
                        href="http://github.com/jimwebber/neo4j-tutorial">Neo4j Tutorial</a></li>
                <li><a href="http://example-data.neo4j.org/files/fec_data_presidential_2012.zip">fec_data_presidential_2012.zip (63.91MB)</a><br />
                  &nbsp; Source:  <a
                        href="http://blog.neo4j.org/2012/10/follow-data-fec-campaign-data-challenge.html"> Federal Election Committee Capaign Data Workshop</a>
                </li>
                <li><a href="http://example-data.neo4j.org/files/twitter.s12gx.zip">twitter.s12gx.zip (0.19MB)</a>
                     &nbsp; Source:  
                </li>
                <li><a href="http://example-data.neo4j.org/files/cineasts_39_movies_446_actors.zip">cineasts_39_movies_446_actors.zip
                    (0.14MB)</a><br />
                     &nbsp; Source:  small dataset of the Spring Data Neo4j Cineasts.net <a href="http://spring.neo4j.org/tutorial">tutorial</a></li>
                <li><a href="http://example-data.neo4j.org/files/cineasts_12k_movies_50k_actors.zip">cineasts_12k_movies_50k_actors.zip
                    (12.32MB)</a> <br />
                     &nbsp; Source:  Spring Data Neo4j Cineasts.net <a href="http://spring.neo4j.org/tutorial">tutorial</a>
                </li>
                <li><a href="http://example-data.neo4j.org/files/hubway_data_challenge_boston.zip">hubway_data_challenge_boston.zip
                    (50.01MB)</a><br />
                      &nbsp; Source:  The <a
                        href="http://blog.neo4j.org/2012/10/using-spring-data-neo4j-for-hubway-data.html">Hubway Data
                    Challenge</a> with Spring Data Neo4j
                </li>
                <li><a href="http://example-data.neo4j.org/files/neo4j-jdbc-driver-demo-people-dataset.zip">neo4j-jdbc-driver-demo-people-dataset.zip
                    (0.00MB)</a><br />
                     &nbsp; Source:  Neo4j <a
                        href="http://blog.neo4j.org/2012/06/wanted-your-help-in-testing-neo4j-jdbc.html">JDBC Driver
                    Test</a></li>
                <li><a href="http://example-data.neo4j.org/files/nosqlnow.zip">NoSQL Now (0.01MB)</a><br />
                     &nbsp; Source:  <a
                        href="http://blog.neo4j.org/2012/08/at-conference-need-dataset-neo4j-at.html">Sessions and
                    Tracks</a> at NOSQL-Now
                </li>
            </ul>
            <p>The ZIP-Files contain the content of the <code>graph.db</code> directory.
                To use them:
                <ul><ol>Stop your Neo4j server</ol>
                	<ol>Extract the file into <code>/path/to/neo>/data/graph.db</code></ol>
                	<ol>Start the server again</ol>
               </ul>
               <p>All data sets are compatible with Neo4j version 1.6 and later.</p>

            <iframe src="http://player.vimeo.com/video/53867161?badge=0&byline=0&portrait=0&title=0" width="500" height="281" frameborder="0"
                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <aside class="span4 sidebar">
            <div class="summary">
                <h2>Next steps</h2>

                <div class="well">
                    <h5>Start Exploring the Data</h5>
                    <ul class="circle">
                        <li>Open the <a href="http://localhost:7474" target="_blank">Neo4j Web Interface</a></li>
                        <li>Explore the Data Browser Tab</li>
                        <li>Switch to the Console Tab</li>
                        <li>Read about the <a href="/learn/cypher">Cypher</a> Query Language</li>
                        <li>Follow the source links for some example cypher queries</li>
                    </ul>
                </div>
            </div>


        </aside>
    </div>
</div>
<% include ../foot %>

