
<div class="badge">
  <h2>Briefly</h2>
    <h5>Why Graph Visualizations Rock!</h5>
</div>

<% if (item && item.items) {

  item.items.forEach(function(item) { 

      switch (item.type) {

          case 'article'          : %><% include ../partials/article/_full %><%break;
          case 'video'            : %><% include ../partials/video/_full %><%break;
          case 'event'            : %><% include ../partials/event/_full %><%break;
          case 'book'             : %><% include ../partials/book/_full %><%break;
          case 'person'           : %><% include ../partials/person/_full %><%break;
          case 'track'            : %><% include ../partials/track/_full %><%break;
          default                 : %><% include ../partials/default/_full %><%
      }
  });

} %>
