
<div class="badge">
  <h2>Briefly</h2>
    <h5>Why Graph Visualizations Rock!</h5>
    <ul class="circle">
      <li>give a quick understanding</li>
      <li>can highlight important patterns</li>
      <li>careful with hairballs</li>
      <li>represent the whiteboard model</li>
    </ul>
</div>

<% if (page.featured && page.featured.items) {

  page.featured.items.forEach(function(item) { 

      var page = {};
      page.featured = item;

      switch (item.type) {

          case 'article'          : %><% include ../partials/article/_full %><%break;
          case 'video'            : %><% include ../partials/video/_full %><%break;
          case 'event'            : %><% include ../partials/event/_full %><%break;
          case 'book'             : %><% include ../partials/book/_full %><%break;
          case 'person'           : %><% include ../partials/person/_full %><%break;
          case 'track'            : %><% include ../partials/track/_full %><%break;
          default                 : %><% include ../partials/default/_full %><%
      }
  });

} %>
