<% include ../head %>
<div class="container">

<!-- Example row of columns -->
<div role="main" class="row">


  <div class="span12">
    <div class="inner">
      <h1>Contributors - you rock.</h1>
      <p class="lead">The Neo4j project is driven by the community. Here are some individuals that you might encounter in the discussion forums or come across their projects.
      For a full list of all code contributors, please see <a href="http://docs.neo4j.org/chunked/snapshot/contributors.html">The official docs.</a></p>
      <div class="thumbnails contributors row-fluid">

          <div class="thumbnail  span3">
            <span class="thumbTop"></span>
            <a href="http://www.maxdemarzi.com">
              <img src="/assets/img/contributors/maxdemarzi.jpg" width="300" title="Max De Marzi" alt="image" />
            </a>
            <div class="caption">
              <h5>Max De Marzi</h5>
              <p>Max is a wizard in graph <a href="http://www.maxdemarzi.com">vizualisations</a>. He works on the popular <a href="https://github.com/maxdemarzi/neography">Neography Ruby Gem</a> for the Neo4j Server.</p>
            </div>
            <span class="thumbBottom"></span>
          </div>
              <div class="thumbnail  span3">
                  <span class="thumbTop"></span>
                  <a href="http://scholr.ly/">
                      <img src="/assets/img/contributors/mhluongo.jpg" width="300" title="Matt Luongo" alt="image" />
                  </a>
                  <div class="caption">
                      <h5>Matt Luongo</h5>
                      <p>Matt is building awesome technology at <a href="http://scholr.ly/">Scholr.ly</a> in Boston. He is the author of the <a href="https://github.com/scholrly/neo4django/">Neo4django</a> Django bindings for Neo4j.</p>
                  </div>
                  <span class="thumbBottom"></span>
              </div>
              <div class="thumbnail  span3">
                  <span class="thumbTop"></span>
                  <a href="https://github.com/andreasronge/neo4j">
                      <img src="/assets/img/contributors/ronge.jpeg" width="300" title="Andreas Ronge" alt="image" />
                  </a>
                  <div class="caption">
                      <h5>Andreas Ronge</h5>
                      <p>Andreas is a long time Neo4j contributor and author of the Neo4j <a href="https://github.com/andreasronge/neo4j">JRuby and Rails bindings</a></p>
                  </div>
                  <span class="thumbBottom"></span>
              </div>
              <div class="thumbnail  span3">
                  <span class="thumbTop"></span>
                  <a href="http://www.amanzi.org/">
                      <img src="/assets/img/contributors/craigtaverner.jpg" width="300" title="Craig Taverner" alt="image" />
                  </a>
                  <div class="caption">
                      <h5>Craig Taverner</h5>
                      <p>Craig is a GIS expert and author of the Neo4j <a href="https://github.com/neo4j/spatial">Spatial Plugin</a></p>
                  </div>
                  <span class="thumbBottom"></span>
              </div>
      </div>
      <div class="thumbnails contributors row-fluid">
              <div class="thumbnail  span3">
                  <span class="thumbTop"></span>
                  <a href="http://blog.nigelsmall.net/">
                      <img src="/assets/img/contributors/nigelsmall.jpg" width="300" title="Nigel Small" alt="image" />
                  </a>
                  <div class="caption">
                      <h5>Nigel Small</h5>
                      <p>Nigel created <a href="http://geoff.nigelsmall.net">Geoff</a> and is the author of the Neo4j <a href="http://py2neo.org/">Py2neo</a> library</p>
                  </div>
                  <span class="thumbBottom"></span>
              </div>
		    <div class="thumbnail  span3">
		        <span class="thumbTop"></span>
		        <a href="http://blog.tatham.oddie.com.au/">
		            <img src="/assets/img/contributors/tathamoddie.jpg" width="300" title="Tatham Oddie" alt="image" />
		        </a>
		        <div class="caption">
		            <h5>Tatham Oddie</h5>
		            <p>Tatham built the <a href="http://hg.readify.net/neo4jclient/overview">.Net Neo4jClient</a> and deploys <a href="http://blog.tatham.oddie.com.au/2012/06/18/new-talks-neo4j-in-a-net-world-and-youre-in-production-now-what/">Neo4j on Azure</a></p>
		        </div>
		        <span class="thumbBottom"></span>
		    </div>

      </div>
    </div>
  </div>

</div>

    <h2 id="map">The Graphistas map - add yourself!</h2>
    <p>Go to the <a target="_blank"
                       href="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=215787240736307886514.00049e70e573cbd8a91e5&amp;t=m&amp;ll=24.527135,-20.039062&amp;spn=123.963155,225&amp;z=2&amp;source=embed"
                       style="text-align:left">map edit page</a>. Then zoom to your place, hit the red "Edit" button and then place a landmark, add your info and a icon from the google selection. Click the "Done", when you're satisfied.</p>
    <div class="row">
        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=215787240736307886514.00049e70e573cbd8a91e5&amp;t=m&amp;ll=24.527135,-20.039062&amp;spn=123.963155,225&amp;z=2&amp;output=embed"></iframe>
        <br/>
        <small>View <a target="_blank"
                       href="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=215787240736307886514.00049e70e573cbd8a91e5&amp;t=m&amp;ll=24.527135,-20.039062&amp;spn=123.963155,225&amp;z=2&amp;source=embed"
                       style="text-align:left">Graphistas</a> in a larger map
        </small>
    </div>

</div>
<% include ../foot %>

