<table class="events">
    <tr>
        <th style="width:40%">Title</th>
        <th style="width:40%">Location</th>
        <th style="width:15%">Date</th>
        <!--<th>Presenter</th>-->
        <th style="width:5%"></th>
    </tr>
    <%
var _events = (requestedSource == "calendar") ? events : events2;

for (var i=0;i<_events.length;i++) {
    var event=_events[i];
    if (!event) continue;
    var type=event.Type;
    if (!requestedType || requestedType == "Conference" || type == requestedType) {
%>
        <% include event_table %>
<%
    }
}
%>
</table>
