<% include ../head %>
<div class="mainpage">


    <h1>Neo4j Events</h1>
    <div class="introText">
    <p>Join the Neo4j community at one of our events! Learn about Neo4j at a conference, meet other Neo4j users at a meet up, or quickly get up to speed at a Neo4j training near you.</p>
    
    <p>If you want to learn more about Neo4j nothing beats a hands on experience. Listen to our community members and driver authors,
    talk to our engineers or discuss with our customers. There are many Neo4j Meetups, Trainings and Conferences happening everywhere and
    at any time.</p>
    </div>
    <!--<h3>Events for your region: -->
		<!--<select id="region" style="width:10em;height:1.8em;vertical-align:baseline;">-->
		   <!--<option value="WORLD">All</option>-->
		   <!--<option value="US">North America</option>-->
		   <!--<option value="EU">Europe</option>-->
		   <!--<option value="DE">Germany, Austria, Switzerland</option>-->
		<!--</select>-->
    <!--</h3>-->
        
        <%  
			var groupedEvents = {Conference:[],Meetup:[],Webinar:[],Training:[]};
			for (var i=0;i<events.length;i++) {
			    var event=events[i];
			    if (!event) continue;
			    var type=event.Type;
			    if (!groupedEvents[type]) { type="Conference"; event.Type=type;}
				groupedEvents[type].push(event);
			}
	        %>
			<% 	for (type in groupedEvents) { %>

                <br/>
			    <h2><%= type %></h2>
                <table class="events">
                    <tr>
                        <th style="width:40%">Title</th>
                        <th style="width:40%">Location</th>
                        <th style="width:15%">Date</th>
                        <!--<th>Presenter</th>-->
                        <th style="width:5%"></th>
                    </tr>
                    <% groupedEvents[type].forEach(function(event) { %>
                    <% include event_table %>
                    <% }); %>
                </table>
			<% } %>
</div>

<script type="text/javascript">
$(document).ready(function() {
    var region="<%= region %>";
	
	function filterByRegion(region) {
    	$(".event").each(function() {
    		var area = $(this).attr("area");
    		if (!area || area=='WORLD' || region=='WORLD' || area==region) $(this).show();
    		else $(this).hide();
    	})
//        nav.resize();
    }
	$("#region").val(region).change(function() {
	    filterByRegion($(this).val());
	})
	filterByRegion(region);
	
/*
    $('div.meetup').each(function() {
        var e=$(this);
        $.get("/api/meetup?group="+e.attr("group")+"&event="+e.attr("event"), function(data,err) {
            e.html(data);
        })
    })
*/
})
</script>
    <% include ../foot %>

