<table class="events">
    <tr>
        <th class="event_title"><%= requestedType=="Training" ? "Course":""%> Title</th>
        <th class="event_location">Location</th>
        <th class="event_date">Date</th>
        <th class="event_presenter">Presenter</th>
        <th class="event_register"></th>
    </tr>
    <%
var _events = events; // (requestedSource == "calendar") ? events : events2;

for (var i=0;i<_events.length;i++) {
    var event=_events[i];
    if (!event) continue;
    var type=event.Type;
    if (!requestedType || requestedType == "Conference" || type == requestedType) {
%>
        <% include event_table %>
<%
    }
}
%>
</table>
