<div id="twitter" class="item widget widget_Twidget">
    <a class="twitter-timeline" data-dnt=true href="https://twitter.com/neo4j" data-widget-id="281918045121814528">
        <h3></h3>
    </a>
<script>!function (d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (!d.getElementById(id)) {
    js = d.createElement(s);
    js.id = id;
    js.src = "//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
}
}(document, "script", "twitter-wjs");

$(document).ready(function() {
   function styleTwitterWidget() {
       var iframe=$("#twitter-widget-0");
       if (!iframe.length) {
           setTimeout(styleTwitterWidget,250);
       } else {
           iframe.attr("style","border: none; max-width: 100%;");
       }
   }
   styleTwitterWidget();
})
</script>
</div>